.inclination_bar.full
  .name.ellipsis= name
  .value
    .indicator
      .half.negative
        .bar{:style=>r[1]*100<=0 ? "width: #{r[1]*(-width/2)}px ;" : 'visibility: hidden'}
      .half.positive
        .bar{:style=> r[1]*100>=  2 ? ("width: #{r[1]*(width/2)}px ;") : 'visibility: hidden'}
      .percent.center-text= (r[1]*100).round().to_i.to_s + "%"