%h3.legend Mapa
#map_canvas.small_map{'data-lat'=>restaurant.lat,'data-lng'=>restaurant.lng,'data-zoom'=> 16}
%h3.legend=t(:address).titleize
%p= restaurant.address
%p= PROVINCES[restaurant.province] +", España"
%h3.legend Cocina
- if restaurant.first_cat
  .categories_display
    = render('shared/common/pieces/percentage_bar',:name=>FOOD_TYPES[restaurant.first_cat],:val=>restaurant.first_cat_ratio,:percent=>true,:width=>112)
    = render('shared/common/pieces/percentage_bar',:name=>FOOD_TYPES[restaurant.second_cat],:val=>restaurant.second_cat_ratio,:percent=>true,:width=>112) if restaurant.second_cat
    = render('shared/common/pieces/percentage_bar',:name=>FOOD_TYPES[restaurant.third_cat],:val=>restaurant.third_cat_ratio,:percent=>true,:width=>112) if restaurant.third_cat
-else
  No tenemos información al respecto
.contact
  %h3.legend= t(:contact).humanize
  - [:tlf,:email,:web].map { |o| [o, restaurant[o] ? restaurant[o].to_s : '-' ] }.each do |pair|
    = label_value_tag pair[0], pair[1]
%h3.legend=t(:services).humanize
- restaurant.servicios.each do |servicio|
  = render "shared/restaurant_partials/service_logo",:expanded=>true,:servicio => servicio if servicio[1]