%h3.legend= t(@section).humanize
%h6.superindex.right-text= @explanation
.edit_map_buttons.float-left{:style=>'width: auto;'}
  #capture_sv.center-text.round-corners=image_tag "camera_white_mini.png",:alt=>"Guardar coordenadas de StreetView"
  #put_marker.center-text.round-corners=image_tag "google-marker-white-mini.png",:alt=>"Colorcar marcador"
#photo_effect.medium_map
#map_canvas.medium_map.edit_map