/* ******* IMPORTS ******** */
/* ****** Mixins ****** */
/**** VARIABLES ***** */
/* ***** ESTILOS GENERALES DE LA PAGINA ***** */
* { margin: 0; padding: 0; }

body { font-family: "Trebuchet MS", Helvetica, Arial; font-size: 11px; color: gray; }
body html, body body, body div, body span, body applet, body object, body iframe, body h1, body h2, body h3, body h4, body h5, body h6, body p, body blockquote, body pre, body a, body abbr, body acronym, body address, body big, body cite, body code, body del, body dfn, body em, body font, body img, body ins, body kbd, body q, body s, body samp, body small, body strike, body strong, body sub, body sup, body tt, body var, body dl, body dt, body dd, body ol, body ul, body li, body fieldset, body form, body label, body legend, body table, body caption, body tbody, body tfoot, body thead, body tr, body th, body td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
body body { line-height: 1; color: black; background: white; }
body ol, body ul { list-style: none; }
body table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }
body caption, body th, body td { text-align: left; font-weight: normal; vertical-align: middle; }
body q, body blockquote { quotes: "" ""; }
body q:before, body q:after, body blockquote:before, body blockquote:after { content: ""; }
body a img { border: none; }
body a { font-weight: bold; color: #4682b4; text-decoration: none; }
body li { display: block; }
body header .title { font-size: 17px; color: #555555; }
body header .subtitle { font-size: 11px; padding: 0 0 0 7%; font-style: italic; color: #999999; }
body img { display: block; }
body fieldset { border: none; }
body fieldset input[type="text"], body fieldset input[type="password"], body fieldset input[type="email"], body fieldset textarea, body fieldset select { width: 370px; max-width: 400px; height: 24px; }
body fieldset .button { text-align: center; }

/* ****** Clases para estilar elementos ****** */
#map_canvas.big_map, #map_canvas.medium_map { -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; height: 550px; border: 2px solid #444444; width: 1024px; }
#map_canvas.medium_map { height: 300px; width: 100%; }

.pic.small { height: 53px; width: 53px; border: 1px solid lightgray; }

.anotation { color: lightgray; font-style: italic; text-align: right; }

.minilegend { border-bottom: 1px dotted lightgray; padding: 0 0 2px 5px; margin-bottom: 3px; }

.visible { display: block; }

.invisible { display: none; }

.fake_button { border: 1px solid lightgray; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; padding: 4px 5px; color: gray; background: #f4f4f4; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd)); background-image: -moz-linear-gradient(top, #ffffff, #dddddd); background-image: linear-gradient(top, #ffffff, #dddddd); }

/* ****** Fieldsets ***** */
fieldset .field { float: left; width: 100%; }
fieldset .field > .col { padding: 15px 10px; }
fieldset .field > .col.label { float: left; width: 22%; text-align: right; padding-top: 17px; }
fieldset .field > .col.input { float: left; width: 78%; }

.fieldset_bicolumn > .col .field .col.label { width: 55%; }
.fieldset_bicolumn > .col .field .col.input { width: 45%; }
.fieldset_bicolumn > .col.left_col { float: left; width: 45%; }
.fieldset_bicolumn > .col.right_col { float: left; width: 45%; }

/* ****** Estilos generales de elementos ****** */
input[type=text], input[type=password], input[type=email], input[type=submit], input[type=button], textarea { border: 1px solid lightgray; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; height: 21px; }
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=submit]:focus, input[type=button]:focus, textarea:focus { outline: none; -moz-box-shadow: 0 0 7px #dddddd; -webkit-box-shadow: 0 0 7px #dddddd; -o-box-shadow: 0 0 7px #dddddd; box-shadow: 0 0 7px #dddddd; }

textarea { min-height: 175px; }

input[type=text], input[type=password], input[type=email] { width: 150px; padding-left: 5px; }

input[type=submit], input[type=button] { color: gray; background: #f4f4f4; padding: 0 10px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #dadada)); background-image: -moz-linear-gradient(top, #fbfbfb, #dadada); background-image: linear-gradient(top, #fbfbfb, #dadada); }
input[type=submit]:hover, input[type=button]:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e4e4e4)); background-image: -moz-linear-gradient(top, #ffffff, #e4e4e4); background-image: linear-gradient(top, #ffffff, #e4e4e4); }
input[type=submit]:active, input[type=button]:active { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d0d0d0), color-stop(100%, #f0f0f0)); background-image: -moz-linear-gradient(top, #d0d0d0, #f0f0f0); background-image: linear-gradient(top, #d0d0d0, #f0f0f0); }

.photos { display: block; margin-bottom: 5px; }
.photos#main_photo { border: 1px solid lightgray; }
.photos#main_photo img { width: 168px; }
.photos.photo_list .photo { display: inline-block; border: 1px solid lightgray; }
.photos.photo_list .photo img { border: 1px solid white; }
.photos.photo_list .photo.selected img { border: 1px solid yellow; }
.photos.photo_list .photo.mini img { width: 52px; height: 52px; }
.photos.photo_list .photo.small img { width: 96px; height: 96px; }

.scalable { -moz-transition-property: -webkit-transform; -webkit-transition-property: -webkit-transform; -o-transition-property: -webkit-transform; transition-property: -webkit-transform; -moz-transition-property: -moz-transform; -webkit-transition-property: -moz-transform; -o-transition-property: -moz-transform; transition-property: -moz-transform; -moz-transition-property: -o-transform; -webkit-transition-property: -o-transform; -o-transition-property: -o-transform; transition-property: -o-transform; -moz-transition-property: transform; -webkit-transition-property: transform; -o-transition-property: transform; transition-property: transform; -moz-transition-duration: 0.4s; -webkit-transition-duration: 0.4s; -o-transition-duration: 0.4s; transition-duration: 0.4s; }
.scalable:hover { -moz-transition-delay: 0.3s; -webkit-transition-delay: 0.3s; -o-transition-delay: 0.3s; transition-delay: 0.3s; -moz-transform: scale(1.7, 1.7); -webkit-transform: scale(1.7, 1.7); -o-transform: scale(1.7, 1.7); -ms-transform: scale(1.7, 1.7); transform: scale(1.7, 1.7); -moz-box-shadow: 0 0 10px #999999; -webkit-box-shadow: 0 0 10px #999999; -o-box-shadow: 0 0 10px #999999; box-shadow: 0 0 10px #999999; }
.scalable.very:hover { -moz-transform: scale(2.5, 2.5); -webkit-transform: scale(2.5, 2.5); -o-transform: scale(2.5, 2.5); -ms-transform: scale(2.5, 2.5); transform: scale(2.5, 2.5); }

.add_new_photo { text-align: right; padding: 0px 0 5px 0; }
.add_new_photo a { font-weight: normal; font-size: 10px; }

.upload_field { width: 100%; }
.upload_field .delete_photo { padding-top: 5px; float: left; width: 13px; height: 21px; }
.upload_field .photos { float: left; width: auto; border: 1px solid lightgray; }
.upload_field .photos .photo { position: relative; }
.upload_field .photos .photo img { border: 1px solid white; width: 170px; }
.upload_field .photos .photo .delete_inner { opacity: 0; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); -moz-transition-property: opacity; -webkit-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; -moz-transition-duration: 0.4s; -webkit-transition-duration: 0.4s; -o-transition-duration: 0.4s; transition-duration: 0.4s; -moz-transition-timing-function: linear; -webkit-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; background: rgba(0, 0, 0, 0.5) url(/images/close_mini.png) center no-repeat; position: absolute; width: 26px; height: 26px; top: 1px; left: 1px; }
.upload_field .photos .photo:hover .delete_inner { -moz-transition-property: opacity; -webkit-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; -moz-transition-duration: 0.3s; -webkit-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; -moz-transition-timing-function: linear; -webkit-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; z-index: 2; opacity: 0.7; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); }
.upload_field .photos .photo:hover .delete_inner:hover { opacity: 1; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); }
.upload_field .photo_upload { margin-bottom: 10px; float: left; width: 50px; height: 21px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd)); background-image: -moz-linear-gradient(top, #ffffff, #dddddd); background-image: linear-gradient(top, #ffffff, #dddddd); border: 1px solid lightgray; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; overflow: hidden; }
.upload_field .photo_upload .input input { opacity: 0; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); }
.upload_field .selected_file { float: left; width: 88px; margin-left: 2px; padding-top: 4px; height: 21px; overflow: hidden; background: pink; }
.upload_field .submit { float: left; width: 15px; }

/* ***** Mis Variables ***** */
/* ***** MIXINS BASICOS ***** */
/* ***** MIXINS PARA ANIMACIONES ***** */
/* ****** MIXINS PARA COLUMNADO ****** */
/* ***** Mixin de estilo ****** */
/* ****** Application.html.haml ***** */
body { /* **** #main_nav **** */ }
body * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
body > #main_header { height: 60px; background: #696969; }
body > #main_nav { float: left; width: 100%; height: 25px; color: white; background: #3a3a3a; }
body > #main { width: 1024px; margin: 0 auto; clear: both; }
body > #main > div { float: left; }
body > #main_footer { width: 1024px; margin: 0 auto; clear: both; border-top: 1px solid lightgray; }
body #main_nav a { color: white; }
body #main_nav .links { width: 1024px; margin: 0 auto; clear: both; padding: 5px 0; }
body #main_nav .links section { float: left; width: 512px; }
body #main_nav .links section > div { float: left; width: 70px; }
body #main_nav .links section#auth_section > div { float: right; }
body #main_nav .links section .menuitem { width: 200px; height: 20px; background: #3a3a3a; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -o-border-bottom-left-radius: 5px; -ms-border-bottom-left-radius: 5px; -khtml-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -o-border-bottom-right-radius: 5px; -ms-border-bottom-right-radius: 5px; -khtml-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; -moz-transition-property: height; -webkit-transition-property: height; -o-transition-property: height; transition-property: height; -moz-transition-duration: 0.4s; -webkit-transition-duration: 0.4s; -o-transition-duration: 0.4s; transition-duration: 0.4s; -moz-transition-timing-function: ease-out; -webkit-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; overflow: hidden; }
body #main_nav .links section .menuitem:hover { height: 180px; }
body #main_nav .links section .menuitem .visible_title, body #main_nav .links section .menuitem .content { width: inherit; float: left; text-align: center; }
body #main_nav .links section .menuitem .content { padding: 10px 5px; }
body #main_nav .links section .menuitem .content li { display: inline; }

/* ****** DEVISE ****** */
#sign_in, #sign_up { width: 600px; margin: 0 180px; min-height: 200px; height: auto !important; height: 200px; }
#sign_in h1, #sign_in .auth_providers, #sign_up h1, #sign_up .auth_providers { text-align: center; margin: 10px; }
#sign_in p, #sign_up p { font-size: 12px; }
#sign_in .field > div, #sign_up .field > div { padding-bottom: 3px; }
#sign_in .buttons, #sign_up .buttons { margin-top: 10px; }

#devise_links { text-align: right; }
#devise_links p { display: inline; margin: 10px; }

#sign_in_reduced input[type=text], #sign_in_reduced input[type=password], #sign_in_reduced input[type=email], #sign_in_reduced input[type=submit] { width: 150px; margin: 3px; }
#sign_in_reduced input[type=submit] { width: auto; }

/* ***** Bicolumn ***** */
.bicolumn { min-height: 400px; height: auto !important; height: 400px; }
.bicolumn > .col { padding: 10px; min-height: inherit; height: auto !important; height: inherit; }
.bicolumn > .col .legend { padding: 5px 10px; margin: 10px 0; border-bottom: 1px solid lightgray; font-size: 15px; }
.bicolumn > .col .legend.super { font-size: 15px; text-align: center; }
.bicolumn > .col .legend.infra { font-size: 12px; margin: 10px; }
.bicolumn > .col:nth-child(1) { float: left; width: 213.333px; background: #eeeeee; border: 1px solid white; border-right: 2px ridge rgba(255, 255, 255, 0.5); border-left: 2px groove rgba(255, 255, 255, 0.5); }
.bicolumn > .col:nth-child(1) li { padding: 10px; border-bottom: 1px solid lightgray; }
.bicolumn > .col:nth-child(1) .highlight { visibility: hidden; position: relative; float: right; width: 108%; top: 26px; height: 38px; background-color: white; border: 1px solid lightgray; border-right: 1px solid white; margin-right: -13px; -moz-transition-property: top; -webkit-transition-property: top; -o-transition-property: top; transition-property: top; -moz-transition-duration: 0.3s; -webkit-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; -moz-transition-timing-function: ease-out; -webkit-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; }
.bicolumn > .col:nth-child(1) li:nth-child(1) { margin-top: 27px; }
.bicolumn > .col:nth-child(1) li a { position: relative; }
.bicolumn > .col:nth-child(2) { float: left; width: 810.667px; }

/* ***** Tricolumn ***** */
.tricolumn { min-height: 900px; height: auto !important; height: 900px; }
.tricolumn > .col { padding: 10px; min-height: inherit; height: auto !important; height: inherit; }
.tricolumn > .col .legend { padding: 5px 10px; margin: 10px 0; border-bottom: 1px solid lightgray; font-size: 15px; }
.tricolumn > .col .legend.super { font-size: 15px; text-align: center; }
.tricolumn > .col .legend.infra { font-size: 12px; margin: 10px; }
.tricolumn > .col:nth-child(1) { float: left; width: 213.333px; background: #eeeeee; border: 1px solid white; border-right: 2px ridge rgba(255, 255, 255, 0.5); border-left: 2px groove rgba(255, 255, 255, 0.5); }
.tricolumn > .col:nth-child(1) li { padding: 10px; border-bottom: 1px solid lightgray; }
.tricolumn > .col:nth-child(1) .highlight { visibility: hidden; position: relative; float: right; width: 108%; top: 26px; height: 38px; background-color: white; border: 1px solid lightgray; border-right: 1px solid white; margin-right: -13px; -moz-transition-property: top; -webkit-transition-property: top; -o-transition-property: top; transition-property: top; -moz-transition-duration: 0.3s; -webkit-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; -moz-transition-timing-function: ease-out; -webkit-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; }
.tricolumn > .col:nth-child(1) li:nth-child(1) { margin-top: 27px; }
.tricolumn > .col:nth-child(1) li a { position: relative; }
.tricolumn > .col:nth-child(2) { float: left; width: 640px; }
.tricolumn > .col:nth-child(2) .legend { margin-left: 15px; margin-right: 15px; }
.tricolumn > .col:nth-child(2) .presentation .title { font-size: 22px; }
.tricolumn > .col:nth-child(2) .presentation .subtitle { display: inline-block; padding: 0; vertical-align: sub; }
.tricolumn > .col:nth-child(3) { float: left; width: 170.667px; padding: 10px 0; /* ******  Estilos para el fomulario de subir fotos. Temporal  ****** */ }
.tricolumn .col:first-child #map_canvas { margin: 5px 0; width: 100%; height: 175px; outline: 2px solid lightgray; }
.tricolumn .col > div { float: left; width: 100%; }
.tricolumn .col .foto { height: 160px; border: 1px solid lightgray; }
.tricolumn .col .service { margin: 1px 0; line-height: 5px; }
.tricolumn .col .service div { float: left; height: 26px; }
.tricolumn .col .service .name { padding: 10px 0 0 15px; font-size: 11.5px; }
.tricolumn #photo_fieldset * { padding: 0; margin: 0; }
.tricolumn #photo_fieldset .field { padding: 5px 0; }
.tricolumn #photo_fieldset .field .col { float: left; width: auto; }
.tricolumn #photo_fieldset .field .col input[type=text] { width: 120px; }

/* ***** Todos los Index ***** */
.index nav.filter, .index .paginate { padding: 15px 0; }
.index nav.filter { float: left; width: 632.533px; }
.index nav.filter .field, .index nav.filter .field div { float: left; height: 25px; }
.index nav.filter .field { width: 316.267px; margin: 0 0 5px 0; }
.index nav.filter .field .label { padding: 5px 3px; text-align: right; width: 90px; }
.index nav.filter .field .input { width: 226.267px; padding: 2px; }
.index nav.filter .field .input input[type=text], .index nav.filter .field .input input[type=password], .index nav.filter .field .input input[type=email], .index nav.filter .field .input select { width: 222.267px; }
.index nav.filter .buttons { clear: both; text-align: right; }
.index nav.filter .buttons .button { padding: 2px; }
.index .paginate { float: right; width: 158.133px; text-align: center; }
.index .paginate span { font-size: 11px; }
.index .paginate a, .index .paginate em { border: 1px solid lightgray; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; padding: 1px 5px; }
.index .paginate a { color: gray; background: #f4f4f4; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd)); background-image: -moz-linear-gradient(top, #ffffff, #dddddd); background-image: linear-gradient(top, #ffffff, #dddddd); }
.index .paginate em { color: #d3d3d3; }
.index .paginate .pages, .index .paginate .x_of_x { padding-top: 5px; }
.index .table { clear: both; }
.index .table .row { border-bottom: 1px solid #eeeeee; padding: 4px; }
.index .table .row:first-child { border-top: 1px solid #eeeeee; }
.index .table .row > .field { display: inline-block; padding: 0 5px; }
.index .table .row > .field:first-child { padding-left: 0; }
.index .table .row > .field:last-child { padding-right: 0; }

/* ****** Parcial de review ****** */
article.review { float: left; width: 100%; border-bottom: 1px dotted lightgray; padding: 15px 0; line-height: 170%; }
article.review .author { padding-top: 10px; font-size: 10px; float: left; width: 20%; }
article.review .author .avatar { float: left; width: 100%; height: 115px; border: 1px solid lightgray; }
article.review .author .stats { margin-top: 15px; }
article.review .author .stats .minilegend { line-height: 100%; }
article.review .author .stats .subindice { text-align: right; font-style: italic; color: lightgray; font-size: 10px; margin: -11px -4px 0 0; }
article.review .author .stats p { text-indent: 8px; font-style: italic; font-size: 9px; }
article.review .review_content { float: left; width: 80%; padding: 0 0 0 10px; }
article.review .review_content > .date { text-align: right; font-style: italic; color: lightgray; font-size: 10px; margin: -11px -4px 0 0; }
article.review .review_content > .date span { padding-right: 20px; font-style: normal; }
article.review .review_content > .date span a { font-weight: normal; }
article.review .review_content > .opinion, article.review .review_content > .extra_info { float: left; width: 100%; padding: 15px 0; }
article.review .review_content > .opinion > div .section_title, article.review .review_content > .extra_info > div .section_title { font-weight: 600; color: #4682b4; }
article.review .review_content > .opinion > div p, article.review .review_content > .extra_info > div p { padding-left: 15px; }
article.review .review_content > .opinion > div:nth-child(1), article.review .review_content > .extra_info > div:nth-child(1) { float: left; width: 42.5%; }
article.review .review_content > .opinion > div:nth-child(2), article.review .review_content > .extra_info > div:nth-child(2) { float: left; width: 1%; }
article.review .review_content > .opinion > div:nth-child(3), article.review .review_content > .extra_info > div:nth-child(3) { float: left; width: 56.5%; padding-left: 20px; }
article.review .review_content > .opinion .separator, article.review .review_content > .extra_info .separator { border: 1px dotted #eeeeee; height: 160px; }
article.review .review_content > .opinion { line-height: 21px; }
article.review .review_content > .opinion .valorations img { display: inline; }
article.review .review_content > .opinion .valorations .name { padding: 2px 0 2px 15px; float: left; width: 46%; }
article.review .review_content > .opinion .valorations .value { float: left; width: 54%; }
article.review .review_content > .extra_info { font-size: 10px; background-color: #f5f5f5; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }
article.review .review_content > .extra_info .section_title { text-align: center; }
article.review .review_content > .extra_info .photos { padding-left: 4px; }
article.review .review_content > .extra_info .menu .course, article.review .review_content > .extra_info .menu .total { float: left; width: 100%; padding-left: 20px; }
article.review .review_content > .extra_info .menu .course .name, article.review .review_content > .extra_info .menu .total .name { float: left; width: 75%; }
article.review .review_content > .extra_info .menu .course .price, article.review .review_content > .extra_info .menu .total .price { text-align: right; float: right; width: 25%; padding-right: 5px; }
article.review .review_content > .extra_info .course .name { display: list-item; }
article.review .review_content > .extra_info .total .name { text-align: right; }
article.review .review_content > .extra_info .total .price { border-top: 1px solid lightgray; }

/* popeye example 1 */
#ppy1 .ppy-active { width: 150px; float: right; margin: 0 0px 10px 0; }
#ppy1 .ppy-outer { padding: 2px; border: 1px solid lightgray; background: white; }
#ppy1 .ppy-outer:hover, #ppy1 .ppy-outer .ppy-expanded .ppy-outer { -moz-box-shadow: 0 0 7px #cccccc; -webkit-box-shadow: 0 0 7px #cccccc; -o-box-shadow: 0 0 7px #cccccc; box-shadow: 0 0 7px #cccccc; }
#ppy1 .ppy-stage { width: 170px; height: 150px; }
#ppy1 .ppy-caption { margin: 2px 0 0 5px; padding: 5px; float: left; line-height: 1.3em; background: rgba(90, 90, 90, 0.4); -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 0 0 7px #cccccc; -webkit-box-shadow: 0 0 7px #cccccc; -o-box-shadow: 0 0 7px #cccccc; box-shadow: 0 0 7px #cccccc; visibility: hidden; }
#ppy1 .ppy-caption a { color: #66bde9; }
#ppy1 .ppy-caption a:hover { text-decoration: underline; }
#ppy1 .ppy-counter { color: whitesmoke; padding: 0 0 2px 0; margin: 0 0 5px 0; font-size: 0.9em; }
#ppy1 .ppy-stagewrap { background: #0c3b3d; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }
#ppy1 .ppy-loading { background: rgba(0, 0, 0, 0.5) url(/images/popeye/loading3.gif) no-repeat center !important; }
#ppy1 .ppy-nav { background: rgba(0, 0, 0, 0.5); width: 88px; height: 32px; padding: 5px; position: absolute; top: 2px; left: 2px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; }
#ppy1 .ppy-nav a { display: block; overflow: hidden; text-indent: -900em; height: 26px; float: left; padding: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }
#ppy1 .ppy-nav a:hover { cursor: pointer; }
#ppy1 .ppy-prev { width: 22px; background: url(/images/popeye/prev3.png) no-repeat center; }
#ppy1 .ppy-next { width: 22px; background: url(/images/popeye/next3.png) no-repeat center; }
#ppy1 .ppy-switch-enlarge { width: 33px; background: url(/images/popeye/enlarge4.png) no-repeat center; }
#ppy1 .ppy-switch-compact { width: 33px; background: url(/images/popeye/compact4.png) no-repeat center; }
#ppy1 .ppy-prev, #ppy1 .ppy-next, #ppy1 .ppy-switch-enlarge, #ppy1 .ppy-switch-compact { opacity: 0.6; }
#ppy1 .ppy-prev:hover, #ppy1 .ppy-next:hover, #ppy1 .ppy-switch-enlarge:hover, #ppy1 .ppy-switch-compact:hover { opacity: 1; }

/* ****** Estilos de botones para edit_map ****** */
#capture_sv, #put_marker { text-align: center; position: absolute; z-index: 0; opacity: 0; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); margin-top: 275px; margin-left: 250px; float: left; width: 50px; color: white; background: rgba(0, 0, 0, 0.7); border: 1px solid white; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; -moz-transition-property: opacity; -webkit-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transition-timing-function: linear; -webkit-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; -moz-transition-delay: 0s; -webkit-transition-delay: 0s; -o-transition-delay: 0s; transition-delay: 0s; }
#capture_sv img, #put_marker img { padding: 5px 12px; }
#capture_sv:hover, #put_marker:hover { background: rgba(30, 30, 30, 0.7); }
#capture_sv.visible, #put_marker.visible { -moz-transition-property: opacity; -webkit-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transition-timing-function: linear; -webkit-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; -moz-transition-delay: 0.5s; -webkit-transition-delay: 0.5s; -o-transition-delay: 0.5s; transition-delay: 0.5s; z-index: 100; opacity: 1; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); }

#put_marker { margin-left: 310px; }
#put_marker img { padding: 5px 18px; }

#photo_effect { width: 620px; height: 300px; position: absolute; background: white; z-index: -1; opacity: 0; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); -moz-transition-property: opacity,z-index; -webkit-transition-property: opacity,z-index; -o-transition-property: opacity,z-index; transition-property: opacity,z-index; -moz-transition-duration: 0.4s, 0s; -webkit-transition-duration: 0.4s, 0s; -o-transition-duration: 0.4s, 0s; transition-duration: 0.4s, 0s; -moz-transition-timing-function: linear; -webkit-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; -moz-transition-delay: 0s, 0.4s; -webkit-transition-delay: 0s, 0.4s; -o-transition-delay: 0s, 0.4s; transition-delay: 0s, 0.4s; }
#photo_effect.visible { -moz-transition-property: opacity,z-index; -webkit-transition-property: opacity,z-index; -o-transition-property: opacity,z-index; transition-property: opacity,z-index; -moz-transition-duration: 0s, 0s; -webkit-transition-duration: 0s, 0s; -o-transition-duration: 0s, 0s; transition-duration: 0s, 0s; -moz-transition-timing-function: linear; -webkit-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; -moz-transition-delay: 0s, 0s; -webkit-transition-delay: 0s, 0s; -o-transition-delay: 0s, 0s; transition-delay: 0s, 0s; opacity: 0.9; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); z-index: 100; }

#geolocate { float: left; width: 75px; margin: 0 280px; }
#geolocate img, #geolocate .text { display: inline; }
#geolocate img { margin: -3px 2px -5px 0; }

/* ****** Home#main ****** */
#main #map_container #expandible_menu { position: absolute; float: left; width: auto; height: 546px; margin: 2px 0 0 2px; z-index: 100; }
#main #map_container #expandible_menu #filter_form { float: left; height: 546px; background-color: rgba(0, 0, 0, 0.8); }
#main #map_container #expandible_menu #filter_form form fieldset { height: 35px; padding: 5px 0px 0px 10px; }
#main #map_container #expandible_menu #filter_form form fieldset input { height: 25px; background: transparent; }
#main #map_container #expandible_menu #filter_form form fieldset input:hover { background: rgba(85, 85, 85, 0.5); }
#main #map_container #expandible_menu #filter_form form fieldset input[type=text] { width: 140px; }
#main #map_container #expandible_menu #filter_form form fieldset input[type=submit] { color: whitesmoke; }
#main #map_container #expandible_menu #filter_form form fieldset label { font-weight: bold; }
#main #map_container #expandible_menu #filter_form #more_up, #main #map_container #expandible_menu #filter_form #more_down { float: left; width: 25px; border: 1px solid whitesmoke; margin-left: 88px; padding-left: 7px; background-color: rgba(42, 42, 42, 0.5); }
#main #map_container #expandible_menu #filter_form #more_up_container { height: 12px; padding-top: 12px; margin-bottom: -1px; overflow-y: hidden; }
#main #map_container #expandible_menu #filter_form #more_up { position: relative; height: 12px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -o-border-top-left-radius: 5px; -ms-border-top-left-radius: 5px; -khtml-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -o-border-top-right-radius: 5px; -ms-border-top-right-radius: 5px; -khtml-border-top-right-radius: 5px; border-top-right-radius: 5px; border-bottom: 1px solid #292929; }
#main #map_container #expandible_menu #filter_form #more_down { border: 1px solid lightgray; border-top: 1px solid #292929; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -o-border-bottom-left-radius: 5px; -ms-border-bottom-left-radius: 5px; -khtml-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -o-border-bottom-right-radius: 5px; -ms-border-bottom-right-radius: 5px; -khtml-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; margin-top: -1px; }
#main #map_container #expandible_menu #filter_form #results { clear: both; float: left; width: 178px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; border: 1px solid #cccccc; margin: 0 0 0 10px; height: 343px; background-color: rgba(42, 42, 42, 0.5); overflow-x: hidden; overflow-y: hidden; }
#main #map_container #expandible_menu #filter_form #results .result { border-bottom: 1px solid #cccccc; height: 38px; }
#main #map_container #expandible_menu #filter_form #results .result .puntuation { float: left; width: 24px; padding: 2px; font-size: 10px; }
#main #map_container #expandible_menu #filter_form #results .result .puntuation img { margin-left: 1px; }
#main #map_container #expandible_menu #filter_form #results .result .restaurant_data { float: left; width: 140px; padding: 0 3px; font-size: 8.5px; line-height: 12px; }
#main #map_container #expandible_menu #filter_form #results .result .restaurant_data .title { font-size: 10px; }
#main #map_container #expandible_menu #filter_form #results .result .restaurant_data .address { text-indent: 5px; color: #c6c6c6; font-style: italic; }
#main #map_container #expandible_menu #filter_form #results .result .restaurant_data .opinions { text-align: right; }
#main #map_container #expandible_menu #filter_form #results .result .more_info { float: left; width: 12px; border-left: 1px solid #cccccc; height: 38px; }
#main #map_container #expandible_menu #filter_form #results .result .more_info img { margin-top: 11px; margin-left: 1px; }
#main #map_container #expandible_menu #expand { float: left; }
#main #map_container #expandible_menu #expand #tab { height: 30px; width: 10px; margin-top: 258px; background-color: rgba(0, 0, 0, 0.8); -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -o-border-top-right-radius: 5px; -ms-border-top-right-radius: 5px; -khtml-border-top-right-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -o-border-bottom-right-radius: 5px; -ms-border-bottom-right-radius: 5px; -khtml-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; padding-top: 9px; }
#main #columns { width: 960px; }
#main #columns div { float: left; width: 320px; }
#main #columns > div { padding: 10px 0 10px 10px; }
#main #columns > div:first-child { padding-left: 0; }
#main #columns > div .content { height: 100px; }

/* ******** Transiciones CSS3 ******** */
#expandible_menu input { color: whitesmoke; }
#expandible_menu #filter_form .content { -moz-transition-property: width,opacity; -webkit-transition-property: width,opacity; -o-transition-property: width,opacity; transition-property: width,opacity; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; -moz-transition-delay: 0.5s, 0s; -webkit-transition-delay: 0.5s, 0s; -o-transition-delay: 0.5s, 0s; transition-delay: 0.5s, 0s; opacity: 0; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); width: 1px; overflow: hidden; color: whitesmoke; }
#expandible_menu #filter_form .content #more_up { -moz-transition-property: margin-top; -webkit-transition-property: margin-top; -o-transition-property: margin-top; transition-property: margin-top; -moz-transition-duration: 0.2s; -webkit-transition-duration: 0.2s; -o-transition-duration: 0.2s; transition-duration: 0.2s; -moz-transition-timing-function: linear; -webkit-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; }
#expandible_menu #filter_form .content #more_up.expanded { margin-top: -12px; }
#expandible_menu #filter_form .content #more_down { height: 0px; opacity: 0; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); -moz-transition-property: height,opacity; -webkit-transition-property: height,opacity; -o-transition-property: height,opacity; transition-property: height,opacity; -moz-transition-duration: 0.2s, 0s; -webkit-transition-duration: 0.2s, 0s; -o-transition-duration: 0.2s, 0s; transition-duration: 0.2s, 0s; -moz-transition-timing-function: linear; -webkit-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; -moz-transition-delay: 0s, 0.2s; -webkit-transition-delay: 0s, 0.2s; -o-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s; }
#expandible_menu #filter_form .content #more_down.expanded { -moz-transition-property: height,opacity; -webkit-transition-property: height,opacity; -o-transition-property: height,opacity; transition-property: height,opacity; -moz-transition-duration: 0.2s, 0s; -webkit-transition-duration: 0.2s, 0s; -o-transition-duration: 0.2s, 0s; transition-duration: 0.2s, 0s; -moz-transition-timing-function: linear; -webkit-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; -moz-transition-delay: 0s, 0s; -webkit-transition-delay: 0s, 0s; -o-transition-delay: 0s, 0s; transition-delay: 0s, 0s; height: 12px; opacity: 1; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); }
#expandible_menu #tab img { -moz-transition-property: transform; -webkit-transition-property: transform; -o-transition-property: transform; transition-property: transform; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; -moz-transition-delay: 1s; -webkit-transition-delay: 1s; -o-transition-delay: 1s; transition-delay: 1s; }
#expandible_menu.expanded #filter_form .content { -moz-transition-property: width,opacity; -webkit-transition-property: width,opacity; -o-transition-property: width,opacity; transition-property: width,opacity; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; -moz-transition-delay: 0s, 0.5s; -webkit-transition-delay: 0s, 0.5s; -o-transition-delay: 0s, 0.5s; transition-delay: 0s, 0.5s; width: 200px; opacity: 1; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); }
#expandible_menu.expanded #tab img { -moz-transition-property: transform; -webkit-transition-property: transform; -o-transition-property: transform; transition-property: transform; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; -moz-transition-delay: 0.5s; -webkit-transition-delay: 0.5s; -o-transition-delay: 0.5s; transition-delay: 0.5s; -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

/* *********** INFOBOX ************ */
.infobox { -moz-border-image: url("/images/burbujablancanegra1.png") 27% 18% 70% 78% stretch stretch; -webkit-border-image: url("/images/burbujablancanegra1.png") 27% 18% 70% 78% stretch stretch; -o-border-image: url("/images/burbujablancanegra1.png") 27% 18% 70% 78% stretch stretch; -ms-border-image: url("/images/burbujablancanegra1.png") 27% 18% 70% 78% stretch stretch; -khtml-border-image: url("/images/burbujablancanegra1.png") 27% 18% 70% 78% stretch stretch; border-image: url("/images/burbujablancanegra1.png") 27% 18% 70% 78% stretch stretch; border-width: 9px 9px 25px 41px; cursor: default; -moz-transition-property: height,width,margin-top; -webkit-transition-property: height,width,margin-top; -o-transition-property: height,width,margin-top; transition-property: height,width,margin-top; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; -moz-transition-delay: 0.5s; -webkit-transition-delay: 0.5s; -o-transition-delay: 0.5s; transition-delay: 0.5s; }
.infobox .infoBoxContent { -moz-transition-property: opacity; -webkit-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; }
.infobox .leftSide { -moz-transition-property: height,width; -webkit-transition-property: height,width; -o-transition-property: height,width; transition-property: height,width; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; -moz-transition-delay: 0.5s; -webkit-transition-delay: 0.5s; -o-transition-delay: 0.5s; transition-delay: 0.5s; background: rgba(255, 9, 0, 0.5); }
.infobox.small { width: 110px !important; height: 80px; }
.infobox.small .leftSide { float: left; width: 65px; }
.infobox.medium { width: 250px !important; height: 80px; }
.infobox.medium .leftSide { float: left; width: 190px; }
.infobox.big { width: 390px !important; height: 265px; margin-top: -185px; }
.infobox.big .leftSide { float: left; width: 333px; }
.infobox.big .leftSide #streetview_pane { width: 343px; height: 230px; border: 2px solid white; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }
.infobox.big .leftSide #streetview_pane .sv_legend { border: 2px solid white !important; height: 23px !important; overflow: hidden !important; opacity: 0.2; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20); -moz-transition-property: opacity; -webkit-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; -moz-transition-duration: 0.3s; -webkit-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; -moz-transition-timing-function: linear; -webkit-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; }
.infobox.big .leftSide #streetview_pane .sv_legend:hover { opacity: 1; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); }
.infobox .infoBoxContent { color: #dddddd; margin-left: -30px; -moz-transition-property: opacity; -webkit-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transition-timing-function: linear; -webkit-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; }
.infobox .infoBoxContent .rightSide { float: right; width: auto; background: rgba(255, 255, 0, 0.5); }
.infobox .infoBoxContent .rightSide .control_buttons .button { display: inline-block; }

#results { overflow: hidden; }
#results #results_inner { height: 1px; -moz-transition-property: height,margin-top; -webkit-transition-property: height,margin-top; -o-transition-property: height,margin-top; transition-property: height,margin-top; -moz-transition-duration: 0.6s, 1s; -webkit-transition-duration: 0.6s, 1s; -o-transition-duration: 0.6s, 1s; transition-duration: 0.6s, 1s; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; overflow: hidden; }

.select_food_type { width: 181px; }

.select_price { width: 57px; }
.select_price.selectbox { margin: 0 8px; }

.select_radius { width: 95px; }
.select_radius.selectbox { margin-left: 11px; }

.select_form { width: 370px; }

.selectbox { display: inline-block; position: relative; }
.selectbox .display { -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; border: 1px solid #cccccc; cursor: default; display: block; height: 25px; line-height: 25px; padding: 0 0px 0 10px; position: relative; text-decoration: none; }
.selectbox .display .value { display: none; }
.selectbox .display.dark { background: url(/images/flechas_select.png) right center no-repeat; color: whitesmoke; }
.selectbox .display.dark:hover { background: rgba(100, 100, 100, 0.3) url(/images/flechas_select.png) right center no-repeat; }
.selectbox .display.white { background: #f5f5f5 url(/images/flechas_select.png) right center no-repeat; color: gray; }
.selectbox .display.white:hover { background: #e6e6e6 url(/images/flechas_select.png) right center no-repeat; }

.items { border: 1px solid #cccccc; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; display: block; overflow-x: hidden; overflow-y: auto; z-index: 99999; }
.items a { display: block; line-height: 24px; }
.items a .value { display: none; }
.items.dark { background: rgba(20, 20, 20, 0.95); }
.items.dark li:hover { background: rgba(45, 45, 45, 0.95); }
.items.dark a { color: whitesmoke; }
.items.white { background: #f5f5f5; }
.items.white li:hover { background: #e6e6e6; }
.items.white a { color: gray; }
.items li { padding-left: 15px; line-height: 24px; }

form fieldset .stars .star { float: left; width: 18px; margin-left: 3px; }
form fieldset .stars .star .half { float: left; width: 50%; height: 18px; }
form fieldset .stars .star .half.left { background: url(/images/iconos/star_half_left_mini_gray.png); }
form fieldset .stars .star .half.left.filled { background: url(/images/iconos/star_half_left_mini.png); }
form fieldset .stars .star .half.right { background: url(/images/iconos/star_half_right_mini_gray.png); }
form fieldset .stars .star .half.right.filled { background: url(/images/iconos/star_half_right_mini.png); }

.iPhoneCheckContainer, .iPhoneCheckContainer label { -moz-user-select: none; -webkit-user-select: none; -o-user-select: none; -ms-user-select: none; -khtml-user-select: none; user-select: none; }

.iPhoneCheckDisabled { opacity: 0.5; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); }

.iPhoneCheckContainer { position: relative; height: 27px; width: 85px; cursor: pointer; overflow: hidden; }
.iPhoneCheckContainer input { position: absolute; top: 5px; left: 30px; opacity: 0; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); }
.iPhoneCheckContainer label { white-space: nowrap; font-size: 17px; line-height: 17px; font-weight: bold; font-family: Helvetica Neue, Arial, Helvetica, sans-serif; text-transform: uppercase; cursor: pointer; display: block; height: 27px; position: absolute; width: auto; top: 0; padding-top: 5px; overflow: hidden; }
.iPhoneCheckContainer label.iPhoneCheckLabelOn { color: white; background: url(/images/iphone_checkbox/on.png) no-repeat; text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6); left: 0; padding-top: 5px; }
.iPhoneCheckContainer label.iPhoneCheckLabelOn span { padding-left: 8px; }
.iPhoneCheckContainer label.iPhoneCheckLabelOff { color: #8b8b8b; background: url(/images/iphone_checkbox/off.png) no-repeat right 0; text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6); text-align: right; right: 0; }
.iPhoneCheckContainer label.iPhoneCheckLabelOff span { padding-right: 8px; }

.iPhoneCheckHandle { display: block; height: 27px; cursor: pointer; position: absolute; top: 0; left: 0; width: 32px !important; background: url(/images/iphone_checkbox/slider_left.png) no-repeat; padding-left: 3px; }

.iPhoneCheckHandleRight { height: 100%; width: 100%; padding-right: 3px; background: url(/images/iphone_checkbox/slider_right.png) no-repeat right 0; }

.iPhoneCheckHandleCenter { height: 100%; width: 100%; background: url(/images/iphone_checkbox/slider_center.png); }

#courses_fieldset ul.menu-nav .cat-link, #ticketlines_fieldset ul.menu-nav .cat-link { display: inline; background: #afeeee; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; font-size: 12px; padding: 2px 2px; margin-left: 3px; }
#courses_fieldset ul.menu-nav .cat-link:first-of-type, #ticketlines_fieldset ul.menu-nav .cat-link:first-of-type { margin-left: 0px; }
#courses_fieldset .menu, #ticketlines_fieldset .menu { margin: 10px 0; width: inherit; height: 400px; width: 620px; }
#courses_fieldset .menu h1, #ticketlines_fieldset .menu h1 { font-size: 17px; text-align: center; }
#courses_fieldset .menu .category, #ticketlines_fieldset .menu .category { position: absolute; height: inherit; width: inherit; padding: 5px; background: #eeeeee; -moz-transition-property: opacity; -webkit-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; -moz-transition-duration: 2s; -webkit-transition-duration: 2s; -o-transition-duration: 2s; transition-duration: 2s; opacity: 0; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); }
#courses_fieldset .menu .category.visible, #ticketlines_fieldset .menu .category.visible { opacity: 1; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); z-index: 10; }
#courses_fieldset .menu .category .course, #ticketlines_fieldset .menu .category .course { float: left; width: 100%; height: 26px; }
#courses_fieldset .menu .category .course .name, #ticketlines_fieldset .menu .category .course .name { float: left; width: 85%; background: pink; }
#courses_fieldset .menu .category .course .category, #ticketlines_fieldset .menu .category .course .category { display: none; }
#courses_fieldset .menu .category .course .price, #ticketlines_fieldset .menu .category .course .price { float: left; width: 15%; background: #afeeee; }
#courses_fieldset .menu .category .course .price input, #ticketlines_fieldset .menu .category .course .price input { width: 60px; text-align: right; }
