@charset "UTF-8";
/* ******* IMPORTS ******** */
@font-face { font-family: "Often"; src: local("☺"), url(/fonts/often.ttf) format('opentype'); }

@media screen and (max-device-width: 480px) { @font-face { font-family: "Often"; src: url(/fonts/often.ttf) format('opentype'); } }
@font-face { font-family: "RalewayThin"; src: local("☺"), url(/fonts/raleway_thin-webfont.ttf) format('truetype'), url(/fonts/raleway_thin-webfont.svg#webfonthRGH7EPV) format('svg'), url(/fonts/raleway_thin-webfont.woff) format('woff'); }

@media screen and (max-device-width: 480px) { @font-face { font-family: "RalewayThin"; src: url(/fonts/raleway_thin-webfont.ttf) format('truetype'), url(/fonts/raleway_thin-webfont.svg#webfonthRGH7EPV) format('svg'), url(/fonts/raleway_thin-webfont.woff) format('woff'); } }
/* **** VARIABLES ***** */
/* ****** Mixins ****** */
/* ***** ESTILOS GENERALES DE LA PAGINA ***** */
* { margin: 0; padding: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

body { font-family: "Often", "Trebuchet MS", Helvetica, Arial; font-size: 11px; color: #555555; }
body html, body body, body div, body span, body applet, body object, body iframe, body h1, body h2, body h3, body h4, body h5, body h6, body p, body blockquote, body pre, body a, body abbr, body acronym, body address, body big, body cite, body code, body del, body dfn, body em, body font, body img, body ins, body kbd, body q, body s, body samp, body small, body strike, body strong, body sub, body sup, body tt, body var, body dl, body dt, body dd, body ol, body ul, body li, body fieldset, body form, body label, body legend, body table, body caption, body tbody, body tfoot, body thead, body tr, body th, body td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
body body { line-height: 1; color: black; background: white; }
body ol, body ul { list-style: none; }
body table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }
body caption, body th, body td { text-align: left; font-weight: normal; vertical-align: middle; }
body q, body blockquote { quotes: "" ""; }
body q:before, body q:after, body blockquote:before, body blockquote:after { content: ""; }
body a img { border: none; }
body h1 { font-size: 16px; text-align: center; }
body h1, body h2 { font-weight: bold; }
body h2, body h3 { font-size: 15px; }
body h4 { font-size: 12px; }
body h5 { font-size: 11px; }
body h6 { font-size: 10px; color: #aaaaaa; }
body a, body h4, body h5 { color: #4682b4; text-decoration: none; }
body li { display: block; list-style: none; }
body iframe { display: none; }
body img { display: block; }
body input[type=text], body input[type=password], body input[type=email], body textarea, body select { width: 370px; max-width: 400px; height: 25px; border: 1px solid lightgray; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; padding-left: 5px; font-family: "Often", "MS Trebuchet", Helvetica, sans-serif; }
body input[type=text]:focus, body input[type=password]:focus, body input[type=email]:focus, body textarea:focus, body select:focus { outline: none; -moz-box-shadow: 0 0 7px #dddddd; -webkit-box-shadow: 0 0 7px #dddddd; -o-box-shadow: 0 0 7px #dddddd; box-shadow: 0 0 7px #dddddd; }
body textarea { min-height: 175px; font-size: 12px; }

/* ****** CLASES GENERALES PARA ESTILAR ****** */
.wrapper { width: 1024px; margin: 0 auto; clear: both; }

.center-text { text-align: center; }

.right-text { text-align: right; }

.justify-text { text-align: justify; }

.ellipsis-text { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

.italic { font-style: italic; }

.hidden { display: none; }

.shown { display: block; }

.invisible { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }

.visible { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

.full { float: left; width: 100%; }

.half { float: left; width: 50%; }

.float-right { float: right; }

.float-left { float: left; }

.label-value { line-height: 150%; }
.label-value .label { float: left; width: 35%; color: #333333; }
.label-value .value { float: left; width: 65%; }

.gray-column .label-value .label { float: left; width: 28%; }

.gray-column .label-value .value { float: left; width: 72%; }

.round-corners, .gray-with-gray-round-borders { -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }

.gray_column { background: #eeeeee; border: 1px solid white; border-right: 2px ridge rgba(255, 255, 255, 0.5); border-left: 2px groove rgba(255, 255, 255, 0.5); }

.gray-with-gray-round-borders { background: #f5f5f5; border: 1px solid #e4e4e4; }

.superindex { margin: -1ex 0 1ex; }

.legend { border-bottom: 1px solid lightgray; padding: 0.3ex 0; margin: 10px 0; text-indent: 5px; }

.indent-text { text-indent: 10px; }

.legend + .superindex { margin: -1em 0 1em; }

.fake_button { border: 1px solid lightgray; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; padding: 4px 5px; color: gray; background: #f4f4f4; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd)); background-image: -moz-linear-gradient(#ffffff, #dddddd); background-image: linear-gradient(#ffffff, #dddddd); }

.dot-underlined { border-bottom: 1px dotted lightgray; }

.highlighted { background-color: yellow; -moz-transition-property: background-color; -webkit-transition-property: background-color; -o-transition-property: background-color; transition-property: background-color; -moz-transition-duration: 0s; -webkit-transition-duration: 0s; -o-transition-duration: 0s; transition-duration: 0s; }

/* ****** Fieldsets ***** */
fieldset .superindex { margin-bottom: 25px; }
fieldset .field { float: left; width: 100%; line-height: 27px; margin: 5px 0; }
fieldset .field .label { float: left; width: 22%; padding: 0 10px; }
fieldset .field .input { float: left; width: 78%; }
fieldset .bicolumn .field .label, fieldset .bicolumn .field .input { float: left; width: 50%; }

/* ****** BOTONES DE LOS FORMULARIOS ****** */
.buttons input[type=submit], .buttons input[type=button] { color: #666666; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; border: 1px solid lightgray; height: 25px; padding: 0 10px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #dadada)); background-image: -moz-linear-gradient(#fbfbfb, #dadada); background-image: linear-gradient(#fbfbfb, #dadada); }
.buttons input[type=submit]:hover, .buttons input[type=button]:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e4e4e4)); background-image: -moz-linear-gradient(#ffffff, #e4e4e4); background-image: linear-gradient(#ffffff, #e4e4e4); }
.buttons input[type=submit]:active, .buttons input[type=button]:active { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d0d0d0), color-stop(100%, #f0f0f0)); background-image: -moz-linear-gradient(#d0d0d0, #f0f0f0); background-image: linear-gradient(#d0d0d0, #f0f0f0); }

/* *********** PHOTOS ************ */
.photo { border: 1px solid lightgray; }
.photo > img { border: 1px solid white; }
.photo.small img { width: 96px; height: 96px; }
.photo.scalable { -moz-transition-property: transform; -webkit-transition-property: transform; -o-transition-property: transform; transition-property: transform; -moz-transition-duration: 0.4s; -webkit-transition-duration: 0.4s; -o-transition-duration: 0.4s; transition-duration: 0.4s; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; }
.photo.scalable:hover { -moz-transition-delay: 0.3s; -webkit-transition-delay: 0.3s; -o-transition-delay: 0.3s; transition-delay: 0.3s; -moz-transform: scale(1.7, 1.7); -webkit-transform: scale(1.7, 1.7); -o-transform: scale(1.7, 1.7); -ms-transform: scale(1.7, 1.7); transform: scale(1.7, 1.7); -moz-box-shadow: 0 0 10px #999999; -webkit-box-shadow: 0 0 10px #999999; -o-box-shadow: 0 0 10px #999999; box-shadow: 0 0 10px #999999; z-index: 10; }
.photo.scalable:hover.very { -moz-transform: scale(2.5, 2.5); -webkit-transform: scale(2.5, 2.5); -o-transform: scale(2.5, 2.5); -ms-transform: scale(2.5, 2.5); transform: scale(2.5, 2.5); }

.photo_list .photo { display: inline-block; margin: 2px 0 0 5px; }

fieldset .photo { margin: 5px 0; }
fieldset .photo > img { width: 170px; }
fieldset .photo.editable { position: relative; }
fieldset .photo.editable .delete_inner { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition-property: opacity; -webkit-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; -moz-transition-duration: 0.4s; -webkit-transition-duration: 0.4s; -o-transition-duration: 0.4s; transition-duration: 0.4s; -moz-transition-timing-function: linear; -webkit-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; background: rgba(0, 0, 0, 0.85); position: absolute; top: 2px; left: 2px; }
fieldset .photo.editable:hover .delete_inner { z-index: 2; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
fieldset .photo.editable:hover .delete_inner:hover { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

#photos_fieldset .field { width: 100%; height: 30px; }
#photos_fieldset .field .delete { float: left; width: 17px; }
#photos_fieldset .field .select { float: left; width: 25px; overflow: hidden; background: url(/images/upload_file_background.png) no-repeat 0% 0%; }
#photos_fieldset .field .select input { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
#photos_fieldset .field .file_name { float: left; width: 127px; padding-left: 2px; }

@font-face { font-family: "Often"; src: local("☺"), url(/fonts/often.ttf) format('opentype'); }

@media screen and (max-device-width: 480px) { @font-face { font-family: "Often"; src: url(/fonts/often.ttf) format('opentype'); } }
@font-face { font-family: "RalewayThin"; src: local("☺"), url(/fonts/raleway_thin-webfont.ttf) format('truetype'), url(/fonts/raleway_thin-webfont.svg#webfonthRGH7EPV) format('svg'), url(/fonts/raleway_thin-webfont.woff) format('woff'); }

@media screen and (max-device-width: 480px) { @font-face { font-family: "RalewayThin"; src: url(/fonts/raleway_thin-webfont.ttf) format('truetype'), url(/fonts/raleway_thin-webfont.svg#webfonthRGH7EPV) format('svg'), url(/fonts/raleway_thin-webfont.woff) format('woff'); } }
/* **** VARIABLES ***** */
/* ****** Mixins ****** */
/* ***** ESTILOS GENERALES DE LA PAGINA ***** */
* { margin: 0; padding: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

body { font-family: "Often", "Trebuchet MS", Helvetica, Arial; font-size: 11px; color: #555555; }
body html, body body, body div, body span, body applet, body object, body iframe, body h1, body h2, body h3, body h4, body h5, body h6, body p, body blockquote, body pre, body a, body abbr, body acronym, body address, body big, body cite, body code, body del, body dfn, body em, body font, body img, body ins, body kbd, body q, body s, body samp, body small, body strike, body strong, body sub, body sup, body tt, body var, body dl, body dt, body dd, body ol, body ul, body li, body fieldset, body form, body label, body legend, body table, body caption, body tbody, body tfoot, body thead, body tr, body th, body td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
body body { line-height: 1; color: black; background: white; }
body ol, body ul { list-style: none; }
body table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }
body caption, body th, body td { text-align: left; font-weight: normal; vertical-align: middle; }
body q, body blockquote { quotes: "" ""; }
body q:before, body q:after, body blockquote:before, body blockquote:after { content: ""; }
body a img { border: none; }
body h1 { font-size: 16px; text-align: center; }
body h1, body h2 { font-weight: bold; }
body h2, body h3 { font-size: 15px; }
body h4 { font-size: 12px; }
body h5 { font-size: 11px; }
body h6 { font-size: 10px; color: #aaaaaa; }
body a, body h4, body h5 { color: #4682b4; text-decoration: none; }
body li { display: block; list-style: none; }
body iframe { display: none; }
body img { display: block; }
body input[type=text], body input[type=password], body input[type=email], body textarea, body select { width: 370px; max-width: 400px; height: 25px; border: 1px solid lightgray; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; padding-left: 5px; font-family: "Often", "MS Trebuchet", Helvetica, sans-serif; }
body input[type=text]:focus, body input[type=password]:focus, body input[type=email]:focus, body textarea:focus, body select:focus { outline: none; -moz-box-shadow: 0 0 7px #dddddd; -webkit-box-shadow: 0 0 7px #dddddd; -o-box-shadow: 0 0 7px #dddddd; box-shadow: 0 0 7px #dddddd; }
body textarea { min-height: 175px; font-size: 12px; }

/* ****** CLASES GENERALES PARA ESTILAR ****** */
.wrapper { width: 1024px; margin: 0 auto; clear: both; }

.center-text { text-align: center; }

.right-text { text-align: right; }

.justify-text { text-align: justify; }

.ellipsis-text { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

.italic { font-style: italic; }

.hidden { display: none; }

.shown { display: block; }

.invisible { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }

.visible { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

.full { float: left; width: 100%; }

.half { float: left; width: 50%; }

.float-right { float: right; }

.float-left { float: left; }

.label-value { line-height: 150%; }
.label-value .label { float: left; width: 35%; color: #333333; }
.label-value .value { float: left; width: 65%; }

.gray-column .label-value .label { float: left; width: 28%; }

.gray-column .label-value .value { float: left; width: 72%; }

.round-corners, .gray-with-gray-round-borders { -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }

.gray_column { background: #eeeeee; border: 1px solid white; border-right: 2px ridge rgba(255, 255, 255, 0.5); border-left: 2px groove rgba(255, 255, 255, 0.5); }

.gray-with-gray-round-borders { background: #f5f5f5; border: 1px solid #e4e4e4; }

.superindex { margin: -1ex 0 1ex; }

.legend { border-bottom: 1px solid lightgray; padding: 0.3ex 0; margin: 10px 0; text-indent: 5px; }

.indent-text { text-indent: 10px; }

.legend + .superindex { margin: -1em 0 1em; }

.fake_button { border: 1px solid lightgray; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; padding: 4px 5px; color: gray; background: #f4f4f4; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd)); background-image: -moz-linear-gradient(#ffffff, #dddddd); background-image: linear-gradient(#ffffff, #dddddd); }

.dot-underlined { border-bottom: 1px dotted lightgray; }

.highlighted { background-color: yellow; -moz-transition-property: background-color; -webkit-transition-property: background-color; -o-transition-property: background-color; transition-property: background-color; -moz-transition-duration: 0s; -webkit-transition-duration: 0s; -o-transition-duration: 0s; transition-duration: 0s; }

/* ****** Fieldsets ***** */
fieldset .superindex { margin-bottom: 25px; }
fieldset .field { float: left; width: 100%; line-height: 27px; margin: 5px 0; }
fieldset .field .label { float: left; width: 22%; padding: 0 10px; }
fieldset .field .input { float: left; width: 78%; }
fieldset .bicolumn .field .label, fieldset .bicolumn .field .input { float: left; width: 50%; }

/* ****** BOTONES DE LOS FORMULARIOS ****** */
.buttons input[type=submit], .buttons input[type=button] { color: #666666; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; border: 1px solid lightgray; height: 25px; padding: 0 10px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #dadada)); background-image: -moz-linear-gradient(#fbfbfb, #dadada); background-image: linear-gradient(#fbfbfb, #dadada); }
.buttons input[type=submit]:hover, .buttons input[type=button]:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e4e4e4)); background-image: -moz-linear-gradient(#ffffff, #e4e4e4); background-image: linear-gradient(#ffffff, #e4e4e4); }
.buttons input[type=submit]:active, .buttons input[type=button]:active { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d0d0d0), color-stop(100%, #f0f0f0)); background-image: -moz-linear-gradient(#d0d0d0, #f0f0f0); background-image: linear-gradient(#d0d0d0, #f0f0f0); }

/* *********** PHOTOS ************ */
.photo { border: 1px solid lightgray; }
.photo > img { border: 1px solid white; }
.photo.small img { width: 96px; height: 96px; }
.photo.scalable { -moz-transition-property: transform; -webkit-transition-property: transform; -o-transition-property: transform; transition-property: transform; -moz-transition-duration: 0.4s; -webkit-transition-duration: 0.4s; -o-transition-duration: 0.4s; transition-duration: 0.4s; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; }
.photo.scalable:hover { -moz-transition-delay: 0.3s; -webkit-transition-delay: 0.3s; -o-transition-delay: 0.3s; transition-delay: 0.3s; -moz-transform: scale(1.7, 1.7); -webkit-transform: scale(1.7, 1.7); -o-transform: scale(1.7, 1.7); -ms-transform: scale(1.7, 1.7); transform: scale(1.7, 1.7); -moz-box-shadow: 0 0 10px #999999; -webkit-box-shadow: 0 0 10px #999999; -o-box-shadow: 0 0 10px #999999; box-shadow: 0 0 10px #999999; z-index: 10; }
.photo.scalable:hover.very { -moz-transform: scale(2.5, 2.5); -webkit-transform: scale(2.5, 2.5); -o-transform: scale(2.5, 2.5); -ms-transform: scale(2.5, 2.5); transform: scale(2.5, 2.5); }

.photo_list .photo { display: inline-block; margin: 2px 0 0 5px; }

fieldset .photo { margin: 5px 0; }
fieldset .photo > img { width: 170px; }
fieldset .photo.editable { position: relative; }
fieldset .photo.editable .delete_inner { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition-property: opacity; -webkit-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; -moz-transition-duration: 0.4s; -webkit-transition-duration: 0.4s; -o-transition-duration: 0.4s; transition-duration: 0.4s; -moz-transition-timing-function: linear; -webkit-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; background: rgba(0, 0, 0, 0.85); position: absolute; top: 2px; left: 2px; }
fieldset .photo.editable:hover .delete_inner { z-index: 2; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
fieldset .photo.editable:hover .delete_inner:hover { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

#photos_fieldset .field { width: 100%; height: 30px; }
#photos_fieldset .field .delete { float: left; width: 17px; }
#photos_fieldset .field .select { float: left; width: 25px; overflow: hidden; background: url(/images/upload_file_background.png) no-repeat 0% 0%; }
#photos_fieldset .field .select input { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
#photos_fieldset .field .file_name { float: left; width: 127px; padding-left: 2px; }

/* ***** PERCENTAGE BAR ****** */
.show_bar, .percentage_bar, .inclination_bar { float: left; width: 100%; margin: 2px 0; }
.show_bar .name, .percentage_bar .name, .inclination_bar .name { float: left; width: 40%; }
.show_bar .value, .percentage_bar .value, .inclination_bar .value { float: left; width: 60%; }
.show_bar .value .indicator, .percentage_bar .value .indicator, .inclination_bar .value .indicator { border: 2px solid #cccccc; -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; float: left; width: 100%; height: 19px; }
.show_bar .value .indicator .bar, .percentage_bar .value .indicator .bar, .inclination_bar .value .indicator .bar { height: 15px; }
.show_bar .value .indicator .percent, .percentage_bar .value .indicator .percent, .inclination_bar .value .indicator .percent { width: 30px; height: 15px; margin: -15px auto 0; -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; background: rgba(20, 20, 20, 0.8); color: white; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10); opacity: 0.1; -moz-transition-property: opacity; -webkit-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; -moz-transition-duration: 0.3s; -webkit-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; }
.show_bar .value .indicator .percent:hover, .percentage_bar .value .indicator .percent:hover, .inclination_bar .value .indicator .percent:hover { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75); opacity: 0.75; }

.percentage_bar .bar { -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #faff00), color-stop(100%, #ffb704)); background-image: -moz-linear-gradient(#faff00, #ffb704); background-image: linear-gradient(#faff00, #ffb704); }

.inclination_bar .negative .bar { float: right; -moz-border-radius-topleft: 8px; -webkit-border-top-left-radius: 8px; -o-border-top-left-radius: 8px; -ms-border-top-left-radius: 8px; -khtml-border-top-left-radius: 8px; border-top-left-radius: 8px; -moz-border-radius-bottomleft: 8px; -webkit-border-bottom-left-radius: 8px; -o-border-bottom-left-radius: 8px; -ms-border-bottom-left-radius: 8px; -khtml-border-bottom-left-radius: 8px; border-bottom-left-radius: 8px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffaaaa), color-stop(100%, #ff7777)); background-image: -moz-linear-gradient(#ffaaaa, #ff7777); background-image: linear-gradient(#ffaaaa, #ff7777); }
.inclination_bar .positive .bar { -moz-border-radius-topright: 8px; -webkit-border-top-right-radius: 8px; -o-border-top-right-radius: 8px; -ms-border-top-right-radius: 8px; -khtml-border-top-right-radius: 8px; border-top-right-radius: 8px; -moz-border-radius-bottomright: 8px; -webkit-border-bottom-right-radius: 8px; -o-border-bottom-right-radius: 8px; -ms-border-bottom-right-radius: 8px; -khtml-border-bottom-right-radius: 8px; border-bottom-right-radius: 8px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaffaa), color-stop(100%, #77ff77)); background-image: -moz-linear-gradient(#aaffaa, #77ff77); background-image: linear-gradient(#aaffaa, #77ff77); }
.inclination_bar .percent { position: absolute; margin: 0px 73px !important; }

.radio_label { background: #fafafa; border: 1px solid lightgray; float: left; width: 50px; height: 25px; line-height: 25px; text-align: center; }
.radio_label.first { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -o-border-top-left-radius: 5px; -ms-border-top-left-radius: 5px; -khtml-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -o-border-bottom-left-radius: 5px; -ms-border-bottom-left-radius: 5px; -khtml-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; border-right: none; }
.radio_label.last { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -o-border-top-right-radius: 5px; -ms-border-top-right-radius: 5px; -khtml-border-top-right-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -o-border-bottom-right-radius: 5px; -ms-border-bottom-right-radius: 5px; -khtml-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; border-left: none; }
.radio_label.selected { background: #f2f2f2; color: red; }

/* ***** STARS ***** */
.stars.show .label { float: left; width: 110px; }
.stars.show .stars_list { float: left; width: 130px; padding: 2px 0; }
.stars.show .stars_list img { float: left; margin: 0 2px; }
.stars.show.mini .label { line-height: 160%; float: left; width: 54px; font-size: 11px; }
.stars.show.mini .stars_list { float: left; width: 66px; }
.stars.show.mini .stars_list img { width: 13px; margin: 0; }

/* ****** SERVICES ******* */
.service .logo { float: left; width: 15%; }

.service .name { float: left; width: 85%; text-indent: 10px; line-height: 26px; font-size: 15px; }

/* ***** RECOMENDACIONES Y ALTERNATIVAS ***** */
.recomended_restaurant { margin: 5px 0; }
.recomended_restaurant .title { text-indent: 5px; }
.recomended_restaurant .address { text-indent: 15px; }
.recomended_restaurant .stars { margin-left: 3px; }
.recomended_restaurant .long:hover { overflow: visible; }

/* ***** SELECTBOXES PERSONALIZADOS ***** */
.select_form { width: 370px; }

.selectbox { display: inline-block; position: relative; }
.selectbox .display { -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; border: 1px solid #cccccc; cursor: default; display: block; height: 25px; line-height: 25px; padding: 0 0px 0 10px; position: relative; text-decoration: none; }
.selectbox .display .value { display: none; }
.selectbox .display.dark { background: url(/images/flechas_select.png) right center no-repeat; color: whitesmoke; }
.selectbox .display.dark:hover { background: rgba(100, 100, 100, 0.3) url(/images/flechas_select.png) right center no-repeat; }
.selectbox .display.white { background: #f5f5f5 url(/images/flechas_select.png) right center no-repeat; color: gray; }
.selectbox .display.white:hover { background: #e6e6e6 url(/images/flechas_select.png) right center no-repeat; }

.select_born_on { margin-right: 17px; width: 112px !important; }

.items { border: 1px solid #cccccc; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; display: block; overflow-x: hidden; overflow-y: auto; z-index: 99999; }
.items a { display: block; line-height: 24px; }
.items a .value { display: none; }
.items.dark { background: rgba(20, 20, 20, 0.95); }
.items.dark li:hover { background: rgba(45, 45, 45, 0.95); }
.items.dark a { color: whitesmoke; }
.items.white { background: #f5f5f5; }
.items.white li:hover { background: #e6e6e6; }
.items.white a { color: gray; }
.items li { padding-left: 15px; line-height: 24px; }

/* ****** Popeye ****** */
#ppy1 .ppy-active { width: 150px; float: right; margin: 0 0px 10px 0; }
#ppy1 .ppy-outer { padding: 2px; border: 1px solid lightgray; background: white; }
#ppy1 .ppy-outer:hover, #ppy1 .ppy-outer .ppy-expanded .ppy-outer { -moz-box-shadow: 0 0 7px #cccccc; -webkit-box-shadow: 0 0 7px #cccccc; -o-box-shadow: 0 0 7px #cccccc; box-shadow: 0 0 7px #cccccc; }
#ppy1 .ppy-stage { width: 170px; height: 150px; }
#ppy1 .ppy-caption { margin: 2px 0 0 5px; padding: 5px; float: left; line-height: 1.3em; background: rgba(90, 90, 90, 0.4); -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 0 0 7px #cccccc; -webkit-box-shadow: 0 0 7px #cccccc; -o-box-shadow: 0 0 7px #cccccc; box-shadow: 0 0 7px #cccccc; visibility: hidden; }
#ppy1 .ppy-caption a { color: #66bde9; }
#ppy1 .ppy-caption a:hover { text-decoration: underline; }
#ppy1 .ppy-counter { color: whitesmoke; padding: 0 0 2px 0; margin: 0 0 5px 0; font-size: 0.9em; }
#ppy1 .ppy-stagewrap { background: #0c3b3d; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }
#ppy1 .ppy-loading { background: rgba(0, 0, 0, 0.5) url(/images/popeye/loading3.gif) no-repeat center !important; }
#ppy1 .ppy-nav { background: rgba(0, 0, 0, 0.5); width: 88px; height: 32px; padding: 5px; position: absolute; top: 2px; left: 2px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; }
#ppy1 .ppy-nav a { display: block; overflow: hidden; text-indent: -900em; height: 26px; float: left; padding: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }
#ppy1 .ppy-nav a:hover { cursor: pointer; }
#ppy1 .ppy-prev { width: 22px; background: url(/images/popeye/prev3.png) no-repeat center; }
#ppy1 .ppy-next { width: 22px; background: url(/images/popeye/next3.png) no-repeat center; }
#ppy1 .ppy-switch-enlarge { width: 33px; background: url(/images/popeye/enlarge4.png) no-repeat center; }
#ppy1 .ppy-switch-compact { width: 33px; background: url(/images/popeye/compact4.png) no-repeat center; }
#ppy1 .ppy-prev, #ppy1 .ppy-next, #ppy1 .ppy-switch-enlarge, #ppy1 .ppy-switch-compact { opacity: 0.6; }
#ppy1 .ppy-prev:hover, #ppy1 .ppy-next:hover, #ppy1 .ppy-switch-enlarge:hover, #ppy1 .ppy-switch-compact:hover { opacity: 1; }

/* ***** Mis Variables ***** */
/* ***** Mixin de estilo ****** */
@font-face { font-family: "Often"; src: local("☺"), url(/fonts/often.ttf) format('opentype'); }

@media screen and (max-device-width: 480px) { @font-face { font-family: "Often"; src: url(/fonts/often.ttf) format('opentype'); } }
@font-face { font-family: "RalewayThin"; src: local("☺"), url(/fonts/raleway_thin-webfont.ttf) format('truetype'), url(/fonts/raleway_thin-webfont.svg#webfonthRGH7EPV) format('svg'), url(/fonts/raleway_thin-webfont.woff) format('woff'); }

@media screen and (max-device-width: 480px) { @font-face { font-family: "RalewayThin"; src: url(/fonts/raleway_thin-webfont.ttf) format('truetype'), url(/fonts/raleway_thin-webfont.svg#webfonthRGH7EPV) format('svg'), url(/fonts/raleway_thin-webfont.woff) format('woff'); } }
/* **** VARIABLES ***** */
/* ****** Mixins ****** */
/* ***** ESTILOS GENERALES DE LA PAGINA ***** */
* { margin: 0; padding: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

body { font-family: "Often", "Trebuchet MS", Helvetica, Arial; font-size: 11px; color: #555555; }
body html, body body, body div, body span, body applet, body object, body iframe, body h1, body h2, body h3, body h4, body h5, body h6, body p, body blockquote, body pre, body a, body abbr, body acronym, body address, body big, body cite, body code, body del, body dfn, body em, body font, body img, body ins, body kbd, body q, body s, body samp, body small, body strike, body strong, body sub, body sup, body tt, body var, body dl, body dt, body dd, body ol, body ul, body li, body fieldset, body form, body label, body legend, body table, body caption, body tbody, body tfoot, body thead, body tr, body th, body td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
body body { line-height: 1; color: black; background: white; }
body ol, body ul { list-style: none; }
body table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }
body caption, body th, body td { text-align: left; font-weight: normal; vertical-align: middle; }
body q, body blockquote { quotes: "" ""; }
body q:before, body q:after, body blockquote:before, body blockquote:after { content: ""; }
body a img { border: none; }
body h1 { font-size: 16px; text-align: center; }
body h1, body h2 { font-weight: bold; }
body h2, body h3 { font-size: 15px; }
body h4 { font-size: 12px; }
body h5 { font-size: 11px; }
body h6 { font-size: 10px; color: #aaaaaa; }
body a, body h4, body h5 { color: #4682b4; text-decoration: none; }
body li { display: block; list-style: none; }
body iframe { display: none; }
body img { display: block; }
body input[type=text], body input[type=password], body input[type=email], body textarea, body select { width: 370px; max-width: 400px; height: 25px; border: 1px solid lightgray; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; padding-left: 5px; font-family: "Often", "MS Trebuchet", Helvetica, sans-serif; }
body input[type=text]:focus, body input[type=password]:focus, body input[type=email]:focus, body textarea:focus, body select:focus { outline: none; -moz-box-shadow: 0 0 7px #dddddd; -webkit-box-shadow: 0 0 7px #dddddd; -o-box-shadow: 0 0 7px #dddddd; box-shadow: 0 0 7px #dddddd; }
body textarea { min-height: 175px; font-size: 12px; }

/* ****** CLASES GENERALES PARA ESTILAR ****** */
.wrapper { width: 1024px; margin: 0 auto; clear: both; }

.center-text { text-align: center; }

.right-text { text-align: right; }

.justify-text { text-align: justify; }

.ellipsis-text { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

.italic { font-style: italic; }

.hidden { display: none; }

.shown { display: block; }

.invisible { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }

.visible { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

.full { float: left; width: 100%; }

.half { float: left; width: 50%; }

.float-right { float: right; }

.float-left { float: left; }

.label-value { line-height: 150%; }
.label-value .label { float: left; width: 35%; color: #333333; }
.label-value .value { float: left; width: 65%; }

.gray-column .label-value .label { float: left; width: 28%; }

.gray-column .label-value .value { float: left; width: 72%; }

.round-corners, .gray-with-gray-round-borders { -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }

.gray_column { background: #eeeeee; border: 1px solid white; border-right: 2px ridge rgba(255, 255, 255, 0.5); border-left: 2px groove rgba(255, 255, 255, 0.5); }

.gray-with-gray-round-borders { background: #f5f5f5; border: 1px solid #e4e4e4; }

.superindex { margin: -1ex 0 1ex; }

.legend { border-bottom: 1px solid lightgray; padding: 0.3ex 0; margin: 10px 0; text-indent: 5px; }

.indent-text { text-indent: 10px; }

.legend + .superindex { margin: -1em 0 1em; }

.fake_button { border: 1px solid lightgray; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; padding: 4px 5px; color: gray; background: #f4f4f4; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd)); background-image: -moz-linear-gradient(#ffffff, #dddddd); background-image: linear-gradient(#ffffff, #dddddd); }

.dot-underlined { border-bottom: 1px dotted lightgray; }

.highlighted { background-color: yellow; -moz-transition-property: background-color; -webkit-transition-property: background-color; -o-transition-property: background-color; transition-property: background-color; -moz-transition-duration: 0s; -webkit-transition-duration: 0s; -o-transition-duration: 0s; transition-duration: 0s; }

/* ****** Fieldsets ***** */
fieldset .superindex { margin-bottom: 25px; }
fieldset .field { float: left; width: 100%; line-height: 27px; margin: 5px 0; }
fieldset .field .label { float: left; width: 22%; padding: 0 10px; }
fieldset .field .input { float: left; width: 78%; }
fieldset .bicolumn .field .label, fieldset .bicolumn .field .input { float: left; width: 50%; }

/* ****** BOTONES DE LOS FORMULARIOS ****** */
.buttons input[type=submit], .buttons input[type=button] { color: #666666; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; border: 1px solid lightgray; height: 25px; padding: 0 10px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #dadada)); background-image: -moz-linear-gradient(#fbfbfb, #dadada); background-image: linear-gradient(#fbfbfb, #dadada); }
.buttons input[type=submit]:hover, .buttons input[type=button]:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e4e4e4)); background-image: -moz-linear-gradient(#ffffff, #e4e4e4); background-image: linear-gradient(#ffffff, #e4e4e4); }
.buttons input[type=submit]:active, .buttons input[type=button]:active { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d0d0d0), color-stop(100%, #f0f0f0)); background-image: -moz-linear-gradient(#d0d0d0, #f0f0f0); background-image: linear-gradient(#d0d0d0, #f0f0f0); }

/* *********** PHOTOS ************ */
.photo { border: 1px solid lightgray; }
.photo > img { border: 1px solid white; }
.photo.small img { width: 96px; height: 96px; }
.photo.scalable { -moz-transition-property: transform; -webkit-transition-property: transform; -o-transition-property: transform; transition-property: transform; -moz-transition-duration: 0.4s; -webkit-transition-duration: 0.4s; -o-transition-duration: 0.4s; transition-duration: 0.4s; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; }
.photo.scalable:hover { -moz-transition-delay: 0.3s; -webkit-transition-delay: 0.3s; -o-transition-delay: 0.3s; transition-delay: 0.3s; -moz-transform: scale(1.7, 1.7); -webkit-transform: scale(1.7, 1.7); -o-transform: scale(1.7, 1.7); -ms-transform: scale(1.7, 1.7); transform: scale(1.7, 1.7); -moz-box-shadow: 0 0 10px #999999; -webkit-box-shadow: 0 0 10px #999999; -o-box-shadow: 0 0 10px #999999; box-shadow: 0 0 10px #999999; z-index: 10; }
.photo.scalable:hover.very { -moz-transform: scale(2.5, 2.5); -webkit-transform: scale(2.5, 2.5); -o-transform: scale(2.5, 2.5); -ms-transform: scale(2.5, 2.5); transform: scale(2.5, 2.5); }

.photo_list .photo { display: inline-block; margin: 2px 0 0 5px; }

fieldset .photo { margin: 5px 0; }
fieldset .photo > img { width: 170px; }
fieldset .photo.editable { position: relative; }
fieldset .photo.editable .delete_inner { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition-property: opacity; -webkit-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; -moz-transition-duration: 0.4s; -webkit-transition-duration: 0.4s; -o-transition-duration: 0.4s; transition-duration: 0.4s; -moz-transition-timing-function: linear; -webkit-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; background: rgba(0, 0, 0, 0.85); position: absolute; top: 2px; left: 2px; }
fieldset .photo.editable:hover .delete_inner { z-index: 2; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
fieldset .photo.editable:hover .delete_inner:hover { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

#photos_fieldset .field { width: 100%; height: 30px; }
#photos_fieldset .field .delete { float: left; width: 17px; }
#photos_fieldset .field .select { float: left; width: 25px; overflow: hidden; background: url(/images/upload_file_background.png) no-repeat 0% 0%; }
#photos_fieldset .field .select input { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
#photos_fieldset .field .file_name { float: left; width: 127px; padding-left: 2px; }

#main_header { float: left; width: 100%; font-family: "RalewayThin", Arial, sans-serif; color: white; font-size: 16px; background: #333333 url(/images/background_black_texture1.jpeg); }
#main_header a { color: white; }
#main_header > .wrapper .header_title { font-size: 60px; padding-top: 5px; height: 65px; }
#main_header > .wrapper .header_title .com { font-size: 20px; margin-left: -20px; }
#main_header > .wrapper #main_nav { float: left; width: 100%; height: 25px; }
#main_header > .wrapper #main_nav .item { position: relative; float: left; width: 200px; z-index: 1000; }
#main_header > .wrapper #main_nav .item.right { float: right; }
#main_header > .wrapper #main_nav .item .item_title { height: 25px; }
#main_header > .wrapper #main_nav .item .item_content { position: absolute; width: inherit; height: 130px; margin-left: 3px; font-size: 14px; z-index: 1001; background: #222222 url(/images/background_black_texture1.jpeg) no-repeat 20% 30%; -moz-border-radius-bottomleft: 8px; -webkit-border-bottom-left-radius: 8px; -o-border-bottom-left-radius: 8px; -ms-border-bottom-left-radius: 8px; -khtml-border-bottom-left-radius: 8px; border-bottom-left-radius: 8px; -moz-border-radius-bottomright: 8px; -webkit-border-bottom-right-radius: 8px; -o-border-bottom-right-radius: 8px; -ms-border-bottom-right-radius: 8px; -khtml-border-bottom-right-radius: 8px; border-bottom-right-radius: 8px; border: 2px solid white; border-top: none; overflow: hidden; -moz-transition-property: height; -webkit-transition-property: height; -o-transition-property: height; transition-property: height; -moz-transition-duration: 0.4s; -webkit-transition-duration: 0.4s; -o-transition-duration: 0.4s; transition-duration: 0.4s; height: 0px; }
#main_header > .wrapper #main_nav .item .item_content li { height: 40px; line-height: 40px; text-indent: 15px; }
#main_header > .wrapper #main_nav .item .item_content li:hover { background: url(/images/flecha_right.png) 95% center no-repeat; }
#main_header > .wrapper #main_nav .item .item_content li a { display: block; margin: 0 6px; -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; }
#main_header > .wrapper #main_nav .item .item_content li a:hover { background-color: rgba(200, 200, 200, 0.05); }
#main_header > .wrapper #main_nav .item .item_content .providers { width: 90%; margin: 0 auto; }
#main_header > .wrapper #main_nav .item .item_content .providers img { display: inline-block; margin: 2px 6px; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85); opacity: 0.85; }
#main_header > .wrapper #main_nav .item .item_content .providers img:hover { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
#main_header > .wrapper #main_nav .item .item_content #sign_in_reduced input[type=text], #main_header > .wrapper #main_nav .item .item_content #sign_in_reduced input[type=password], #main_header > .wrapper #main_nav .item .item_content #sign_in_reduced input[type=email] { width: 97%; height: 20px; margin: 2px 1.5%; }
#main_header > .wrapper #main_nav .item .item_content #sign_in_reduced input[type=checkbox] { margin-left: 2%; }
#main_header > .wrapper #main_nav .item .item_content #sign_in_reduced input[type=submit] { background: none; }
#main_header > .wrapper #main_nav .item .item_content #sign_in_reduced input[type=submit]:hover { background: rgba(255, 255, 255, 0.1); }
#main_header > .wrapper #main_nav .item:hover .item_content { height: 130px; }
#main_header > .wrapper #main_nav .item.login:hover .item_content { height: 160px; }
#main_header > .wrapper #main_nav .item.logged { width: 350px; }
#main_header > .wrapper #main_nav .item.logged a:hover { text-decoration: underline; }
#main_header #flash { float: left; width: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff6be), color-stop(100%, #fcee9c)); background-image: -moz-linear-gradient(#fff6be, #fcee9c); background-image: linear-gradient(#fff6be, #fcee9c); border-bottom: 1px solid lightgray; -moz-box-shadow: 0 4px 4px #d2d2d2; -webkit-box-shadow: 0 4px 4px #d2d2d2; -o-box-shadow: 0 4px 4px #d2d2d2; box-shadow: 0 4px 4px #d2d2d2; color: #555555; font-family: "Often", Helvetica, Arial, sans-serif; line-height: 25px; }
#main_header #flash #close_flash { float: right; width: 20px; padding: 2px 0; }
#main_header #flash .text { float: left; width: 1004px; }
#main_header #flash .text a { color: #4682b4; }

#main_footer { width: 100%; height: 35px; font-size: 15px; }
#main_footer .wrapper { border-top: 1px solid lightgray; }

/* *********** MAPS ************ */
#map_canvas.big_map, #map_canvas.medium_map { -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; height: 550px; border: 2px solid #444444; width: 1024px; }

#map_canvas.medium_map, #map_canvas.small_map { height: 300px; width: 99%; margin: 5px 0; }

#map_canvas.small_map { height: 300px; height: 175px; outline: 2px solid lightgray; }

/* ****** DEVISE ****** */
#sign_in, #sign_up { clear: both; width: 800px; margin: 80px 112px; padding: 30px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; border: 1px solid lightgray; }
#sign_in fieldset:not(.buttons), #sign_up fieldset:not(.buttons) { margin-left: 60px; }
#sign_in h1, #sign_up h1 { font-size: 20px; padding-bottom: 20px; }
#sign_in .auth_providers, #sign_up .auth_providers { text-align: center; margin: 10px; }
#sign_in .auth_providers a, #sign_up .auth_providers a { display: inline-block; }
#sign_in p, #sign_up p { font-size: 12px; }
#sign_in .field > div, #sign_up .field > div { padding-bottom: 3px; }
#sign_in .buttons, #sign_up .buttons { margin-top: 10px; }

#devise_links { text-align: right; }
#devise_links p { display: inline; margin: 10px; }

/* ***** ANIMATED MENU ***** */
.animated_menu, #main > .bicolumn > nav { position: relative; }
.animated_menu .highlight, #main > .bicolumn > nav .highlight { width: 240px; height: 42px; border: 1px solid lightgray; background: white; border-right-color: white; position: absolute; margin-top: -1px; }
.animated_menu li, #main > .bicolumn > nav li { font-size: 15px; text-indent: 20px; line-height: 40px; border-bottom: 1px solid lightgray; }
.animated_menu li a, #main > .bicolumn > nav li a { z-index: 5; position: relative; }

/* ***** BICOLUMN ***** */
#main > .bicolumn > nav { float: left; width: 25%; padding: 25px 15px 5px; }
#main > .bicolumn > section { float: left; width: 75%; padding: 5px 10px; }

/* ***** TRICOLUMN ***** */
.tricolumn > .col:nth-child(1), .tricolumn > .col:nth-child(2) { padding: 10px 10px; }
.tricolumn > .col:nth-child(1) { float: left; width: 213.333px; }
.tricolumn > .col:nth-child(1).animated_menu .highlight, .tricolumn > #main > .bicolumn > nav.col:nth-child(1) .highlight { width: 202px; }
.tricolumn > .col:nth-child(2) { float: left; width: 640px; }
.tricolumn > .col:nth-child(2) .legend, .tricolumn > .col:nth-child(2) .legend + .superindex { margin-right: 10px; }
.tricolumn > .col:nth-child(3) { float: right; width: 170.667px; }

/* ***** RESTAURANT_HEADER ***** */
#restaurant_header .restaurant_name { font-size: 34px; }
#restaurant_header > .full { margin-top: -1ex; }
#restaurant_header > .full .restaurant_town { font-size: 13px; color: #999999; }
#restaurant_header .resume { margin-top: 5px; }
#restaurant_header .resume > .half { padding: 5px; }

/* ***** Todos los Index ***** */
.index .filter, .index .pagination { min-height: 40px; line-height: 24px; }
.index .filter { float: left; width: 70%; margin: 2px 0; }
.index .filter .label, .index .filter .input { margin: 3px 0; }
.index .filter .label { float: left; width: 23%; padding-right: 8px; }
.index .filter .input { float: left; width: 77%; }
.index .filter .input input, .index .filter .input .select_form.white { width: 100%; }
.index .paginate { float: left; width: 30%; }
.index .paginate .links { margin-top: 15px; }
.index .paginate .links a img { display: inline-block; margin: 3px; }
.index .paginate .links a.disabled { cursor: default; }
.index .paginate .links a.disabled img { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30); opacity: 0.3; }
.index table { font-size: 14px; width: 760px; }
.index table tr { line-height: 20px; }
.index table tr td, .index table tr th { padding: 0 5px; }
.index table tr td.id_column, .index table tr th.id_column { min-width: 33px; }
.index table tr.odd { background-color: #f0f0f0; }
.index table tr.even { background-color: #f9f9f9; }

/* ****** PARCIAL DE REVIEW ****** */
article.review { padding: 10px 0; line-height: 200%; }
article.review .reviewer_info { float: left; width: 20%; }
article.review .reviewer_info p { line-height: 100%; }
article.review .reviewer_info .full .ellipsis-text { text-indent: 5px; line-height: 130%; }
article.review .review_info { float: left; width: 80%; padding: 0 5px; }
article.review .review_info header .title { font-size: 20px; }
article.review .review_info header .restaurant_name { font-size: 14px; text-indent: 50px; color: #999999; }
article.review .review_info .opinion p, article.review .review_info .opinion .stars .label { text-indent: 10px; }
article.review .review_info .extra_info { padding-bottom: 5px; }

/* ****** ESTILOS PARA EL FIELDSET DEL MAPA, Y EL BOTON DE GEOLOCALIZAR ****** */
#geolocate { float: left; width: 75px; margin: 0 280px; }
#geolocate img, #geolocate .text { display: inline; }
#geolocate img { margin: -3px 2px -5px 0; }

#geolocation_fieldset .field { display: none; }
#geolocation_fieldset .edit_map_buttons { position: absolute; margin: 270px 0 0 250px; z-index: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
#geolocation_fieldset .edit_map_buttons.visible { -moz-transition-property: opacity; -webkit-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transition-timing-function: linear; -webkit-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; -moz-transition-delay: 0.5s; -webkit-transition-delay: 0.5s; -o-transition-delay: 0.5s; transition-delay: 0.5s; z-index: 100; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
#geolocation_fieldset #capture_sv, #geolocation_fieldset #put_marker { margin: 0 4px; background: rgba(0, 0, 0, 0.7); border: 2px solid white; float: left; width: 50px; z-index: 200; }
#geolocation_fieldset #capture_sv img, #geolocation_fieldset #put_marker img { margin: 2px auto; }
#geolocation_fieldset #capture_sv:hover, #geolocation_fieldset #put_marker:hover { background: rgba(30, 30, 30, 0.7); }
#geolocation_fieldset #photo_effect { width: 620px; height: 300px; position: absolute; background: white; z-index: -1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition-property: opacity,z-index; -webkit-transition-property: opacity,z-index; -o-transition-property: opacity,z-index; transition-property: opacity,z-index; -moz-transition-duration: 0.4s, 0s; -webkit-transition-duration: 0.4s, 0s; -o-transition-duration: 0.4s, 0s; transition-duration: 0.4s, 0s; -moz-transition-timing-function: linear; -webkit-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; -moz-transition-delay: 0s, 0.4s; -webkit-transition-delay: 0s, 0.4s; -o-transition-delay: 0s, 0.4s; transition-delay: 0s, 0.4s; }
#geolocation_fieldset #photo_effect.visible { -moz-transition-property: opacity,z-index; -webkit-transition-property: opacity,z-index; -o-transition-property: opacity,z-index; transition-property: opacity,z-index; -moz-transition-duration: 0s, 0s; -webkit-transition-duration: 0s, 0s; -o-transition-duration: 0s, 0s; transition-duration: 0s, 0s; -moz-transition-timing-function: linear; -webkit-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; -moz-transition-delay: 0s, 0s; -webkit-transition-delay: 0s, 0s; -o-transition-delay: 0s, 0s; transition-delay: 0s, 0s; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; z-index: 100; }

/* ****** EXPANDIBLE MENU ****** */
#expandible_menu { color: whitesmoke; position: absolute; height: 546px; float: left; width: auto; margin: 2px 0 0 2px; z-index: 150; }
#expandible_menu #expand { float: left; width: 13px; }
#expandible_menu #expand #tab { height: 40px; width: 12px; margin-top: 253px; background-color: rgba(0, 0, 0, 0.8); -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -o-border-top-right-radius: 5px; -ms-border-top-right-radius: 5px; -khtml-border-top-right-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -o-border-bottom-right-radius: 5px; -ms-border-bottom-right-radius: 5px; -khtml-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; padding-top: 15px; }
#expandible_menu #expand #tab img { -moz-transition-property: transform; -webkit-transition-property: transform; -o-transition-property: transform; transition-property: transform; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; -moz-transition-delay: 1s; -webkit-transition-delay: 1s; -o-transition-delay: 1s; transition-delay: 1s; }
#expandible_menu #filter_form { height: 546px; float: left; width: 5px; background-color: rgba(0, 0, 0, 0.8); -moz-transition-property: width; -webkit-transition-property: width; -o-transition-property: width; transition-property: width; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; -moz-transition-delay: 0.5s; -webkit-transition-delay: 0.5s; -o-transition-delay: 0.5s; transition-delay: 0.5s; }
#expandible_menu #filter_form .content { margin: 5px 10px; overflow: hidden; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition-property: opacity; -webkit-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; }
#expandible_menu #filter_form form fieldset { float: left; width: 180px; line-height: 35px; margin-top: 2px; }
#expandible_menu #filter_form form fieldset input { display: inline-block; background: transparent; color: whitesmoke; }
#expandible_menu #filter_form form fieldset #search_name_contains { width: 135px; }
#expandible_menu #filter_form form fieldset .food_type_container, #expandible_menu #filter_form form fieldset .select_food_type { float: right; width: 179px; }
#expandible_menu #filter_form form fieldset .price_container, #expandible_menu #filter_form form fieldset .price_container .select_price { float: left; width: 62px; }
#expandible_menu #filter_form form fieldset .price_container { margin: 5px 0 0 0; }
#expandible_menu #filter_form form fieldset .radius_container, #expandible_menu #filter_form form fieldset .select_radius { float: right; width: 98px; }
#expandible_menu #filter_form .results_container { float: left; width: 100%; height: 370px; }
#expandible_menu #filter_form .results_container #results { -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; border: 1px solid #cccccc; height: 350px; }
#expandible_menu #filter_form .results_container #results .result { border-bottom: 1px solid #cccccc; height: 39px; }
#expandible_menu #filter_form .results_container #results .result .puntuation, #expandible_menu #filter_form .results_container #results .result .restaurant_data, #expandible_menu #filter_form .results_container #results .result .more_info { height: 100%; }
#expandible_menu #filter_form .results_container #results .result .puntuation { float: left; width: 19px; padding-top: 4px; }
#expandible_menu #filter_form .results_container #results .result .restaurant_data { float: left; width: 148px; border-right: 1px solid #cccccc; padding-left: 3px; }
#expandible_menu #filter_form .results_container #results .result .restaurant_data .title a { color: white; }
#expandible_menu #filter_form .results_container #results .result .restaurant_data h6 { text-indent: 5px; color: #cccccc; }
#expandible_menu #filter_form .results_container #results .result .more_info { float: left; width: 11px; padding: 11px 0 0 1px; }
#expandible_menu #filter_form .results_container #more_up, #expandible_menu #filter_form .results_container #more_down { float: left; width: 25px; height: 10px; border: 1px solid whitesmoke; margin-left: 75px; overflow: hidden; }
#expandible_menu #filter_form .results_container #more_up img, #expandible_menu #filter_form .results_container #more_down img { margin: 0 auto; }
#expandible_menu #filter_form .results_container #more_up_container { height: 12px; padding-top: 12px; margin-bottom: -1px; overflow-y: hidden; }
#expandible_menu #filter_form .results_container #more_up { -moz-transition-property: margin-top; -webkit-transition-property: margin-top; -o-transition-property: margin-top; transition-property: margin-top; -moz-transition-duration: 0.2s; -webkit-transition-duration: 0.2s; -o-transition-duration: 0.2s; transition-duration: 0.2s; -moz-transition-timing-function: linear; -webkit-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; position: relative; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -o-border-top-left-radius: 5px; -ms-border-top-left-radius: 5px; -khtml-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -o-border-top-right-radius: 5px; -ms-border-top-right-radius: 5px; -khtml-border-top-right-radius: 5px; border-top-right-radius: 5px; border-bottom-color: #292929; }
#expandible_menu #filter_form .results_container #more_down { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -o-border-bottom-left-radius: 5px; -ms-border-bottom-left-radius: 5px; -khtml-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -o-border-bottom-right-radius: 5px; -ms-border-bottom-right-radius: 5px; -khtml-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; border-top-color: #292929; margin-top: -1px; height: 1px; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition-property: height,opacity; -webkit-transition-property: height,opacity; -o-transition-property: height,opacity; transition-property: height,opacity; -moz-transition-duration: 0.2s, 0.2s; -webkit-transition-duration: 0.2s, 0.2s; -o-transition-duration: 0.2s, 0.2s; transition-duration: 0.2s, 0.2s; -moz-transition-timing-function: linear; -webkit-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; -moz-transition-delay: 0s, 0.2s; -webkit-transition-delay: 0s, 0.2s; -o-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s; }
#expandible_menu.expanded #filter_form { float: left; width: 200px; -moz-transition-property: width; -webkit-transition-property: width; -o-transition-property: width; transition-property: width; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; }
#expandible_menu.expanded #filter_form .content { -moz-transition-property: opacity; -webkit-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; -moz-transition-delay: 1s; -webkit-transition-delay: 1s; -o-transition-delay: 1s; transition-delay: 1s; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
#expandible_menu.expanded #filter_form .content .results_container #more_up.expanded { margin-top: -10px; }
#expandible_menu.expanded #filter_form .content .results_container #more_down.expanded { height: 10px; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; -moz-transition-property: height,opacity; -webkit-transition-property: height,opacity; -o-transition-property: height,opacity; transition-property: height,opacity; -moz-transition-duration: 0.2s, 0s; -webkit-transition-duration: 0.2s, 0s; -o-transition-duration: 0.2s, 0s; transition-duration: 0.2s, 0s; -moz-transition-timing-function: linear; -webkit-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; -moz-transition-delay: 0s, 0s; -webkit-transition-delay: 0s, 0s; -o-transition-delay: 0s, 0s; transition-delay: 0s, 0s; }
#expandible_menu.expanded #filter_form .content #results { overflow: hidden; }
#expandible_menu.expanded #filter_form .content #results_inner { height: 1px; -moz-transition-property: height,margin-top; -webkit-transition-property: height,margin-top; -o-transition-property: height,margin-top; transition-property: height,margin-top; -moz-transition-duration: 0.6s, 1s; -webkit-transition-duration: 0.6s, 1s; -o-transition-duration: 0.6s, 1s; transition-duration: 0.6s, 1s; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; overflow: hidden; }
#expandible_menu.expanded #tab img { -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

/* ****** Home#main ****** */
#main #map_container { padding-top: 15px; }
#main .slide-left, #main .slide-right { float: left; width: 30px; height: 410px; }
#main .slide-left img, #main .slide-right img { width: 25px; margin: 190px 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40); opacity: 0.4; }
#main .slide-left img:hover, #main .slide-right img:hover { -moz-transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1); -o-transform: scale(1.1, 1.1); -ms-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); }
#main .slide-left img { margin-right: 5px; }
#main .slide-right img { margin-left: 5px; }
#main #columns { float: left; width: 964px; text-align: justify; font-size: 12px; overflow: hidden; }
#main #columns .slider { float: left; width: 1606.667px; -moz-transition-property: margin; -webkit-transition-property: margin; -o-transition-property: margin; transition-property: margin; -moz-transition-duration: 1.5s; -webkit-transition-duration: 1.5s; -o-transition-duration: 1.5s; transition-duration: 1.5s; -moz-transition-timing-function: ease-out-in; -webkit-transition-timing-function: ease-out-in; -o-transition-timing-function: ease-out-in; transition-timing-function: ease-out-in; }
#main #columns .column { float: left; width: 321.333px; padding: 10px; margin-bottom: -10px; }
#main #columns .column .content { color: #444444; height: 110px; font-size: 13px; line-height: 20px; }

/* *********** INFOBOX ************ */
.infobox { -moz-border-image: url("/images/burbujablancanegra1.png") 27% 18% 70% 78% stretch stretch; -webkit-border-image: url("/images/burbujablancanegra1.png") 27% 18% 70% 78% stretch stretch; -o-border-image: url("/images/burbujablancanegra1.png") 27% 18% 70% 78% stretch stretch; -ms-border-image: url("/images/burbujablancanegra1.png") 27% 18% 70% 78% stretch stretch; -khtml-border-image: url("/images/burbujablancanegra1.png") 27% 18% 70% 78% stretch stretch; border-image: url("/images/burbujablancanegra1.png") 27% 18% 70% 78% stretch stretch; border-width: 9px 9px 25px 41px; cursor: default; font-size: 11px; color: whitesmoke; -moz-transition-property: margin-top; -webkit-transition-property: margin-top; -o-transition-property: margin-top; transition-property: margin-top; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; -moz-transition-delay: 0.5s; -webkit-transition-delay: 0.5s; -o-transition-delay: 0.5s; transition-delay: 0.5s; padding-left: -30px; }
.infobox a { color: whitesmoke; }
.infobox.medium .infoBoxContent { width: 230px; height: 58px; }
.infobox.medium .infoBoxContent .leftSide { width: 205px; }
.infobox.big { margin-top: -173px; }
.infobox.big .infoBoxContent { width: 370px; height: 231px; }
.infobox.big .infoBoxContent .leftSide { width: 343px; }
.infobox.big .infoBoxContent .leftSide #streetview_pane { margin-top: 5px; width: 343px; height: 230px; border: 2px solid white; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }
.infobox.big .infoBoxContent .leftSide #streetview_pane .sv_legend { -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; border: 2px solid white; height: 23px; overflow: hidden; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20); opacity: 0.2; -moz-transition-property: opacity; -webkit-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; -moz-transition-duration: 0.3s; -webkit-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; -moz-transition-timing-function: linear; -webkit-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; }
.infobox.big .infoBoxContent .leftSide #streetview_pane .sv_legend:hover { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.infobox .infoBoxContent { -moz-transition-property: opacity,height,width; -webkit-transition-property: opacity,height,width; -o-transition-property: opacity,height,width; transition-property: opacity,height,width; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; -moz-transition-delay: 0s,.5s,.5s; -webkit-transition-delay: 0s,.5s,.5s; -o-transition-delay: 0s,.5s,.5s; transition-delay: 0s,.5s,.5s; margin: -5px -5px 0 -35px; }
.infobox .infoBoxContent .leftSide { -moz-transition-property: width,height; -webkit-transition-property: width,height; -o-transition-property: width,height; transition-property: width,height; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; -moz-transition-delay: 0.5s; -webkit-transition-delay: 0.5s; -o-transition-delay: 0.5s; transition-delay: 0.5s; }
.infobox .infoBoxContent .half { line-height: 17px; }
.infobox .infoBoxContent .name { font-size: 12px; }
.infobox .infoBoxContent .reviews a { font-size: 10px; color: #eee8aa; }
.infobox .infoBoxContent .stars.show.mini .stars_list { width: 76px; margin-left: 10px; }
.infobox .infoBoxContent .stars.show.mini .stars_list img { margin: 0 1px; }
.infobox .infoBoxContent .rightSide { width: 25px; }
.infobox .infoBoxContent .rightSide .button { display: inline-block; }

form fieldset .stars .star { float: left; width: 18px; margin-left: 3px; }
form fieldset .stars .star .half { height: 18px; }
form fieldset .stars .star .half.left { background: url(/images/iconos/star_half_left_mini_gray.png); }
form fieldset .stars .star .half.left.filled { background: url(/images/iconos/star_half_left_mini.png); }
form fieldset .stars .star .half.right { background: url(/images/iconos/star_half_right_mini_gray.png); }
form fieldset .stars .star .half.right.filled { background: url(/images/iconos/star_half_right_mini.png); }

.iPhoneCheckContainer, .iPhoneCheckContainer label { -moz-user-select: none; -webkit-user-select: none; -o-user-select: none; -ms-user-select: none; -khtml-user-select: none; user-select: none; }

.iPhoneCheckDisabled { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }

.iPhoneCheckContainer { position: relative; height: 27px; width: 85px; cursor: pointer; overflow: hidden; }
.iPhoneCheckContainer input { position: absolute; top: 5px; left: 30px; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.iPhoneCheckContainer label { white-space: nowrap; font-size: 17px; line-height: 17px; font-weight: bold; font-family: Helvetica Neue, Arial, Helvetica, sans-serif; text-transform: uppercase; cursor: pointer; display: block; height: 27px; position: absolute; width: auto; top: 0; padding-top: 5px; overflow: hidden; }
.iPhoneCheckContainer label.iPhoneCheckLabelOn { color: white; background: url(/images/iphone_checkbox/on.png) no-repeat; text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6); left: 0; padding-top: 5px; }
.iPhoneCheckContainer label.iPhoneCheckLabelOn span { padding-left: 8px; }
.iPhoneCheckContainer label.iPhoneCheckLabelOff { color: #8b8b8b; background: url(/images/iphone_checkbox/off.png) no-repeat right 0; text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6); text-align: right; right: 0; }
.iPhoneCheckContainer label.iPhoneCheckLabelOff span { padding-right: 8px; }

.iPhoneCheckHandle { display: block; height: 27px; cursor: pointer; position: absolute; top: 0; left: 0; width: 32px !important; background: url(/images/iphone_checkbox/slider_left.png) no-repeat; padding-left: 3px; }

.iPhoneCheckHandleRight { height: 100%; width: 100%; padding-right: 3px; background: url(/images/iphone_checkbox/slider_right.png) no-repeat right 0; }

.iPhoneCheckHandleCenter { height: 100%; width: 100%; background: url(/images/iphone_checkbox/slider_center.png); }

/* ***** Menu interactivo de platos *** */
.restaurant_menu ul.menu-nav .cat-link { display: inline-block; border: 1px solid lightgray; padding: 2px; }
.restaurant_menu .menu { width: 620px; height: 320px; overflow: hidden; }
.restaurant_menu .menu .category_wrapper { width: 1000%; height: inherit; -moz-transition-property: margin-left; -webkit-transition-property: margin-left; -o-transition-property: margin-left; transition-property: margin-left; -moz-transition-duration: 0.4s; -webkit-transition-duration: 0.4s; -o-transition-duration: 0.4s; transition-duration: 0.4s; }
.restaurant_menu .menu .category_wrapper .category { -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; float: left; width: 320px; padding: 10px; height: 280px; border: 2px solid #aaaaaa; background: #f9f9f9; margin: 6px; -moz-box-shadow: 0 0 10px 0px #bbbbbb; -webkit-box-shadow: 0 0 10px 0px #bbbbbb; -o-box-shadow: 0 0 10px 0px #bbbbbb; box-shadow: 0 0 10px 0px #bbbbbb; }
.restaurant_menu .menu .category_wrapper .category .course { line-height: 17px; padding: 2px 0; }
.restaurant_menu .menu .category_wrapper .category .course[draggable=true] { cursor: move; }
.restaurant_menu .menu .category_wrapper .category .course .name, .restaurant_menu .menu .category_wrapper .category .course .price, .restaurant_menu .menu .category_wrapper .category .course .edit, .restaurant_menu .menu .category_wrapper .category .course .coin-symbol { display: inline-block; }
.restaurant_menu .menu .category_wrapper .category .course .name { width: 205px; }
.restaurant_menu .menu .category_wrapper .category .course .price { width: 30px; }
.restaurant_menu .menu .category_wrapper .category .course .coin-symbol { width: 7px; }
.restaurant_menu .menu .category_wrapper .category .course .edit { width: 36px; }
.restaurant_menu .menu .category_wrapper .category .course .edit.editing { margin-bottom: -5px; }
.restaurant_menu .menu .category_wrapper .category .course .edit img { float: left; width: 18px; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }
.restaurant_menu .menu .category_wrapper .category .course .edit img:hover { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.restaurant_menu .menu .category_wrapper .category .course input[type=text] { width: 100%; height: 18px; }
.restaurant_menu .menu.csstransforms { padding-left: 120px; }
.restaurant_menu .menu.csstransforms .category { margin: 10px -100px; -moz-transition-property: transform,opacity; -webkit-transition-property: transform,opacity; -o-transition-property: transform,opacity; transition-property: transform,opacity; -moz-transition-duration: 0.4s; -webkit-transition-duration: 0.4s; -o-transition-duration: 0.4s; transition-duration: 0.4s; }
.restaurant_menu .menu.csstransforms .category.left, .restaurant_menu .menu.csstransforms .category.right { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20); opacity: 0.2; }
.restaurant_menu .menu.csstransforms .category.left.first, .restaurant_menu .menu.csstransforms .category.right.first { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.restaurant_menu .menu.csstransforms .category.center { margin: 10px 30px; }
.restaurant_menu .menu.csstransforms:not(.csstransforms3d) .category.left { -moz-transform: skewy(-25deg) scalex(0.5) scaley(0.6) translatey(10px); -webkit-transform: skewy(-25deg) scalex(0.5) scaley(0.6) translatey(10px); -o-transform: skewy(-25deg) scalex(0.5) scaley(0.6) translatey(10px); -ms-transform: skewy(-25deg) scalex(0.5) scaley(0.6) translatey(10px); -khtml-transform: skewy(-25deg) scalex(0.5) scaley(0.6) translatey(10px); transform: skewy(-25deg) scalex(0.5) scaley(0.6) translatey(10px); }
.restaurant_menu .menu.csstransforms:not(.csstransforms3d) .category.right { -moz-transform: skewy(25deg) scalex(0.5) scaley(0.6) translatey(10px); -webkit-transform: skewy(25deg) scalex(0.5) scaley(0.6) translatey(10px); -o-transform: skewy(25deg) scalex(0.5) scaley(0.6) translatey(10px); -ms-transform: skewy(25deg) scalex(0.5) scaley(0.6) translatey(10px); -khtml-transform: skewy(25deg) scalex(0.5) scaley(0.6) translatey(10px); transform: skewy(25deg) scalex(0.5) scaley(0.6) translatey(10px); }
.restaurant_menu .menu.csstransforms.csstransforms3d { padding-left: 150px; }
.restaurant_menu .menu.csstransforms.csstransforms3d .category { margin: 10px -122px; }
.restaurant_menu .menu.csstransforms.csstransforms3d .category.left:not(.first), .restaurant_menu .menu.csstransforms.csstransforms3d .category.right:not(.first) { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15); opacity: 0.15; }
.restaurant_menu .menu.csstransforms.csstransforms3d .category.left { -moz-transform: perspective(500) rotateY(65deg) scale(0.65); -webkit-transform: perspective(500) rotateY(65deg) scale(0.65); -o-transform: perspective(500) rotateY(65deg) scale(0.65); -ms-transform: perspective(500) rotateY(65deg) scale(0.65); -khtml-transform: perspective(500) rotateY(65deg) scale(0.65); transform: perspective(500) rotateY(65deg) scale(0.65); }
.restaurant_menu .menu.csstransforms.csstransforms3d .category.center { margin: 10px 3px; }
.restaurant_menu .menu.csstransforms.csstransforms3d .category.right { -moz-transform: perspective(500) rotateY(-65deg) scale(0.65); -webkit-transform: perspective(500) rotateY(-65deg) scale(0.65); -o-transform: perspective(500) rotateY(-65deg) scale(0.65); -ms-transform: perspective(500) rotateY(-65deg) scale(0.65); -khtml-transform: perspective(500) rotateY(-65deg) scale(0.65); transform: perspective(500) rotateY(-65deg) scale(0.65); }

/* ****** TIKET ****** */
.ticket { line-height: 17px; }
.ticket .coin-symbol { float: left; width: 4%; }
.ticket .ticketline { -moz-transition-property: background-color; -webkit-transition-property: background-color; -o-transition-property: background-color; transition-property: background-color; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; }
.ticket .lines .ticketline .name { float: left; width: 78%; }
.ticket .lines .ticketline .x { float: left; width: 3%; }
.ticket .lines .ticketline .quantity { float: left; width: 7%; }
.ticket .lines .ticketline .quantity input { width: 100%; height: 18px; border: none; background: #f6f6f6; }
.ticket .lines .ticketline .price { float: left; width: 7%; }
.ticket .total .name { float: left; width: 74%; }
.ticket .total .price { float: left; width: 21%; }

/* ******** TICKET en el formulario de creación ******** */
#ticket { border: 2px solid #aaaaaa; -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; background: #f9f9f9; width: 320px; height: 320px; margin: 10px auto; padding: 10px; }
#ticket.dragover { background: #eee8aa; }
