* { padding: 0; margin: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

body { font-family: Verdana, Helvetica, Arial; font-size: 12px; color: #222222; }

.big_map, .medium_map { -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; height: 550px; border: 2px solid #444444; }

.medium_map { height: 300px; width: 600px; }

body > header { height: 60px; background: #696969; }

body > nav { float: left; width: 100%; padding-top: 5px; font-weight: bold; height: 25px; color: white; background: #222222; }
body > nav .links { width: 960px; margin: 0 auto; }
body > nav .links section { float: left; width: 480px; }
body > nav .links #nav_section div { float: left; width: 70px; }
body > nav .links #auth_section { text-align: center; }
body > nav .links #auth_section > div { float: right; margin-left: 5px; }
body > nav .links #auth_section .menuitem { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -o-border-bottom-left-radius: 5px; -ms-border-bottom-left-radius: 5px; -khtml-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -o-border-bottom-right-radius: 5px; -ms-border-bottom-right-radius: 5px; -khtml-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; -webkit-transition: height 0.4s ease-out; overflow: hidden; width: 200px; height: 20px; }
body > nav .links #auth_section .menuitem:hover { height: 140px; }
body > nav .links #auth_section .menuitem .content { padding-top: 5px; margin-top: 4px; background: #222222; font-weight: normal; }
body > nav .links #auth_section .menuitem .content li { display: inline; }

#main { width: 960px; margin: 0 auto; clear: both; background: #f5f5f5; color: gray; }

body > footer { width: 960px; margin: 0 auto; clear: both; border-top: 1px solid lightgray; min-height: 50px; }

#map_container #expandible_menu { float: left; margin: 2px 0 0 2px; background-color: rgba(0, 0, 0, 0.4); }
#map_container #expandible_menu #filter_form, #map_container #expandible_menu #expand { float: left; height: 546px; }
#map_container #expandible_menu #expand { width: 10px; backgound-color: rgba(0, 0, 0, 0.5); }
#map_container #expandible_menu #expand #tab { margin-top: 250px; background-color: rgba(0, 0, 0, 0.5); height: 30px; width: 10px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -o-border-top-right-radius: 5px; -ms-border-top-right-radius: 5px; -khtml-border-top-right-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -o-border-bottom-right-radius: 5px; -ms-border-bottom-right-radius: 5px; -khtml-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
#map_container #expandible_menu #expand #tab img { margin: 9px 0px 0px 0px; -moz-transition-property: all; -webkit-transition-property: all; -o-transition-property: all; transition-property: all; -moz-transition-duration: 0.2s; -webkit-transition-duration: 0.2s; -o-transition-duration: 0.2s; transition-duration: 0.2s; -moz-transition-timing-function: linear; -webkit-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; }

#columns { width: 960px; }
#columns div { float: left; width: 320px; }
#columns > div { padding: 10px 0 10px 10px; }
#columns > div:first-child { padding-left: 0; }
#columns > div .content { height: 100px; }

#side_menu { float: left; width: 240px; position: relative; border-right: 1px solid lightgray; border-left: 1px solid lightgray; background: #f4f4f4; }
#side_menu .highlight { position: relative; float: right; width: 220px; height: 37px; top: 26px; margin-right: -2px; border: 1px solid lightgray; border-right: none; background-color: white; -moz-transition-property: top; -webkit-transition-property: top; -o-transition-property: top; transition-property: top; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -moz-transition-timing-function: linear; -webkit-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; }
#side_menu .doubleBorder { border: 1px solid white; min-height: 600px; }
#side_menu li { position: relative; display: block; margin: 0 20px; padding: 10px; border-bottom: 1px solid lightgray; }
#side_menu li:first-child { margin-top: 10px; }
#side_menu li a { color: #4682b4; z-index: 3; }

#edit_user_div { float: left; width: 528px; padding-top: 15px; }
#edit_user_div form fieldset { border: none; }
#edit_user_div form fieldset .legend { font-size: 14px; margin: 0px 15px 0px 15px; padding: 5px; border-bottom: 1px solid lightgray; }
#edit_user_div form fieldset .col { padding: 10px; }
#edit_user_div form fieldset .col p { height: 40px; padding-top: 10px; }
#edit_user_div form fieldset .col p label { margin-top: 5px; }
#edit_user_div form fieldset .col input[type='text'] { height: 25px; width: 280px; background: #fafad2; }
#edit_user_div form fieldset .col_left { float: left; width: 176px; text-align: right; }
#edit_user_div form fieldset .col_right { float: left; width: 352px; }

aside.foto { float: left; width: 192px; padding: 25px 0 0 15px; }
aside.foto .legend { font-size: 14px; border-bottom: 1px solid lightgray; }
aside.foto .foto { margin: 15px 0; height: 170px; width: 175px; border: 1px solid lightgray; }

#user_show .col { padding: 15px 10px; min-height: 200px; }
#user_show .col_left { float: left; width: 240px; position: relative; border-right: 1px solid lightgray; border-left: 1px solid lightgray; background: #f4f4f4; }
#user_show .col_middle { float: left; width: 480px; }
#user_show .col_right { float: left; width: 240px; }
#user_show .col_right .foto { border: 1px solid lightgray; height: 170px; }
