@charset "UTF-8";
@font-face { font-family: "Often"; src: local("☺"), url(/fonts/often.ttf) format('opentype'); }

@media screen and (max-device-width: 480px) { @font-face { font-family: "Often"; src: url(/fonts/often.ttf) format('opentype'); } }
@font-face { font-family: "RalewayThin"; src: local("☺"), url(/fonts/raleway_thin-webfont.ttf) format('truetype'), url(/fonts/raleway_thin-webfont.svg#webfonthRGH7EPV) format('svg'), url(/fonts/raleway_thin-webfont.woff) format('woff'); }

@media screen and (max-device-width: 480px) { @font-face { font-family: "RalewayThin"; src: url(/fonts/raleway_thin-webfont.ttf) format('truetype'), url(/fonts/raleway_thin-webfont.svg#webfonthRGH7EPV) format('svg'), url(/fonts/raleway_thin-webfont.woff) format('woff'); } }
/* **** VARIABLES ***** */
/* ****** Mixins ****** */
/* ***** ESTILOS GENERALES DE LA PAGINA ***** */
* { margin: 0; padding: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

body { font-family: "Often", "Trebuchet MS", Helvetica, Arial; font-size: 11px; color: #555555; }
body html, body body, body div, body span, body applet, body object, body iframe, body h1, body h2, body h3, body h4, body h5, body h6, body p, body blockquote, body pre, body a, body abbr, body acronym, body address, body big, body cite, body code, body del, body dfn, body em, body font, body img, body ins, body kbd, body q, body s, body samp, body small, body strike, body strong, body sub, body sup, body tt, body var, body dl, body dt, body dd, body ol, body ul, body li, body fieldset, body form, body label, body legend, body table, body caption, body tbody, body tfoot, body thead, body tr, body th, body td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
body body { line-height: 1; color: black; background: white; }
body ol, body ul { list-style: none; }
body table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }
body caption, body th, body td { text-align: left; font-weight: normal; vertical-align: middle; }
body q, body blockquote { quotes: "" ""; }
body q:before, body q:after, body blockquote:before, body blockquote:after { content: ""; }
body a img { border: none; }
body h1 { font-size: 16px; text-align: center; }
body h1, body h2 { font-weight: bold; }
body h2, body h3 { font-size: 15px; }
body h4 { font-size: 12px; }
body h5 { font-size: 11px; }
body h6 { font-size: 10px; color: #aaaaaa; }
body a, body h4, body h5 { color: #4682b4; text-decoration: none; }
body li { display: block; list-style: none; }
body iframe { display: none; }
body img { display: block; }
body input[type=text], body input[type=password], body input[type=email], body textarea, body select { width: 370px; max-width: 400px; height: 25px; border: 1px solid lightgray; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; padding-left: 5px; font-family: "Often", "MS Trebuchet", Helvetica, sans-serif; }
body input[type=text]:focus, body input[type=password]:focus, body input[type=email]:focus, body textarea:focus, body select:focus { outline: none; -moz-box-shadow: 0 0 7px #dddddd; -webkit-box-shadow: 0 0 7px #dddddd; -o-box-shadow: 0 0 7px #dddddd; box-shadow: 0 0 7px #dddddd; }
body textarea { min-height: 175px; font-size: 12px; }

/* ****** CLASES GENERALES PARA ESTILAR ****** */
.wrapper { width: 1024px; margin: 0 auto; clear: both; }

.center-text { text-align: center; }

.right-text { text-align: right; }

.justify-text { text-align: justify; }

.ellipsis-text { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

.italic { font-style: italic; }

.hidden { display: none; }

.shown { display: block; }

.invisible { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }

.visible { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

.full { float: left; width: 100%; }

.half { float: left; width: 50%; }

.float-right { float: right; }

.float-left { float: left; }

.label-value { line-height: 150%; }
.label-value .label { float: left; width: 35%; color: #333333; }
.label-value .value { float: left; width: 65%; }

.gray-column .label-value .label { float: left; width: 28%; }

.gray-column .label-value .value { float: left; width: 72%; }

.round-corners, .gray-with-gray-round-borders { -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }

.gray_column { background: #eeeeee; border: 1px solid white; border-right: 2px ridge rgba(255, 255, 255, 0.5); border-left: 2px groove rgba(255, 255, 255, 0.5); }

.gray-with-gray-round-borders { background: #f5f5f5; border: 1px solid #e4e4e4; }

.superindex { margin: -1ex 0 1ex; }

.legend { border-bottom: 1px solid lightgray; padding: 0.3ex 0; margin: 10px 0; text-indent: 5px; }

.indent-text { text-indent: 10px; }

.legend + .superindex { margin: -1em 0 1em; }

.fake_button { border: 1px solid lightgray; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; padding: 4px 5px; color: gray; background: #f4f4f4; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd)); background-image: -moz-linear-gradient(#ffffff, #dddddd); background-image: linear-gradient(#ffffff, #dddddd); }

.dot-underlined { border-bottom: 1px dotted lightgray; }

.highlighted { background-color: yellow; -moz-transition-property: background-color; -webkit-transition-property: background-color; -o-transition-property: background-color; transition-property: background-color; -moz-transition-duration: 0s; -webkit-transition-duration: 0s; -o-transition-duration: 0s; transition-duration: 0s; }

/* ****** Fieldsets ***** */
fieldset .superindex { margin-bottom: 25px; }
fieldset .field { float: left; width: 100%; line-height: 27px; margin: 5px 0; }
fieldset .field .label { float: left; width: 22%; padding: 0 10px; }
fieldset .field .input { float: left; width: 78%; }
fieldset .bicolumn .field .label, fieldset .bicolumn .field .input { float: left; width: 50%; }

/* ****** BOTONES DE LOS FORMULARIOS ****** */
.buttons input[type=submit], .buttons input[type=button] { color: #666666; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; border: 1px solid lightgray; height: 25px; padding: 0 10px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #dadada)); background-image: -moz-linear-gradient(#fbfbfb, #dadada); background-image: linear-gradient(#fbfbfb, #dadada); }
.buttons input[type=submit]:hover, .buttons input[type=button]:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e4e4e4)); background-image: -moz-linear-gradient(#ffffff, #e4e4e4); background-image: linear-gradient(#ffffff, #e4e4e4); }
.buttons input[type=submit]:active, .buttons input[type=button]:active { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d0d0d0), color-stop(100%, #f0f0f0)); background-image: -moz-linear-gradient(#d0d0d0, #f0f0f0); background-image: linear-gradient(#d0d0d0, #f0f0f0); }

/* *********** PHOTOS ************ */
.photo { border: 1px solid lightgray; }
.photo > img { border: 1px solid white; }
.photo.small img { width: 96px; height: 96px; }
.photo.scalable { -moz-transition-property: transform; -webkit-transition-property: transform; -o-transition-property: transform; transition-property: transform; -moz-transition-duration: 0.4s; -webkit-transition-duration: 0.4s; -o-transition-duration: 0.4s; transition-duration: 0.4s; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; }
.photo.scalable:hover { -moz-transition-delay: 0.3s; -webkit-transition-delay: 0.3s; -o-transition-delay: 0.3s; transition-delay: 0.3s; -moz-transform: scale(1.7, 1.7); -webkit-transform: scale(1.7, 1.7); -o-transform: scale(1.7, 1.7); -ms-transform: scale(1.7, 1.7); transform: scale(1.7, 1.7); -moz-box-shadow: 0 0 10px #999999; -webkit-box-shadow: 0 0 10px #999999; -o-box-shadow: 0 0 10px #999999; box-shadow: 0 0 10px #999999; z-index: 10; }
.photo.scalable:hover.very { -moz-transform: scale(2.5, 2.5); -webkit-transform: scale(2.5, 2.5); -o-transform: scale(2.5, 2.5); -ms-transform: scale(2.5, 2.5); transform: scale(2.5, 2.5); }

.photo_list .photo { display: inline-block; margin: 2px 0 0 5px; }

fieldset .photo { margin: 5px 0; }
fieldset .photo > img { width: 170px; }
fieldset .photo.editable { position: relative; }
fieldset .photo.editable .delete_inner { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition-property: opacity; -webkit-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; -moz-transition-duration: 0.4s; -webkit-transition-duration: 0.4s; -o-transition-duration: 0.4s; transition-duration: 0.4s; -moz-transition-timing-function: linear; -webkit-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; background: rgba(0, 0, 0, 0.85); position: absolute; top: 2px; left: 2px; }
fieldset .photo.editable:hover .delete_inner { z-index: 2; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
fieldset .photo.editable:hover .delete_inner:hover { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

#photos_fieldset .field { width: 100%; height: 30px; }
#photos_fieldset .field .delete { float: left; width: 17px; }
#photos_fieldset .field .select { float: left; width: 25px; overflow: hidden; background: url(/images/upload_file_background.png) no-repeat 0% 0%; }
#photos_fieldset .field .select input { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
#photos_fieldset .field .file_name { float: left; width: 127px; padding-left: 2px; }

/* ***** PERCENTAGE BAR ****** */
.show_bar, .percentage_bar, .inclination_bar { float: left; width: 100%; margin: 2px 0; }
.show_bar .name, .percentage_bar .name, .inclination_bar .name { float: left; width: 40%; }
.show_bar .value, .percentage_bar .value, .inclination_bar .value { float: left; width: 60%; }
.show_bar .value .indicator, .percentage_bar .value .indicator, .inclination_bar .value .indicator { border: 2px solid #cccccc; -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; float: left; width: 100%; height: 19px; }
.show_bar .value .indicator .bar, .percentage_bar .value .indicator .bar, .inclination_bar .value .indicator .bar { height: 15px; }
.show_bar .value .indicator .percent, .percentage_bar .value .indicator .percent, .inclination_bar .value .indicator .percent { width: 30px; height: 15px; margin: -15px auto 0; -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; background: rgba(20, 20, 20, 0.8); color: white; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10); opacity: 0.1; -moz-transition-property: opacity; -webkit-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; -moz-transition-duration: 0.3s; -webkit-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; }
.show_bar .value .indicator .percent:hover, .percentage_bar .value .indicator .percent:hover, .inclination_bar .value .indicator .percent:hover { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75); opacity: 0.75; }

.percentage_bar .bar { -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #faff00), color-stop(100%, #ffb704)); background-image: -moz-linear-gradient(#faff00, #ffb704); background-image: linear-gradient(#faff00, #ffb704); }

.inclination_bar .negative .bar { float: right; -moz-border-radius-topleft: 8px; -webkit-border-top-left-radius: 8px; -o-border-top-left-radius: 8px; -ms-border-top-left-radius: 8px; -khtml-border-top-left-radius: 8px; border-top-left-radius: 8px; -moz-border-radius-bottomleft: 8px; -webkit-border-bottom-left-radius: 8px; -o-border-bottom-left-radius: 8px; -ms-border-bottom-left-radius: 8px; -khtml-border-bottom-left-radius: 8px; border-bottom-left-radius: 8px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffaaaa), color-stop(100%, #ff7777)); background-image: -moz-linear-gradient(#ffaaaa, #ff7777); background-image: linear-gradient(#ffaaaa, #ff7777); }
.inclination_bar .positive .bar { -moz-border-radius-topright: 8px; -webkit-border-top-right-radius: 8px; -o-border-top-right-radius: 8px; -ms-border-top-right-radius: 8px; -khtml-border-top-right-radius: 8px; border-top-right-radius: 8px; -moz-border-radius-bottomright: 8px; -webkit-border-bottom-right-radius: 8px; -o-border-bottom-right-radius: 8px; -ms-border-bottom-right-radius: 8px; -khtml-border-bottom-right-radius: 8px; border-bottom-right-radius: 8px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaffaa), color-stop(100%, #77ff77)); background-image: -moz-linear-gradient(#aaffaa, #77ff77); background-image: linear-gradient(#aaffaa, #77ff77); }
.inclination_bar .percent { position: absolute; margin: 0px 73px !important; }

.radio_label { background: #fafafa; border: 1px solid lightgray; float: left; width: 50px; height: 25px; line-height: 25px; text-align: center; }
.radio_label.first { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -o-border-top-left-radius: 5px; -ms-border-top-left-radius: 5px; -khtml-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -o-border-bottom-left-radius: 5px; -ms-border-bottom-left-radius: 5px; -khtml-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; border-right: none; }
.radio_label.last { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -o-border-top-right-radius: 5px; -ms-border-top-right-radius: 5px; -khtml-border-top-right-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -o-border-bottom-right-radius: 5px; -ms-border-bottom-right-radius: 5px; -khtml-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; border-left: none; }
.radio_label.selected { background: #f2f2f2; color: red; }

/* ***** STARS ***** */
.stars.show .label { float: left; width: 110px; }
.stars.show .stars_list { float: left; width: 130px; padding: 2px 0; }
.stars.show .stars_list img { float: left; margin: 0 2px; }
.stars.show.mini .label { line-height: 160%; float: left; width: 54px; font-size: 11px; }
.stars.show.mini .stars_list { float: left; width: 66px; }
.stars.show.mini .stars_list img { width: 13px; margin: 0; }

/* ****** SERVICES ******* */
.service .logo { float: left; width: 15%; }

.service .name { float: left; width: 85%; text-indent: 10px; line-height: 26px; font-size: 15px; }

/* ***** RECOMENDACIONES Y ALTERNATIVAS ***** */
.recomended_restaurant { margin: 5px 0; }
.recomended_restaurant .title { text-indent: 5px; }
.recomended_restaurant .address { text-indent: 15px; }
.recomended_restaurant .stars { margin-left: 3px; }
.recomended_restaurant .long:hover { overflow: visible; }

/* ***** SELECTBOXES PERSONALIZADOS ***** */
.select_form { width: 370px; }

.selectbox { display: inline-block; position: relative; }
.selectbox .display { -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; border: 1px solid #cccccc; cursor: default; display: block; height: 25px; line-height: 25px; padding: 0 0px 0 10px; position: relative; text-decoration: none; }
.selectbox .display .value { display: none; }
.selectbox .display.dark { background: url(/images/flechas_select.png) right center no-repeat; color: whitesmoke; }
.selectbox .display.dark:hover { background: rgba(100, 100, 100, 0.3) url(/images/flechas_select.png) right center no-repeat; }
.selectbox .display.white { background: #f5f5f5 url(/images/flechas_select.png) right center no-repeat; color: gray; }
.selectbox .display.white:hover { background: #e6e6e6 url(/images/flechas_select.png) right center no-repeat; }

.select_born_on { margin-right: 17px; width: 112px !important; }

.items { border: 1px solid #cccccc; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; display: block; overflow-x: hidden; overflow-y: auto; z-index: 99999; }
.items a { display: block; line-height: 24px; }
.items a .value { display: none; }
.items.dark { background: rgba(20, 20, 20, 0.95); }
.items.dark li:hover { background: rgba(45, 45, 45, 0.95); }
.items.dark a { color: whitesmoke; }
.items.white { background: #f5f5f5; }
.items.white li:hover { background: #e6e6e6; }
.items.white a { color: gray; }
.items li { padding-left: 15px; line-height: 24px; }

/* ****** Popeye ****** */
#ppy1 .ppy-active { width: 150px; float: right; margin: 0 0px 10px 0; }
#ppy1 .ppy-outer { padding: 2px; border: 1px solid lightgray; background: white; }
#ppy1 .ppy-outer:hover, #ppy1 .ppy-outer .ppy-expanded .ppy-outer { -moz-box-shadow: 0 0 7px #cccccc; -webkit-box-shadow: 0 0 7px #cccccc; -o-box-shadow: 0 0 7px #cccccc; box-shadow: 0 0 7px #cccccc; }
#ppy1 .ppy-stage { width: 170px; height: 150px; }
#ppy1 .ppy-caption { margin: 2px 0 0 5px; padding: 5px; float: left; line-height: 1.3em; background: rgba(90, 90, 90, 0.4); -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 0 0 7px #cccccc; -webkit-box-shadow: 0 0 7px #cccccc; -o-box-shadow: 0 0 7px #cccccc; box-shadow: 0 0 7px #cccccc; visibility: hidden; }
#ppy1 .ppy-caption a { color: #66bde9; }
#ppy1 .ppy-caption a:hover { text-decoration: underline; }
#ppy1 .ppy-counter { color: whitesmoke; padding: 0 0 2px 0; margin: 0 0 5px 0; font-size: 0.9em; }
#ppy1 .ppy-stagewrap { background: #0c3b3d; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }
#ppy1 .ppy-loading { background: rgba(0, 0, 0, 0.5) url(/images/popeye/loading3.gif) no-repeat center !important; }
#ppy1 .ppy-nav { background: rgba(0, 0, 0, 0.5); width: 88px; height: 32px; padding: 5px; position: absolute; top: 2px; left: 2px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; }
#ppy1 .ppy-nav a { display: block; overflow: hidden; text-indent: -900em; height: 26px; float: left; padding: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }
#ppy1 .ppy-nav a:hover { cursor: pointer; }
#ppy1 .ppy-prev { width: 22px; background: url(/images/popeye/prev3.png) no-repeat center; }
#ppy1 .ppy-next { width: 22px; background: url(/images/popeye/next3.png) no-repeat center; }
#ppy1 .ppy-switch-enlarge { width: 33px; background: url(/images/popeye/enlarge4.png) no-repeat center; }
#ppy1 .ppy-switch-compact { width: 33px; background: url(/images/popeye/compact4.png) no-repeat center; }
#ppy1 .ppy-prev, #ppy1 .ppy-next, #ppy1 .ppy-switch-enlarge, #ppy1 .ppy-switch-compact { opacity: 0.6; }
#ppy1 .ppy-prev:hover, #ppy1 .ppy-next:hover, #ppy1 .ppy-switch-enlarge:hover, #ppy1 .ppy-switch-compact:hover { opacity: 1; }
