/* ****** Mixins ****** */
/**** VARIABLES ***** */
/* ***** ESTILOS GENERALES DE LA PAGINA ***** */
* { margin: 0; padding: 0; }

body { font-family: "Trebuchet MS", Helvetica, Arial; font-size: 11px; color: gray; }
body html, body body, body div, body span, body applet, body object, body iframe, body h1, body h2, body h3, body h4, body h5, body h6, body p, body blockquote, body pre, body a, body abbr, body acronym, body address, body big, body cite, body code, body del, body dfn, body em, body font, body img, body ins, body kbd, body q, body s, body samp, body small, body strike, body strong, body sub, body sup, body tt, body var, body dl, body dt, body dd, body ol, body ul, body li, body fieldset, body form, body label, body legend, body table, body caption, body tbody, body tfoot, body thead, body tr, body th, body td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
body body { line-height: 1; color: black; background: white; }
body ol, body ul { list-style: none; }
body table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }
body caption, body th, body td { text-align: left; font-weight: normal; vertical-align: middle; }
body q, body blockquote { quotes: "" ""; }
body q:before, body q:after, body blockquote:before, body blockquote:after { content: ""; }
body a img { border: none; }
body a { font-weight: bold; color: #4682b4; text-decoration: none; }
body li { display: block; }
body header .title { font-size: 17px; color: #555555; }
body header .subtitle { font-size: 11px; padding: 0 0 0 7%; font-style: italic; color: #999999; }
body img { display: block; }
body fieldset { border: none; }
body fieldset input[type="text"], body fieldset input[type="password"], body fieldset input[type="email"], body fieldset textarea, body fieldset select { width: 370px; max-width: 400px; height: 24px; }
body fieldset .button { text-align: center; }

/* ****** Clases para estilar elementos ****** */
#map_canvas.big_map, #map_canvas.medium_map { -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; height: 550px; border: 2px solid #444444; width: 1024px; }
#map_canvas.medium_map { height: 300px; width: 100%; }

.pic.small { height: 53px; width: 53px; border: 1px solid lightgray; }

.anotation { color: lightgray; font-style: italic; text-align: right; }

.minilegend { border-bottom: 1px dotted lightgray; padding: 0 0 2px 5px; margin-bottom: 3px; }

.visible { display: block; }

.invisible { display: none; }

.fake_button { border: 1px solid lightgray; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; padding: 4px 5px; color: gray; background: #f4f4f4; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd)); background-image: -moz-linear-gradient(top, #ffffff, #dddddd); background-image: linear-gradient(top, #ffffff, #dddddd); }

/* ****** Fieldsets ***** */
fieldset .field { float: left; width: 100%; }
fieldset .field > .col { padding: 15px 10px; }
fieldset .field > .col.label { float: left; width: 22%; text-align: right; padding-top: 17px; }
fieldset .field > .col.input { float: left; width: 78%; }

.fieldset_bicolumn > .col .field .col.label { width: 55%; }
.fieldset_bicolumn > .col .field .col.input { width: 45%; }
.fieldset_bicolumn > .col.left_col { float: left; width: 45%; }
.fieldset_bicolumn > .col.right_col { float: left; width: 45%; }

/* ****** Estilos generales de elementos ****** */
input[type=text], input[type=password], input[type=email], input[type=submit], input[type=button], textarea { border: 1px solid lightgray; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; height: 21px; }
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=submit]:focus, input[type=button]:focus, textarea:focus { outline: none; -moz-box-shadow: 0 0 7px #dddddd; -webkit-box-shadow: 0 0 7px #dddddd; -o-box-shadow: 0 0 7px #dddddd; box-shadow: 0 0 7px #dddddd; }

textarea { min-height: 175px; }

input[type=text], input[type=password], input[type=email] { width: 150px; padding-left: 5px; }

input[type=submit], input[type=button] { color: gray; background: #f4f4f4; padding: 0 10px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #dadada)); background-image: -moz-linear-gradient(top, #fbfbfb, #dadada); background-image: linear-gradient(top, #fbfbfb, #dadada); }
input[type=submit]:hover, input[type=button]:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e4e4e4)); background-image: -moz-linear-gradient(top, #ffffff, #e4e4e4); background-image: linear-gradient(top, #ffffff, #e4e4e4); }
input[type=submit]:active, input[type=button]:active { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d0d0d0), color-stop(100%, #f0f0f0)); background-image: -moz-linear-gradient(top, #d0d0d0, #f0f0f0); background-image: linear-gradient(top, #d0d0d0, #f0f0f0); }

.photos { display: block; margin-bottom: 5px; }
.photos#main_photo { border: 1px solid lightgray; }
.photos#main_photo img { width: 168px; }
.photos.photo_list li { display: inline-block; border: 1px solid lightgray; }
.photos li.photo img { border: 1px solid white; }
.photos li.photo.selected img { border: 1px solid yellow; }
.photos li.photo.mini img { width: 52px; height: 52px; }
.photos li.photo.small img { width: 96px; height: 96px; }

.scalable { -moz-transition-property: -webkit-transform; -webkit-transition-property: -webkit-transform; -o-transition-property: -webkit-transform; transition-property: -webkit-transform; -moz-transition-property: -moz-transform; -webkit-transition-property: -moz-transform; -o-transition-property: -moz-transform; transition-property: -moz-transform; -moz-transition-property: -o-transform; -webkit-transition-property: -o-transform; -o-transition-property: -o-transform; transition-property: -o-transform; -moz-transition-property: transform; -webkit-transition-property: transform; -o-transition-property: transform; transition-property: transform; -moz-transition-duration: 0.4s; -webkit-transition-duration: 0.4s; -o-transition-duration: 0.4s; transition-duration: 0.4s; }
.scalable:hover { -moz-transition-delay: 0.3s; -webkit-transition-delay: 0.3s; -o-transition-delay: 0.3s; transition-delay: 0.3s; -moz-transform: scale(1.7, 1.7); -webkit-transform: scale(1.7, 1.7); -o-transform: scale(1.7, 1.7); -ms-transform: scale(1.7, 1.7); transform: scale(1.7, 1.7); -moz-box-shadow: 0 0 10px #999999; -webkit-box-shadow: 0 0 10px #999999; -o-box-shadow: 0 0 10px #999999; box-shadow: 0 0 10px #999999; }
.scalable.very:hover { -moz-transform: scale(2.5, 2.5); -webkit-transform: scale(2.5, 2.5); -o-transform: scale(2.5, 2.5); -ms-transform: scale(2.5, 2.5); transform: scale(2.5, 2.5); }

.add_new_photo { text-align: right; padding: 0px 0 5px 0; }
.add_new_photo a { font-weight: normal; font-size: 10px; }

.upload_field { width: 100%; }
.upload_field .delete_photo { padding-top: 5px; float: left; width: 13px; height: 21px; }
.upload_field .photos { float: left; width: auto; border: 1px solid lightgray; }
.upload_field .photos .photo { position: relative; }
.upload_field .photos .photo img { border: 1px solid white; width: 170px; }
.upload_field .photos .photo .delete_inner { opacity: 0; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); -moz-transition-property: opacity; -webkit-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; -moz-transition-duration: 0.4s; -webkit-transition-duration: 0.4s; -o-transition-duration: 0.4s; transition-duration: 0.4s; -moz-transition-timing-function: linear; -webkit-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; background: rgba(0, 0, 0, 0.5) url(/images/close_mini.png) center no-repeat; position: absolute; width: 26px; height: 26px; top: 1px; left: 1px; }
.upload_field .photos .photo:hover .delete_inner { -moz-transition-property: opacity; -webkit-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; -moz-transition-duration: 0.3s; -webkit-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; -moz-transition-timing-function: linear; -webkit-transition-timing-function: linear; -o-transition-timing-function: linear; transition-timing-function: linear; z-index: 2; opacity: 0.7; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); }
.upload_field .photos .photo:hover .delete_inner:hover { opacity: 1; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); }
.upload_field .photo_upload { margin-bottom: 10px; float: left; width: 50px; height: 21px; background: url(/images/upload_btn.png) no-repeat; overflow: hidden; }
.upload_field .photo_upload .input input { opacity: 0; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); }
.upload_field .selected_file { float: left; width: 103px; margin-left: 2px; padding-top: 4px; height: 21px; overflow: hidden; }
