#devise_links
  - if controller_name != 'sessions'
    %p= link_to t(:sign_in), new_session_path(resource_name)
  - if devise_mapping.registerable? && controller_name != 'registrations'
    %p= link_to t(:sign_up), new_registration_path(resource_name)
  - if devise_mapping.recoverable? && controller_name != 'passwords'
    %p= link_to t(:forgot_your_password), new_password_path(resource_name)
  - if devise_mapping.confirmable? && controller_name != 'confirmations'
    %p= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)
  - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
    %p= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)
