%header#restaurant_header
  .restaurant_name= @restaurant.name
  .full
    .actions.half= link_to('Volver al restaurante', @restaurant) unless @restaurant.new_record?
    .restaurant_town.half= @restaurant.loc_province