.tricolumn.tricolumn_form
  %nav.col.gray_column.animated_menu= render :state => :nav_column
  %section.col.middle
    = render :state => :restaurant_header
    - @sections.each do |section|
      = render_cell :fieldset, :show, :form => @form, :section => section
    = centered_submit_button @form
  %section.col= render_cell :fieldset, :show, :form => @form, :section => :photos