%nav.paginate
  .links.center-text
    = link_to image_tag('first_arrow.png'),{:sort=>params[:sort],:direction=>params[:direction], :page => 1, :search=>params[:search]}, :class=>(:disabled if @models.current_page <= 1),:remote=>true
    = link_to image_tag('prev_arrow.png'),{:sort=>params[:sort],:direction=>params[:direction],:page => @models.current_page-1, :search=>params[:search]}, :class=>(:disabled if @models.current_page <= 1),:remote=>true
    = link_to image_tag('next_arrow.png'),{:sort=>params[:sort],:direction=>params[:direction],:page => @models.current_page+1, :search=>params[:search]}, :class=>(:disabled if @models.current_page >= @models.total_pages),:remote=>true
    = link_to image_tag('last_arrow.png'),{:sort=>params[:sort],:direction=>params[:direction],:page => @models.total_pages, :search=>params[:search]}, :class=>(:disabled if @models.current_page >= @models.total_pages),:remote=>true
  .text.center-text #{@models.current_page} de #{@models.total_pages}