.full
  %table
    %tr
      %th.select_column
      - Kernel.const_get(action_name.classify).new.table_fields.each do |k|
        %th{:class=>(k[0]==:id ? 'id_column' : nil)}=sort_link(k[0])
    - @models.each do |m|
      %tr{:class=>cycle('odd', 'even')}
        %td #
        - m.table_fields.each do |f|
          %td= f[1]
