%h3.legend= action_name.humanize
.filter.half
  = form_for :search, :html => {:method=>:get} do |search|
    =hidden_field_tag :sort, params[:sort]
    =hidden_field_tag :direction, params[:direction]
    .full.row
      .half.field
        .label.right-text= search.label :name, t(:name).humanize
        .input= search.text_field :name
      .half.field
        .label.right-text=search.label :category, t(:category).humanize
        .input= search.collection_select(:category, FOOD_CATEGORIES.sort {|a,b| a[0] <=> b[0]},:first,:last, {:selected => 0},{ :class=>'select_form white'})
    .full.row
      .half.field
        .label.right-text= search.label :restaurant_name, 'Restaurnt.'
        .input= search.text_field :restaurant_name
    =search.submit    
= render 'pagination'
= render 'table'