%h3.legend= t(@model).titleize
.filter.half
  =form_for @search, :url => { :action => action_name } do |f|
    - @search.base.filter_fields.each do |field|
      .half.field
        .label.right-text= filter_field_label f,field
        .input= filter_field_input(f,field)
    =f.submit
%nav.paginate
  .links.center-text
    = link_to image_tag('first_arrow.png'),{:page => 1, :search=>params[:search]}, :class=>(:disabled if @models.current_page <= 1),:remote=>false
    = link_to image_tag('prev_arrow.png'),{:page => @models.current_page-1, :search=>params[:search]}, :class=>(:disabled if @models.current_page <= 1),:remote=>false
    = link_to image_tag('next_arrow.png'),{:page => @models.current_page+1, :search=>params[:search]}, :class=>(:disabled if @models.current_page >= @models.total_pages),:remote=>false
    = link_to image_tag('last_arrow.png'),{:page => @models.total_pages, :search=>params[:search]}, :class=>(:disabled if @models.current_page >= @models.total_pages),:remote=>false
  .text.center-text #{@models.current_page} de #{@models.total_pages}
.full
  %table
    %tr
      %th.select_column
      - @search.base.table_fields.each do |tf|
        %th=sort_link @search, tf, t(tf.to_s.split('_').first).titleize
    - @models.each do |model|
      %tr{:class=>cycle('odd', 'even')}
        %td #
        - model.class.table_fields.each do |tf|
          %td= get_table_field_value model,tf