%h3.legend= action_name.humanize
.filter.half
  = form_for :search, :html => {:method=>:get} do |search|
    =hidden_field_tag :sort, params[:sort]
    =hidden_field_tag :direction, params[:direction]
    .full.row
      .half.field
        .label.right-text= search.label :name, t(:name).humanize
        .input= search.text_field :name
      .half.field
        .label.right-text=search.label :street_name, t(:street_name).humanize
        .input=search.text_field :street_name
    .full.row
      .half.field
        .label.right-text= search.label :province, t(:province).humanize
        .input= search.collection_select(:province, PROVINCES.sort {|a,b| a[0] <=> b[0]},:first,:last, {:selected => 0},{ :class=>'select_form white'})
      .half.field
        .label.right-text=search.label :town, t(:town)
        .input=search.text_field :town
    = search.submit    
= render 'pagination'
= render 'table'