%h3.legend= action_name.humanize
.filter.half
  = form_for :search, :html => {:method=>:get} do |search|
    =hidden_field_tag :sort, params[:sort]
    =hidden_field_tag :direction, params[:direction]
    .full.row
      .half.field
        .label.right-text= search.label :title, t(:title).humanize
        .input= search.text_field :title
      .half.field
        .label.right-text=search.label :restaurant_name, t(:restaurant).humanize
        .input=search.text_field :restaurant_name
    = search.submit
= render 'pagination'
= render 'table'