%h3.legend= action_name.humanize
.filter.half
  = form_for :search, :html => {:method=>:get} do |search|
    =hidden_field_tag :sort, params[:sort]
    =hidden_field_tag :direction, params[:direction]
    .full.row
      .half.field
        .label.right-text= search.label :review_title, t(:review).humanize
        .input= search.text_field :review_title
      .half.field
        .label.right-text=search.label :course_name, t(:course).humanize
        .input=search.text_field :course_name
    =search.submit
= render 'pagination'
= render 'table'