%h3.legend= action_name.humanize
.filter.half
  = form_for :search, :html => {:method=>:get, :remote=>true} do |search|
    =hidden_field_tag :sort, params[:sort]
    =hidden_field_tag :direction, params[:direction]
    .full.row
      .half.field
        .label.right-text= search.label :email, t(:email).humanize
        .input= search.text_field :email, :value=> params[:search] ? params[:search][:email] : nil
      .half.field
        .label.right-text=search.label :username, t(:username).humanize
        .input=search.text_field :username
    .full.row
      .half.field
        .label.right-text= search.label :province, t(:province).humanize
        .input= search.collection_select(:province, PROVINCES.sort {|a,b| a[0] <=> b[0]},:first,:last, {:selected => 0},{ :class=>'select_form white'})
      .half.field
        .label.right-text=search.label :town, t(:town)
        .input=search.text_field :town
    =search.submit
= render 'pagination'
= render 'table'


