%h2 Resend unlock instructions
= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|
  %p
    = f.label :email
    %br/
    = f.text_field :email
  %p= f.submit "Resend unlock instructions"
= render :partial => "devise/shared/links"
