@import 'styles.sass'
#main_header
  $alto_header: 65px
  $alto_nav: 25px
  +float(100%)
  font-family: 'RalewayThin', Arial, sans-serif
  color: white
  font-size: 16px
  background: #333 url(/images/background_black_texture1.jpeg)
  a
    color: white
  & > .wrapper
    .header_title
      font-size: 60px
      padding-top: 5px
      height: 65px
      .com
        font-size: 20px
        margin-left: -20px
    #main_nav
      +float(100%)
      height: $alto_nav
      .item
        position: relative
        +float(200px)
        z-index: 1000
        &.right
          float: right
        .item_title
          height: $alto_nav
        .item_content
          position: absolute
          width: inherit
          height: 130px
          margin-left: 3px
          font-size: 14px
          z-index: 1001
          background: #222 url(/images/background_black_texture1.jpeg) no-repeat 20% 30%
          +border-bottom-radius(8px)
          border: 2px solid white
          border-top: none
          overflow: hidden
          +transition(height, .4s)
          height: 0px
          li
            height: 40px
            line-height: 40px
            text-indent: 15px
            &:hover
              background: url(/images/flecha_right.png) 95% center no-repeat
            a
              display: block
              margin: 0 6px
              +border-radius(8px)
              &:hover
                background-color: rgba(200,200,200,0.05)
          .providers
            width: 90%
            margin: 0 auto
            img
              display: inline-block
              margin: 2px 6px
              +opacity(0.85)
              &:hover
                +opacity(1)
          #sign_in_reduced
            input[type=text],input[type=password],input[type=email]
              width: 97%
              height: 20px
              margin: 2px 1.5%
            input[type=checkbox]
              margin-left: 2%
            input[type=submit]
              background: none
              &:hover
                background: rgba(255,255,255,0.1)
        &:hover .item_content
          height: 130px
        &.login:hover .item_content
          height: 160px
        &.logged
          width: 350px
          a:hover
            text-decoration: underline
  #flash
    +float(100%)
    +background-image(linear-gradient(#fff6be,#fcee9c) )
    border-bottom: 1px solid lightgray
    +single-box-shadow(#d2d2d2,0, 4px, 4px)
    color: #555
    font-family: 'Often', Helvetica, Arial, sans-serif
    line-height: 25px
    #close_flash
      +float(20px,right)
      padding: 2px 0
    .text
      +float(1004px)
      a
        color: #4682b4