/* ******* IMPORTS ******** */
@import 'styles.sass'
@import 'pieces.sass'
/* ***** Mis Variables ***** */
$bicolumn_first_width: $ancho/4.8
$bicolumn_last_width: $ancho - $bicolumn_first_width
$col_padding: 10px
/* ***** Mixin de estilo ****** */
@mixin linksInButtons // Simulade botones con enlaces
  span
    font-size: 11px
  a,em
    border: 1px solid lightgray
    +border-radius(3px)
    padding: 1px 5px
  a
    color: gray
    background: #f4f4f4
    +background-image(linear-gradient(#fff,#ddd) )
  em
    color: #d3d3d3
// HEADER
@import 'header.sass'
// FOOTER
@import 'footer.sass'
/* *********** MAPS ************ */
#map_canvas.big_map, #map_canvas.medium_map
  +border-radius(3px)
  height: $bigmap_height
  border: $bigmap_border solid #444
  width: $ancho
#map_canvas.medium_map, #map_canvas.small_map
  height: 300px
  width: 99%
  margin: 5px 0
#map_canvas.small_map
  height: 300px
  height: 175px
  outline: 2px solid lightgray
/* ****** DEVISE ****** */
#sign_in, #sign_up
  clear: both
  $margen: ($ancho - 800px)/2
  width: 800px
  margin: 80px $margen
  padding: 30px
  +border-radius(4px)
  border: 1px solid lightgray
  fieldset:not(.buttons)
    margin-left: 60px
  h1
    font-size: 20px
    padding-bottom: 20px
  .auth_providers
    text-align: center
    margin: 10px
    a
      display: inline-block
  p
    font-size: 12px
  .field > div
    padding-bottom: 3px
  .buttons
    margin-top: 10px
#devise_links
  text-align: right
  p
    display: inline
    margin: 10px
/* ***** ANIMATED MENU ***** */
.animated_menu
  position: relative
  .highlight
    width: 240px
    height: 42px
    border: 1px solid lightgray
    background: white
    border-right-color: white
    position: absolute
    margin-top: -1px
  li
    font-size: 15px
    text-indent: 20px
    line-height: 40px
    border-bottom: 1px solid lightgray
    a
      z-index: 5
      position: relative
/* ***** BICOLUMN ***** */
#main > .bicolumn
  & > nav
    +float(25%)
    padding: 25px 15px 5px
    @extend .animated_menu
  & > section
    +float(75%)
    padding: 5px 10px
/* ***** TRICOLUMN ***** */
.tricolumn
  $tricolumn_first_width: $ancho/4.8
  $tricolumn_last_width: $ancho/6
  $tricolumn_middle_width: $ancho - $tricolumn_last_width - $tricolumn_first_width
  & > .col:nth-child(1) , & > .col:nth-child(2)
    padding: 10px $col_padding
  & > .col:nth-child(1)
    +float($tricolumn_first_width)
    &.animated_menu .highlight
      width: 202px      
  & > .col:nth-child(2)
    +float($tricolumn_middle_width)
    .legend, .legend + .superindex
      margin-right: 10px
  & > .col:nth-child(3)
    +float($tricolumn_last_width,right)
/* ***** RESTAURANT_HEADER ***** */
#restaurant_header
  .restaurant_name
    font-size: 34px
  & > .full
    margin-top: -1ex
    .restaurant_town
      font-size: 13px
      color: #999
  .resume
    margin-top: 5px
    & > .half
      padding: 5px
/* ***** Todos los Index ***** */
.index
  .filter, .pagination
    min-height: 40px
    line-height: 24px
  .filter
    +float(70%)
    margin: 2px 0
    .label,.input
      margin: 3px 0
    .label
      +float(23%)
      padding-right: 8px
    .input
      +float(77%)
      input, .select_form.white
        width: 100%
  .paginate
    +float(30%)
    .links
      margin-top: 15px
      a img
        display: inline-block
        margin: 3px
      a.disabled
        cursor: default
        img
          +opacity(0.3)
  table
    font-size: 14px
    width: 760px
    tr
      line-height: 20px
      td, th
        padding: 0 5px
        &.id_column
          min-width: 33px
      &.odd
        background-color: #f0f0f0
      &.even
        background-color: #f9f9f9
/* ****** PARCIAL DE REVIEW ****** */
article.review
  padding: 10px 0
  line-height: 200%
  .reviewer_info
    +float(20%)
    p
      line-height: 100%
    .full .ellipsis-text
      text-indent: 5px
      line-height: 130%
  .review_info
    +float(80%)
    padding: 0 5px
    header
      .title
        font-size: 20px
      .restaurant_name
        font-size: 14px
        text-indent: 50px
        color: #999
    .opinion p, .opinion .stars .label
      text-indent: 10px
    .extra_info
      padding-bottom: 5px
/* ****** ESTILOS PARA EL FIELDSET DEL MAPA, Y EL BOTON DE GEOLOCALIZAR ****** */
#geolocate
  +float(75px)
  margin: 0 280px
  img, .text
    display: inline
  img
    margin: -3px 2px -5px 0
#geolocation_fieldset
  .field
    display: none
  .edit_map_buttons
    position: absolute
    margin: 270px 0 0 250px
    z-index: 0
    +opacity(0)
    &.visible
      +transition(opacity, 0.5s, linear, 0.5s)
      z-index: 100
      +opacity(1)
  #capture_sv, #put_marker
    margin: 0 4px
    background: rgba(0,0,0,0.7)
    border: 2px solid white
    +float(50px)
    z-index: 200
    img
      margin: 2px auto
    &:hover
      background: rgba(30,30,30,0.7)
  #photo_effect
    width: 620px
    height: 300px
    position: absolute
    background: white
    z-index: -1
    +opacity(0)
    +transition('opacity,z-index',(0.4s,0s),linear,(0s,0.4s))
    &.visible
      +transition('opacity,z-index',(0s,0s),linear,(0s,0s))
      +opacity(0.9)
      z-index: 100
/* ****** EXPANDIBLE MENU ****** */
#expandible_menu
  color: whitesmoke
  position: absolute
  $height: $bigmap_height - 2 * $bigmap_border
  height: $height
  +float(auto)
  margin: $bigmap_border 0 0 $bigmap_border
  z-index: 150
  #expand
    +float(13px)
    #tab
      height: 40px
      width: 12px
      margin-top: $height/2 - 40px/2
      background-color: rgba(0,0,0,0.8)
      +border-right-radius
      padding-top: 15px
      img
        +transition(transform, 0.5s, ease-in-out, 1s)
  #filter_form
    height: $height
    +float(5px)
    background-color: rgba(0,0,0,0.8)
    +transition(width, 0.5s, ease-in-out, 0.5s)
    .content
      margin: 5px 10px
      overflow: hidden
      +opacity(0)
      +transition(opacity, 0.5s, ease-in-out)
    form fieldset
      +float(180px)
      line-height: 35px
      margin-top: 2px
      input
        display: inline-block
        background: transparent
        color: whitesmoke
      #search_name_contains
        width: 135px
      .food_type_container, .select_food_type
        +float(179px,right)
      .price_container, .price_container .select_price
        +float(62px)
      .price_container
        margin: 5px 0 0 0
      .radius_container, .select_radius
        +float(98px, right)
    .results_container
      +float(100%)
      height: 370px
      #results
        +border-radius(2px)
        border: 1px solid #ccc
        height: 350px
        .result
          border-bottom: 1px solid #ccc
          height: 39px
          .puntuation,.restaurant_data,.more_info
            height: 100%
          .puntuation
            +float(19px)
            padding-top: 4px
          .restaurant_data
            +float(148px)
            border-right: 1px solid #ccc
            padding-left: 3px
            .title a
              color: white
            h6
              text-indent: 5px
              color: #ccc
          .more_info
            +float(11px)
            padding: 11px 0 0 1px
      #more_up,#more_down
        +float(25px)
        height: 10px
        border: 1px solid whitesmoke
        margin-left: 75px
        overflow: hidden
        img
          margin: 0 auto
      #more_up_container
        height: 12px
        padding-top: 12px
        margin-bottom: -1px
        overflow-y: hidden
      #more_up
        +transition(margin-top, 0.2s, linear)
        position: relative
        +border-top-radius(5px)
        border-bottom-color: #292929
      #more_down
        +border-bottom-radius(5px)
        border-top-color: #292929
        margin-top: -1px
        height: 1px
        +opacity(0)
        +transition('height,opacity', (0.2s,0.2s), linear,(0s,0.2s))
  &.expanded
    #filter_form
      +float(200px)
      +transition(width, 0.5s, ease-in-out)
      .content
        +transition(opacity, 0.5s, ease-in-out,1s)
        +opacity(1)
        .results_container #more_up.expanded
          margin-top: -10px
        .results_container #more_down.expanded
          height: 10px
          +opacity(1)
          +transition('height,opacity', (0.2s,0s), linear,(0s,0s))
        #results
          overflow: hidden
        #results_inner
          height: 1px
          +transition('height,margin-top', (0.6s,1s), ease-in-out)
          overflow: hidden
    #tab img
      +rotate(180deg)
/* ****** Home#main ****** */
#main
  #map_container
    padding-top: 15px
    $height: $bigmap_height - 2 * $bigmap_border
  .slide-left,.slide-right
    +float(30px)
    height: 410px
    img
      width: 25px
      margin: 190px 0
      +opacity(0.4)
      &:hover
        +scale(1.1)
  .slide-left img
    margin-right: 5px
  .slide-right img
    margin-left: 5px
  #columns
    $ancho_col: ($ancho - 2 * 30px)/3
    +float(3 * $ancho_col)
    text-align: justify
    font-size: 12px
    overflow: hidden
    .slider
      +float($ancho_col*5)
      +transition(margin, 1.5s, ease-out-in)
    .column
      +float($ancho_col)
      padding: 10px
      margin-bottom: -10px
      .content
        color: #444
        height: 110px
        font-size: 13px
        line-height: 20px
/* *********** INFOBOX ************ */
.infobox
  +experimental(border-image, url('/images/burbujablancanegra1.png') 27% 18% 70% 78% stretch stretch)
  border-width: 9px 9px 25px 41px
  cursor: default
  font-size: 11px
  color: whitesmoke
  +transition(margin-top,0.5s,ease-in-out,.5s)
  a
    color: whitesmoke
  padding-left: -30px
  &.medium .infoBoxContent
    width: 230px
    height: 58px
    .leftSide
      width: 205px
  &.big
    margin-top: -173px
    .infoBoxContent
      width: 370px
      height: 231px
      .leftSide
        width: 343px
        #streetview_pane
          margin-top: 5px
          width: 343px
          height: 230px
          border: 2px solid white
          +border-radius(5px)
          .sv_legend
            +border-radius(3px)
            border: 2px solid white
            height: 23px
            overflow: hidden
            +opacity(0.2)
            +transition(opacity,0.3s,linear)
            &:hover
              +opacity(1)
  .infoBoxContent
    +transition('opacity,height,width',0.5s,ease-in-out,'0s,.5s,.5s')
    margin: -5px -5px 0 -35px
    .leftSide
      +transition('width,height',0.5s,ease-in-out,.5s)
    .half
      line-height: 17px
    .name
      font-size: 12px
    .reviews a
      font-size: 10px
      color: #eee8aa
    .stars.show.mini .stars_list
      width: 76px
      margin-left: 10px
      img
        margin: 0 1px
    .rightSide
      width: 25px
      .button
        display: inline-block
// Estrellas para editar puntuaciones
form fieldset .stars .star
  +float(18px)
  margin-left: 3px
  .half
    height: 18px
    &.left
      background: url(/images/iconos/star_half_left_mini_gray.png)
      &.filled
        background: url(/images/iconos/star_half_left_mini.png)
    &.right
      background: url(/images/iconos/star_half_right_mini_gray.png)
      &.filled
        background: url(/images/iconos/star_half_right_mini.png)
// Checkboxes estilo iphone
.iPhoneCheckContainer, .iPhoneCheckContainer label
  +experimental(user-select, none)
.iPhoneCheckDisabled
  +opacity(0.5)
.iPhoneCheckContainer
  position: relative
  height: 27px
  width: 85px
  cursor: pointer
  overflow: hidden
  input
    position: absolute
    top: 5px
    left: 30px
    +opacity(0)
  label
    white-space: nowrap
    font-size: 17px
    line-height: 17px
    font-weight: bold
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif
    text-transform: uppercase
    cursor: pointer
    display: block
    height: 27px
    position: absolute
    width: auto
    top: 0
    padding-top: 5px
    overflow: hidden
    &.iPhoneCheckLabelOn
      color: #fff
      background: url(/images/iphone_checkbox/on.png) no-repeat
      text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6)
      left: 0
      padding-top: 5px
      & span
        padding-left: 8px
    &.iPhoneCheckLabelOff
      color: #8B8B8B
      background: url(/images/iphone_checkbox/off.png) no-repeat right 0
      text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6)
      text-align: right
      right: 0
      & span
        padding-right: 8px
.iPhoneCheckHandle
  display: block
  height: 27px
  cursor: pointer
  position: absolute
  top: 0
  left: 0
  width: 32px !important
  background: url(/images/iphone_checkbox/slider_left.png) no-repeat
  padding-left: 3px
.iPhoneCheckHandleRight
  height: 100%
  width: 100%
  padding-right: 3px
  background: url(/images/iphone_checkbox/slider_right.png) no-repeat right 0
.iPhoneCheckHandleCenter
  height: 100%
  width: 100%
  background: url(/images/iphone_checkbox/slider_center.png)
// TODO: HACER UN REFACTOR COMPLETO DE LOS PLATOS.
/* ***** Menu interactivo de platos ****/
.restaurant_menu
  ul.menu-nav .cat-link
    display: inline-block
    border: 1px solid lightgray
    padding: 2px
  .menu
    width: 620px
    height: 320px
    overflow: hidden
    .category_wrapper
      width: 1000%
      height: inherit
      +transition('margin-left',0.4s)
      .category
        +border-radius(8px)
        +float(320px)
        padding: 10px
        height: 280px
        border: 2px solid #aaa
        background: #f9f9f9
        margin: 6px
        +single-box-shadow(#bbb, 0, 0, 10px, 0px)
        .course
          line-height: 17px
          padding: 2px 0
          &[draggable=true]
            cursor: move
          .name, .price, .edit, .coin-symbol
            display: inline-block
          .name
            width: 205px
          .price
            width: 30px
          .coin-symbol
            width: 7px
          .edit
            width: 36px
            &.editing
              margin-bottom: -5px
            img
              +float(18px)
              +opacity(0.7)
              &:hover
                +opacity(1)
          input[type=text]
            width: 100%
            height: 18px
    &.csstransforms
      padding-left: 120px
      .category
        margin: 10px -100px
        +transition('transform,opacity',0.4s)
      .category.left, .category.right
        +opacity(0.2)
        &.first
          +opacity(0.5)
      .category.center
        margin: 10px 30px
      &:not(.csstransforms3d)
        .category.left
          +experimental(transform, skewy(-25deg) scalex(0.5) scaley(0.6) translatey(10px), -moz, -webkit, -o, -ms, -khtml, official)
        .category.right
          +experimental(transform, skewy(25deg) scalex(0.5) scaley(0.6) translatey(10px), -moz, -webkit, -o, -ms, -khtml, official)
      &.csstransforms3d
        padding-left: 150px
        .category
          margin: 10px -122px
        .category.left:not(.first), .category.right:not(.first)
          +opacity(0.15)
        .category.left
          +experimental(transform, perspective(500) rotateY(65deg) scale(0.65), -moz, -webkit, -o, -ms, -khtml, official)
        .category.center
          margin: 10px 3px
        .category.right
          +experimental(transform, perspective(500) rotateY(-65deg) scale(0.65), -moz, -webkit, -o, -ms, -khtml, official)
/* ****** TIKET ****** */
.ticket
  line-height: 17px
  .coin-symbol
    +float(4%)
  .ticketline
    +transition(background-color, 0.5s)
  .lines .ticketline .name
    +float(78%)
  .lines .ticketline .x
    +float(3%)
  .lines .ticketline .quantity
    +float(7%)
    input
      width: 100%
      height: 18px
      border: none
      background: #f6f6f6
  .lines .ticketline .price
    +float(7%)
  .total .name
    +float(74%)
  .total .price
    +float(21%)
/* ******** TICKET en el formulario de creación ******** */
#ticket
  border: 2px solid #aaa
  +border-radius(8px)
  background: #f9f9f9
  width: 320px
  height: 320px
  margin: 10px auto
  padding: 10px
  &.dragover
    background: #eee8aa