@import 'styles.sass'
/* ***** PERCENTAGE BAR ****** */
.show_bar
  +float(100%)
  margin: 2px 0
  .name
    +float(40%)
  .value
    +float(60%)
    .indicator
      border: 2px solid #ccc
      +border-radius(8px)
      +float(100%)
      height: 19px
      .bar
        height: 15px
      .percent
        width: 30px
        height: 15px
        margin: -15px auto 0
        +border-radius(8px)
        background: rgba(20,20,20,0.8)
        color: white
        +opacity(0.1)
        +transition(opacity,.3s)
        &:hover
          +opacity(0.75)
.percentage_bar
  @extend .show_bar
  .bar
    +border-radius(8px)
    +background-image(linear-gradient(#faff00,#ffb704) )
.inclination_bar
  @extend .show_bar
  .negative .bar
    float: right
    +border-left-radius(8px)
    +background-image(linear-gradient(#ffaaaa,#ff7777) )
  .positive .bar
    +border-right-radius(8px)
    +background-image(linear-gradient(#aaffaa,#77ff77) )
  .percent
    position: absolute
    margin: 0px 73px !important
// Fake radio buttons
.radio_label
  background: #fafafa
  border: 1px solid lightgray
  +float(50px)
  height: 25px
  line-height: 25px
  text-align: center
  &.first
    +border-left-radius(5px)
    border-right: none
  &.last
    +border-right-radius(5px)
    border-left: none
  &.selected
    background: #f2f2f2
    color: red
/* ***** STARS ***** */
.stars.show       // Tamaño normal
  .label
    +float(110px)
  .stars_list
    +float(130px)
    padding: 2px 0
    img
      float: left
      margin: 0 2px
  &.mini          // Tamaño mini
    .label
      line-height: 160%
      +float(54px)
      font-size: 11px
    .stars_list
      +float(66px)
      img
        width: 13px
        margin: 0
/* ****** SERVICES ******* */
.service .logo
  +float(15%)
.service .name
  +float(85%)
  text-indent: 10px
  line-height: 26px
  font-size: 15px
/* ***** RECOMENDACIONES Y ALTERNATIVAS ***** */           
.recomended_restaurant
  margin: 5px 0
  .title
    text-indent: 5px
  .address
    text-indent: 15px
  .stars
    margin-left: 3px
  .long:hover
    overflow: visible
/* ***** SELECTBOXES PERSONALIZADOS ***** */
.select_form
  width: 370px
.selectbox
  display: inline-block
  position: relative
  .display
    +border-radius(3px)
    border: 1px solid #ccc
    cursor: default
    display: block
    height: 25px
    line-height: 25px
    padding: 0 0px 0 10px
    position: relative
    text-decoration: none
    .value
      display: none
    &.dark
      background: url(/images/flechas_select.png) right center no-repeat
      color: whitesmoke
      &:hover
        background: rgba(100,100,100,0.3)  url(/images/flechas_select.png) right center no-repeat
    &.white
      background: rgba(245,245,245,1)  url(/images/flechas_select.png) right center no-repeat
      color: gray
      &:hover
        background: rgba(230,230,230,1)  url(/images/flechas_select.png) right center no-repeat
.select_born_on
  margin-right: 17px
  width: 112px !important
.items
  border: 1px solid #ccc
  +border-radius(3px)
  display: block
  overflow-x: hidden
  overflow-y: auto
  z-index: 99999
  a
    display: block
    line-height: 24px
    .value
      display: none
  &.dark
    background: rgba(20,20,20,0.95)
    li:hover
      background: rgba(45,45,45,0.95)
    a
      color: whitesmoke
  &.white
    background: rgba(245,245,245,1)
    li:hover
      background: rgba(230,230,230,1)
    a
      color: gray
  li
    padding-left: 15px
    line-height: 24px
/* ****** Popeye ****** */
#ppy1
  .ppy-active
    width:          150px
    float:          right
    margin:         0 0px 10px 0
  .ppy-outer
    padding:        2px
    border:         1px solid lightgray
    background:     white
    &:hover,.ppy-expanded .ppy-outer
      +single-box-shadow(#ccc,0, 0, 7px)
  .ppy-stage
    width:          170px//200px
    height:         150px//173px
  .ppy-caption
    margin:         2px 0 0 5px
    padding:        5px//10px
    float: left
    line-height:    1.3em
    background:     rgba(90,90,90,0.4)
    +border-radius(3px)
    +single-box-shadow(#ccc,0, 0, 7px)
    visibility:         hidden /* prevent flash of content before popeye loads */
    a
      color:          #66bde9
      &:hover
        text-decoration: underline
  .ppy-counter
    color:          whitesmoke
    padding:        0 0 2px 0
    margin:         0 0 5px 0
    font-size:      0.9em
  .ppy-stagewrap
    background:     #0c3b3d
    +border-radius(5px)
  .ppy-loading
    background:     rgba(0,0,0,0.5) url(/images/popeye/loading3.gif) no-repeat center !important
  .ppy-nav
    background:     rgba(0,0,0,0.5)
    width:          88px
    height:         32px
    padding:        5px
    position:       absolute
    top:            2px
    left:           2px
    +border-radius(3px)
    a
      display:        block
      overflow:       hidden
      text-indent:    -900em
      height:         26px
      float:          left
      padding:        5px
      +border-radius(5px)
      &:hover
        cursor:         pointer
  .ppy-prev
    width:          22px
    background:     url(/images/popeye/prev3.png) no-repeat center
  .ppy-next
    width:          22px
    background:     url(/images/popeye/next3.png) no-repeat center
  .ppy-switch-enlarge
    width:          33px
    background:     url(/images/popeye/enlarge4.png) no-repeat center
  .ppy-switch-compact
    width:          33px
    background:     url(/images/popeye/compact4.png) no-repeat center
  .ppy-prev,.ppy-next,.ppy-switch-enlarge,.ppy-switch-compact
    opacity: 0.6
    &:hover
      opacity: 1