// COMPASS
@import "compass/css3/border-radius"
@import "compass/css3/transition"
@import "compass/css3/transform"
@import "compass/css3/box-shadow"
@import "compass/css3/font-face"
@import "compass/css3/gradient"
@import "compass/css3/box-sizing"
@import "compass/css3/opacity"
@import "compass/utilities/general/min"
@import "compass/css3/shared"
@import "compass/reset/utilities"
// Font face
+font-face("Often", font-files("/fonts/often.ttf", opentype))
+font-face("RalewayThin",font-files("/fonts/raleway_thin-webfont.ttf",truetype,"/fonts/raleway_thin-webfont.svg#webfonthRGH7EPV",svg,"/fonts/raleway_thin-webfont.woff",woff))
/* **** VARIABLES ***** */
$ancho: 1024px
$bigmap_height: 550px
$bigmap_border: 2px
/* ****** Mixins ****** */
@mixin float($width, $side: left)
  float: $side
  width: $width
/* ***** ESTILOS GENERALES DE LA PAGINA ***** */
*
  margin: 0
  padding: 0
  +box-sizing(border-box) // MODELO DE CAJA INTUITIVO
body
  +global-reset
  font-family:  'Often','Trebuchet MS', Helvetica, Arial
  font-size: 11px
  color: #555
  h1
    font-size: 16px
    text-align: center
  h1,h2
    font-weight: bold
  h2,h3
    font-size: 15px
  h4
    font-size: 12px
  h5
    font-size: 11px
  h6
    font-size: 10px
    color: #aaa
  a, h4, h5
    color: #4682b4
    text-decoration: none
  li
    display: block
    list-style: none
  iframe
    display: none
  img
    display: block
  input[type=text],input[type=password],input[type=email],textarea,select
    width: 370px
    max-width: 400px
    height: 25px
    border: 1px solid lightgray
    +border-radius(3px)
    padding-left: 5px
    font-family: 'Often', 'MS Trebuchet', Helvetica, sans-serif
    &:focus
      outline: none
      +single-box-shadow(#ddd, 0,0,7px)
  textarea
    min-height: 175px
    font-size: 12px
/* ****** CLASES GENERALES PARA ESTILAR ****** */
.wrapper
  width: $ancho
  margin: 0 auto
  clear: both
.center-text
  text-align: center
.right-text
  text-align: right
.justify-text
  text-align: justify
.ellipsis-text
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
.italic
  font-style: italic
.hidden
  display: none
.shown
  display: block
.invisible
  +opacity(0)
.visible
  +opacity(1)
.full
  +float(100%)
.half
  +float(50%)
.float-right
  float: right
.float-left
  float: left
.label-value
  line-height: 150%
  .label
    +float(35%)
    color: #333
  .value
    +float(65%)
.gray-column .label-value .label
  +float(28%)
.gray-column .label-value .value
  +float(72%)
.round-corners
  +border-radius(5px)
.gray_column
  background: #eee
  border: 1px solid white
  border-right: 2px ridge rgba(255,255,255,0.5)
  border-left: 2px groove rgba(255,255,255,0.5)
.gray-with-gray-round-borders
  @extend .round-corners
  background: #f5f5f5
  border: 1px solid #e4e4e4
.superindex
  margin: -1ex 0 1ex
.legend
  border-bottom: 1px solid lightgray
  padding: 0.3ex 0
  margin: 10px 0
  text-indent: 5px
.indent-text
  text-indent: 10px
.legend + .superindex
  margin: -1em 0 1em
.fake_button
  border: 1px solid lightgray
  +border-radius(3px)
  padding: 4px 5px
  color: gray
  background: #f4f4f4
  +background-image(linear-gradient(#fff,#ddd) )
.dot-underlined
  border-bottom: 1px dotted lightgray
.highlighted
  background-color: yellow
  +transition(background-color,0s)
/* ****** Fieldsets ***** */
fieldset
  .superindex
    margin-bottom: 25px
  .field
    +float(100%)
    line-height: 27px
    margin: 5px 0
    .label
      +float(22%)
      padding: 0 10px
    .input
      +float(78%)
  .bicolumn .field
    .label, .input
      +float(50%)
/* ****** BOTONES DE LOS FORMULARIOS ****** */      
.buttons
  input[type=submit], input[type=button]
    color: #666
    +border-radius(3px)
    border: 1px solid lightgray
    height: 25px
    padding: 0 10px
    +background-image(linear-gradient(#fbfbfb,#dadada))
    &:hover
      +background-image(linear-gradient(#fff,#e4e4e4))
    &:active
      +background-image(linear-gradient(#d0d0d0,#f0f0f0))
/* *********** PHOTOS ************ */
.photo
  border: 1px solid lightgray
  & > img
    border: 1px solid white
  &.small img
    width: 96px
    height: 96px
  &.scalable
    +transition('transform', 0.4s, ease-in-out)
    &:hover
      +transition-delay(0.3s)
      +scale(1.7)
      +single-box-shadow(#999,0,0,10px)
      z-index: 10
      &.very
        +scale(2.5)
.photo_list .photo
  display: inline-block
  margin: 2px 0 0 5px
fieldset .photo
  margin: 5px 0
  & > img
    width: 170px
  &.editable
    position: relative
    .delete_inner
      +opacity(0)
      +transition(opacity,0.4s,linear)
      +border-radius(4px)
      background: rgba(0,0,0,0.85)
      position: absolute
      top: 2px
      left: 2px
    &:hover .delete_inner
      z-index: 2
      +opacity(0.6)
      &:hover
        +opacity(1)
#photos_fieldset .field
  width: 100%
  height: 30px
  .delete
    +float(17px)
  .select
    +float(25px)
    overflow: hidden
    background: url(/images/upload_file_background.png) no-repeat 0% 0%
    input
      +opacity(0)
  .file_name
    +float(127px)
    padding-left: 2px