$(".table").slideUp(250,function(){
    $(this).html( $("<%= escape_javascript( render "shared/index_partials/table" ) %>").html() ).slideDown(250);
});
$(".pagination").fadeOut(250,function(){
    $(this).html( $("<%= escape_javascript( render "shared/common/customized_pagination", :show_range=>false ) %>").html() ).fadeIn(250);
});