- random = Time.now.usec
.ticketline.dot-underlined.full{'data-course'=>ticketline.course.id}
  = nested_hidden_field_for('review', ticketline, random, :id, ticketline.id) if ticketline.id
  .name= ticketline.course.name
  = nested_hidden_field_for('review', ticketline, random,:course_id,ticketline.course.id)
  .x.right-text x
  .quantity= nested_text_field_for('review', ticketline, random,:quantity,1)
  .price.right-text= ticketline.course.price.to_s
  .coin-symbol.right-text €