.ticketline.full.dot-underlined
  .name= ticketline.course.name.humanize
  .x.right-text x
  .quantity.center-text= ticketline.quantity.to_s
  .price.right-text= ticketline.course.price.to_s
  .coin-symbol.right-text €