%h1= t('.title')
%p= link_to t('.new_ticketline'), new_ticketline_path

%table
  %thead
    %tr
      %th= Ticketline.human_attribute_name :review_id
      %th= Ticketline.human_attribute_name :course_id
      %th= Ticketline.human_attribute_name :quantity
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for ticketline in @ticketlines
      %tr{ :class => cycle(:odd, :even) }
        %td= ticketline.review_id
        %td= ticketline.course_id
        %td= ticketline.quantity
        %td.action= link_to t('show'), ticketline
        %td.action= link_to t('edit'), edit_ticketline_path(ticketline)
        %td.action= link_to t('destroy'), ticketline, :confirm => t('are_you_sure'), :method => :delete
