%h1= t '.title'
%p
  = link_to t('back'), ticketlines_path
  = link_to t('edit'), edit_ticketline_path(@ticketline)

%dl
  %dt= Ticketline.human_attribute_name :review_id
  %dd= @ticketline.review_id
  %dt= Ticketline.human_attribute_name :course_id
  %dd= @ticketline.course_id
  %dt= Ticketline.human_attribute_name :quantity
  %dd= @ticketline.quantity
