/* ******* IMPORTS ******** */
/* ****** Mixins ****** */
/**** VARIABLES ***** */
/* ***** ESTILOS GENERALES DE LA PAGINA ***** */
/* line 27, sass/styles.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 30, sass/styles.sass */
body {
  font-family: "Trebuchet MS", Helvetica, Arial;
  font-size: 11px;
  color: gray;
}
/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.11.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body html, body body, body div, body span, body applet, body object, body iframe,
body h1, body h2, body h3, body h4, body h5, body h6, body p, body blockquote, body pre,
body a, body abbr, body acronym, body address, body big, body cite, body code,
body del, body dfn, body em, body font, body img, body ins, body kbd, body q, body s, body samp,
body small, body strike, body strong, body sub, body sup, body tt, body var,
body dl, body dt, body dd, body ol, body ul, body li,
body fieldset, body form, body label, body legend,
body table, body caption, body tbody, body tfoot, body thead, body tr, body th, body td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.11.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body body {
  line-height: 1;
  color: black;
  background: white;
}
/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.11.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body ol, body ul {
  list-style: none;
}
/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.11.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.11.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body caption, body th, body td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
/* line 25, ../../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.11.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body q, body blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.11.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body q:before, body q:after, body blockquote:before, body blockquote:after {
  content: "";
}
/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.11.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body a img {
  border: none;
}
/* line 35, sass/styles.sass */
body h1 {
  text-align: center;
  font-size: 16px;
}
/* line 38, sass/styles.sass */
body h1, body h4, body h3 {
  font-weight: bold;
}
/* line 40, sass/styles.sass */
body h3 {
  font-size: 12px;
}
/* line 42, sass/styles.sass */
body h5 {
  font-size: 11px;
}
/* line 44, sass/styles.sass */
body a, body h4, body h3 {
  color: #4682b4;
  text-decoration: none;
}
/* line 47, sass/styles.sass */
body li {
  display: block;
  list-style: none;
}
/* line 51, sass/styles.sass */
body header .title {
  font-size: 17px;
  color: #555555;
}
/* line 54, sass/styles.sass */
body header .subtitle {
  font-size: 11px;
  font-style: italic;
  color: #999999;
}
/* line 58, sass/styles.sass */
body img {
  display: block;
}
/* line 60, sass/styles.sass */
body fieldset {
  border: none;
}
/* line 62, sass/styles.sass */
body fieldset input[type="text"], body fieldset input[type="password"], body fieldset input[type="email"], body fieldset textarea, body fieldset select {
  width: 370px;
  max-width: 400px;
  height: 24px;
}
/* line 66, sass/styles.sass */
body fieldset .button {
  text-align: center;
}

/* ****** Clases para estilar elementos ****** */
/* line 72, sass/styles.sass */
#map_canvas.big_map, #map_canvas.medium_map {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  height: 550px;
  border: 2px solid #444444;
  width: 1024px;
}
/* line 77, sass/styles.sass */
#map_canvas.medium_map {
  height: 300px;
  width: 100%;
  margin-top: 5px;
}

/* line 81, sass/styles.sass */
.pic.small {
  height: 53px;
  width: 53px;
  border: 1px solid lightgray;
}

/* line 85, sass/styles.sass */
.anotation {
  color: lightgray;
  font-style: italic;
  text-align: right;
}

/* line 89, sass/styles.sass */
.legend {
  padding: 5px 5px 2px;
  margin: 10px 0;
  border-bottom: 1px solid lightgray;
  font-size: 15px;
}

/* line 94, sass/styles.sass */
.minilegend {
  border-bottom: 1px dotted lightgray;
  padding: 0 0 2px 5px;
  margin-bottom: 3px;
}

/* line 98, sass/styles.sass */
.visible {
  display: block;
}

/* line 100, sass/styles.sass */
.invisible {
  display: none;
}

/* line 102, sass/styles.sass */
.center-text {
  text-align: center;
}

/* line 104, sass/styles.sass */
.justify {
  text-align: justify;
}

/* line 106, sass/styles.sass */
.bigger {
  font-size: 12px;
}

/* line 108, sass/styles.sass */
.bold {
  font-weight: bold;
}

/* line 110, sass/styles.sass */
.explanation {
  font-size: 10px;
  text-align: right;
  font-style: italic;
  color: #aaaaaa;
  margin-top: -10px;
  margin-bottom: 10px;
}

/* line 117, sass/styles.sass */
.fake_button {
  border: 1px solid lightgray;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  padding: 4px 5px;
  color: gray;
  background: #f4f4f4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
}

/* ****** Fieldsets ***** */
/* line 125, sass/styles.sass */
fieldset {
  max-width: 620px;
}
/* line 127, sass/styles.sass */
fieldset .field {
  float: left;
  width: 100%;
}
/* line 129, sass/styles.sass */
fieldset .field > .col {
  padding: 15px 10px;
}
/* line 131, sass/styles.sass */
fieldset .field > .col.label {
  float: left;
  width: 22%;
  text-align: right;
  padding-top: 17px;
  line-height: 21px;
  color: #666666;
}
/* line 137, sass/styles.sass */
fieldset .field > .col.input {
  float: left;
  width: 78%;
}

/* line 142, sass/styles.sass */
.fieldset_bicolumn > .col .field .col.label {
  width: 55%;
}
/* line 144, sass/styles.sass */
.fieldset_bicolumn > .col .field .col.input {
  width: 45%;
}
/* line 146, sass/styles.sass */
.fieldset_bicolumn > .col.left_col {
  float: left;
  width: 45%;
}
/* line 148, sass/styles.sass */
.fieldset_bicolumn > .col.right_col {
  float: left;
  width: 45%;
}

/* ****** Estilos generales de elementos ****** */
/* line 151, sass/styles.sass */
input[type=text], input[type=password], input[type=email], input[type=submit], input[type=button], textarea {
  border: 1px solid lightgray;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  height: 21px;
}
/* line 155, sass/styles.sass */
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=submit]:focus, input[type=button]:focus, textarea:focus {
  outline: none;
  -moz-box-shadow: 0 0 7px #dddddd;
  -webkit-box-shadow: 0 0 7px #dddddd;
  -o-box-shadow: 0 0 7px #dddddd;
  box-shadow: 0 0 7px #dddddd;
}

/* line 158, sass/styles.sass */
textarea {
  min-height: 175px;
}

/* line 160, sass/styles.sass */
input[type=text], input[type=password], input[type=email] {
  width: 150px;
  padding-left: 5px;
}

/* line 163, sass/styles.sass */
input[type=submit], input[type=button] {
  color: gray;
  background: #f4f4f4;
  padding: 0 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #dadada));
  background-image: -moz-linear-gradient(#fbfbfb, #dadada);
  background-image: linear-gradient(#fbfbfb, #dadada);
}
/* line 168, sass/styles.sass */
input[type=submit]:hover, input[type=button]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e4e4e4));
  background-image: -moz-linear-gradient(#ffffff, #e4e4e4);
  background-image: linear-gradient(#ffffff, #e4e4e4);
}
/* line 170, sass/styles.sass */
input[type=submit]:active, input[type=button]:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d0d0d0), color-stop(100%, #f0f0f0));
  background-image: -moz-linear-gradient(#d0d0d0, #f0f0f0);
  background-image: linear-gradient(#d0d0d0, #f0f0f0);
}

/* *********** PHOTOS ************ */
/* line 173, sass/styles.sass */
.photo {
  position: relative;
  border: 1px solid lightgray;
}
/* line 176, sass/styles.sass */
.photo > img {
  border: 1px solid white;
}
/* line 179, sass/styles.sass */
.photo.editable .delete_inner {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.85);
  position: absolute;
  width: 26px;
  height: 26px;
  top: 2px;
  left: 2px;
}
/* line 189, sass/styles.sass */
.photo.editable .delete_inner img {
  margin: 1px;
}
/* line 191, sass/styles.sass */
.photo.editable:hover .delete_inner {
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  z-index: 2;
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
}
/* line 195, sass/styles.sass */
.photo.editable:hover .delete_inner:hover {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
/* line 197, sass/styles.sass */
.photo.allwidth img, .photo .avatar img {
  width: 100%;
}

/* line 200, sass/styles.sass */
#photos_fieldset .photo {
  margin: 5px 0;
}
/* line 202, sass/styles.sass */
#photos_fieldset .photo > img {
  width: 170px;
}
/* line 205, sass/styles.sass */
#photos_fieldset .field .delete_photo {
  padding-top: 5px;
  float: left;
  width: 13px;
  height: 21px;
}
/* line 209, sass/styles.sass */
#photos_fieldset .field .photo_upload {
  margin-bottom: 10px;
  float: left;
  width: 30px;
  height: 21px;
  border: 1px solid lightgray;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #dadada));
  background-image: -moz-linear-gradient(#fafafa, #dadada);
  background-image: linear-gradient(#fafafa, #dadada);
}
/* line 217, sass/styles.sass */
#photos_fieldset .field .photo_upload:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e4e4e4));
  background-image: -moz-linear-gradient(#ffffff, #e4e4e4);
  background-image: linear-gradient(#ffffff, #e4e4e4);
}
/* line 219, sass/styles.sass */
#photos_fieldset .field .photo_upload:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d0d0d0), color-stop(100%, #f0f0f0));
  background-image: -moz-linear-gradient(#d0d0d0, #f0f0f0);
  background-image: linear-gradient(#d0d0d0, #f0f0f0);
}
/* line 221, sass/styles.sass */
#photos_fieldset .field .photo_upload img {
  position: absolute;
  margin: 2px 7px;
}
/* line 224, sass/styles.sass */
#photos_fieldset .field .photo_upload .input input {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
/* line 226, sass/styles.sass */
#photos_fieldset .field .selected_file {
  float: left;
  width: 125px;
  margin-left: 2px;
  padding-top: 4px;
  height: 21px;
  overflow: hidden;
}

/* line 232, sass/styles.sass */
.photo_list .photo {
  display: inline-block;
}
/* line 234, sass/styles.sass */
.photo_list .photo.mini img {
  width: 52px;
  height: 52px;
}
/* line 237, sass/styles.sass */
.photo_list .photo.small img {
  width: 96px;
  height: 96px;
}
/* line 240, sass/styles.sass */
.photo_list .photo.scalable {
  -moz-transition-property: transform;
  -webkit-transition-property: transform;
  -o-transition-property: transform;
  transition-property: transform;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 242, sass/styles.sass */
.photo_list .photo.scalable:hover {
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -moz-transform: scale(1.7, 1.7);
  -webkit-transform: scale(1.7, 1.7);
  -o-transform: scale(1.7, 1.7);
  -ms-transform: scale(1.7, 1.7);
  transform: scale(1.7, 1.7);
  -moz-box-shadow: 0 0 10px #999999;
  -webkit-box-shadow: 0 0 10px #999999;
  -o-box-shadow: 0 0 10px #999999;
  box-shadow: 0 0 10px #999999;
  z-index: 10;
}
/* line 247, sass/styles.sass */
.photo_list .photo.scalable:hover.very {
  -moz-transform: scale(2.5, 2.5);
  -webkit-transform: scale(2.5, 2.5);
  -o-transform: scale(2.5, 2.5);
  -ms-transform: scale(2.5, 2.5);
  transform: scale(2.5, 2.5);
}

/* ***** Mis Variables ***** */
/* ***** MIXINS BASICOS ***** */
/* ***** MIXINS PARA ANIMACIONES ***** */
/* ****** MIXINS PARA COLUMNADO ****** */
/* ***** Mixin de estilo ****** */
/* ****** Application.html.haml ***** */
/* line 135, sass/layout.sass */
body {
  /* **** #main_nav **** */
}
/* line 136, sass/layout.sass */
body * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 138, sass/layout.sass */
body > #main_header {
  height: 60px;
  background: #696969;
}
/* line 141, sass/layout.sass */
body > #main_nav {
  float: left;
  width: 100%;
  height: 25px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
}
/* line 146, sass/layout.sass */
body #flash {
  float: left;
  width: 100%;
  clear: both;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff6be), color-stop(100%, #fcee9c));
  background-image: -moz-linear-gradient(#fff6be, #fcee9c);
  background-image: linear-gradient(#fff6be, #fcee9c);
  font-size: 13px;
  font-weight: bold;
  line-height: 25px;
  color: #444444;
  border-bottom: 1px solid lightgray;
  -moz-box-shadow: 0 4px 4px #d2d2d2;
  -webkit-box-shadow: 0 4px 4px #d2d2d2;
  -o-box-shadow: 0 4px 4px #d2d2d2;
  box-shadow: 0 4px 4px #d2d2d2;
}
/* line 156, sass/layout.sass */
body #flash #flashwrapper {
  width: 1024px;
  margin: 0 auto;
  clear: both;
}
/* line 158, sass/layout.sass */
body #flash #flashwrapper .text {
  float: left;
  width: 1004px;
}
/* line 160, sass/layout.sass */
body #flash #flashwrapper #close_flash {
  margin-top: 4px;
  float: right;
  width: 17px;
}
/* line 163, sass/layout.sass */
body #flash #flashwrapper #close_flash img {
  width: 17px;
}
/* line 165, sass/layout.sass */
body > #main {
  width: 1024px;
  margin: 0 auto;
  clear: both;
}
/* line 167, sass/layout.sass */
body > #main > div {
  float: left;
}
/* line 169, sass/layout.sass */
body > #main_footer {
  width: 1024px;
  margin: 0 auto;
  clear: both;
  border-top: 1px solid lightgray;
}
/* line 173, sass/layout.sass */
body #main_nav {
  color: white;
}
/* line 175, sass/layout.sass */
body #main_nav a {
  color: white;
}
/* line 177, sass/layout.sass */
body #main_nav .links {
  width: 1016px;
  margin: 0 auto;
  clear: both;
}
/* line 179, sass/layout.sass */
body #main_nav .links .wrapper {
  position: absolute;
  width: 1016px;
}
/* line 182, sass/layout.sass */
body #main_nav .links .dropDownMenu, body #main_nav .links .item {
  position: relative;
  float: left;
  width: 182px;
  z-index: 20000;
  height: 24px;
  overflow: hidden;
  font-size: 12px;
  line-height: 25px;
  -moz-transition-property: height;
  -webkit-transition-property: height;
  -o-transition-property: height;
  transition-property: height;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* line 191, sass/layout.sass */
body #main_nav .links .dropDownMenu a:hover, body #main_nav .links .item a:hover {
  font-weight: bold;
}
/* line 193, sass/layout.sass */
body #main_nav .links .dropDownMenu.right, body #main_nav .links .item.right {
  float: right;
}
/* line 195, sass/layout.sass */
body #main_nav .links .dropDownMenu.logged, body #main_nav .links .item.logged {
  width: 270px;
  text-align: right;
}
/* line 198, sass/layout.sass */
body #main_nav .links .dropDownMenu .title, body #main_nav .links .item .title {
  letter-spacing: 1px;
  font-size: 14px;
}
/* line 201, sass/layout.sass */
body #main_nav .links .dropDownMenu .content, body #main_nav .links .item .content {
  padding: 4px 5px;
  background: rgba(0, 0, 0, 0.8);
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 162px;
  border: 2px solid whitesmoke;
  border-top: none;
  line-height: 16px;
}
/* line 209, sass/layout.sass */
body #main_nav .links .dropDownMenu .content > li, body #main_nav .links .item .content > li {
  line-height: 30px;
  text-indent: 5px;
  font-size: 12px;
  height: 30px;
  border-bottom: 1px solid rgba(240, 240, 240, 0.5);
}
/* line 215, sass/layout.sass */
body #main_nav .links .dropDownMenu .content > li a, body #main_nav .links .item .content > li a {
  display: block;
}
/* line 217, sass/layout.sass */
body #main_nav .links .dropDownMenu .content > li:hover, body #main_nav .links .item .content > li:hover {
  background: url(/images/flecha_right.png) right center no-repeat;
}
/* line 219, sass/layout.sass */
body #main_nav .links .dropDownMenu .content .providers, body #main_nav .links .item .content .providers {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 221, sass/layout.sass */
body #main_nav .links .dropDownMenu .content .providers li, body #main_nav .links .item .content .providers li {
  opacity: 0.85;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  display: inline-block;
  margin: 3px 6px 0px;
}
/* line 225, sass/layout.sass */
body #main_nav .links .dropDownMenu .content .providers li:hover, body #main_nav .links .item .content .providers li:hover {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
/* line 227, sass/layout.sass */
body #main_nav .links .dropDownMenu:hover {
  height: 187px;
}

/* ****** DEVISE ****** */
/* line 230, sass/layout.sass */
#sign_in, #sign_up {
  width: 600px;
  margin: 0 180px;
  min-height: 200px;
  height: auto !important;
  height: 200px;
}
/* line 235, sass/layout.sass */
#sign_in .auth_providers, #sign_up .auth_providers {
  text-align: center;
  margin: 10px;
}
/* line 238, sass/layout.sass */
#sign_in p, #sign_up p {
  font-size: 12px;
}
/* line 240, sass/layout.sass */
#sign_in .field > div, #sign_up .field > div {
  padding-bottom: 3px;
}
/* line 242, sass/layout.sass */
#sign_in .buttons, #sign_up .buttons {
  margin-top: 10px;
}

/* line 244, sass/layout.sass */
#devise_links {
  text-align: right;
}
/* line 246, sass/layout.sass */
#devise_links p {
  display: inline;
  margin: 10px;
}

/* line 250, sass/layout.sass */
#sign_in_reduced input[type=text], #sign_in_reduced input[type=password], #sign_in_reduced input[type=email] {
  width: 170px;
  height: 17px;
  margin: 3px 0;
}
/* line 254, sass/layout.sass */
#sign_in_reduced input[type=submit] {
  width: auto;
  background: transparent;
  color: whitesmoke;
  margin-top: 3px;
}
/* line 259, sass/layout.sass */
#sign_in_reduced input[type=submit]:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* ***** Bicolumn ***** */
/* line 262, sass/layout.sass */
.bicolumn {
  min-height: 400px;
  height: auto !important;
  height: 400px;
}
/* line 57, sass/layout.sass */
.bicolumn > .col {
  padding: 10px;
  min-height: inherit;
  height: auto !important;
  height: inherit;
}
/* line 60, sass/layout.sass */
.bicolumn > .col:nth-child(1) {
  float: left;
  width: 213.333px;
  background: #eeeeee;
  border: 1px solid white;
  border-right: 2px ridge rgba(255, 255, 255, 0.5);
  border-left: 2px groove rgba(255, 255, 255, 0.5);
}
/* line 26, sass/layout.sass */
.bicolumn > .col:nth-child(1) li {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
/* line 37, sass/layout.sass */
.bicolumn > .col:nth-child(1) .highlight {
  visibility: hidden;
  position: relative;
  float: right;
  width: 108%;
  top: 26px;
  height: 38px;
  background-color: white;
  border: 1px solid lightgray;
  border-right: 1px solid white;
  margin-right: -13px;
  -moz-transition-property: top;
  -webkit-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 48, sass/layout.sass */
.bicolumn > .col:nth-child(1) li:nth-child(1) {
  margin-top: 27px;
}
/* line 50, sass/layout.sass */
.bicolumn > .col:nth-child(1) li a {
  position: relative;
  font-size: 12px;
  line-height: 13px;
}
/* line 63, sass/layout.sass */
.bicolumn > .col:nth-child(2) {
  float: left;
  width: 810.667px;
}

/* ***** Tricolumn ***** */
/* line 66, sass/layout.sass */
.tricolumn p {
  padding-left: 15px;
}
/* line 68, sass/layout.sass */
.tricolumn > .col {
  padding: 10px;
}
/* line 70, sass/layout.sass */
.tricolumn > .col:nth-child(1) {
  float: left;
  width: 213.333px;
  background: #eeeeee;
  border: 1px solid white;
  border-right: 2px ridge rgba(255, 255, 255, 0.5);
  border-left: 2px groove rgba(255, 255, 255, 0.5);
  min-height: 600px;
}
/* line 26, sass/layout.sass */
.tricolumn > .col:nth-child(1) li {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
/* line 37, sass/layout.sass */
.tricolumn > .col:nth-child(1) .highlight {
  visibility: hidden;
  position: relative;
  float: right;
  width: 108%;
  top: 26px;
  height: 38px;
  background-color: white;
  border: 1px solid lightgray;
  border-right: 1px solid white;
  margin-right: -13px;
  -moz-transition-property: top;
  -webkit-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* line 48, sass/layout.sass */
.tricolumn > .col:nth-child(1) li:nth-child(1) {
  margin-top: 27px;
}
/* line 50, sass/layout.sass */
.tricolumn > .col:nth-child(1) li a {
  position: relative;
  font-size: 12px;
  line-height: 13px;
}
/* line 74, sass/layout.sass */
.tricolumn > .col:nth-child(2) {
  float: left;
  width: 640px;
}
/* line 76, sass/layout.sass */
.tricolumn > .col:nth-child(2) header .title {
  font-size: 22px;
}
/* line 78, sass/layout.sass */
.tricolumn > .col:nth-child(2) header .subtitle {
  display: inline-block;
  vertical-align: sub;
}
/* line 81, sass/layout.sass */
.tricolumn > .col:nth-child(3) {
  float: left;
  width: 170.667px;
  padding: 10px 0;
}
/* line 84, sass/layout.sass */
.tricolumn > .col:nth-child(1), .tricolumn > .col:nth-child(3) {
  line-height: 12px;
}
/* line 86, sass/layout.sass */
.tricolumn > .col:nth-child(1) label, .tricolumn > .col:nth-child(3) label {
  display: inline-block;
  width: 90px;
  font-size: 11px;
  color: #444444;
}
/* line 268, sass/layout.sass */
.tricolumn .col:first-child #map_canvas {
  margin: 5px 0;
  width: 100%;
  height: 175px;
  outline: 2px solid lightgray;
}
/* line 273, sass/layout.sass */
.tricolumn .col > div {
  float: left;
  width: 100%;
}
/* line 275, sass/layout.sass */
.tricolumn .col .foto {
  height: 160px;
  border: 1px solid lightgray;
}
/* line 278, sass/layout.sass */
.tricolumn .col .service {
  margin: 1px 0;
  line-height: 5px;
}
/* line 281, sass/layout.sass */
.tricolumn .col .service div {
  float: left;
  height: 26px;
}
/* line 284, sass/layout.sass */
.tricolumn .col .service .name {
  padding: 10px 0 0 15px;
  font-size: 11.5px;
}
/* line 288, sass/layout.sass */
.tricolumn #photo_fieldset * {
  padding: 0;
  margin: 0;
}
/* line 291, sass/layout.sass */
.tricolumn #photo_fieldset .field {
  padding: 5px 0;
}
/* line 293, sass/layout.sass */
.tricolumn #photo_fieldset .field .col {
  float: left;
  width: auto;
}
/* line 295, sass/layout.sass */
.tricolumn #photo_fieldset .field .col input[type=text] {
  width: 120px;
}

/* line 308, sass/layout.sass */
#recomendations, #alternatives {
  line-height: 17px;
}
/* line 298, sass/layout.sass */
#recomendations .label, #recomendations .stars, #alternatives .label, #alternatives .stars {
  float: left;
}
/* line 300, sass/layout.sass */
#recomendations .stars, #alternatives .stars {
  padding-top: 2px;
}
/* line 302, sass/layout.sass */
#recomendations .stars img, #alternatives .stars img {
  display: inline-block;
  height: 11px;
  width: 11px;
  margin-right: -2px;
}
/* line 311, sass/layout.sass */
#recomendations img, #alternatives img {
  width: 11px;
  display: inline-block;
  margin-right: -2px;
}

/* ***** Todos los Index ***** */
/* line 319, sass/layout.sass */
.index nav.filter, .index .paginate {
  padding: 15px 0;
}
/* line 321, sass/layout.sass */
.index nav.filter {
  float: left;
  width: 632.533px;
}
/* line 323, sass/layout.sass */
.index nav.filter .field, .index nav.filter .field div {
  float: left;
  height: 25px;
}
/* line 326, sass/layout.sass */
.index nav.filter .field {
  width: 316.267px;
  margin: 0 0 5px 0;
}
/* line 329, sass/layout.sass */
.index nav.filter .field .label {
  padding: 5px 3px;
  text-align: right;
  width: 90px;
}
/* line 333, sass/layout.sass */
.index nav.filter .field .input {
  width: 226.267px;
  padding: 2px;
}
/* line 336, sass/layout.sass */
.index nav.filter .field .input input[type=text], .index nav.filter .field .input input[type=password], .index nav.filter .field .input input[type=email], .index nav.filter .field .input select {
  width: 222.267px;
}
/* line 338, sass/layout.sass */
.index nav.filter .buttons {
  clear: both;
  text-align: right;
}
/* line 341, sass/layout.sass */
.index nav.filter .buttons .button {
  padding: 2px;
}
/* line 343, sass/layout.sass */
.index .paginate {
  float: right;
  width: 158.133px;
  text-align: center;
}
/* line 93, sass/layout.sass */
.index .paginate span {
  font-size: 11px;
}
/* line 95, sass/layout.sass */
.index .paginate a, .index .paginate em {
  border: 1px solid lightgray;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  padding: 1px 5px;
}
/* line 99, sass/layout.sass */
.index .paginate a {
  color: gray;
  background: #f4f4f4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
}
/* line 103, sass/layout.sass */
.index .paginate em {
  color: #d3d3d3;
}
/* line 347, sass/layout.sass */
.index .paginate .pages, .index .paginate .x_of_x {
  padding-top: 5px;
}
/* line 349, sass/layout.sass */
.index .table {
  clear: both;
}
/* line 351, sass/layout.sass */
.index .table .row {
  border-bottom: 1px solid #eeeeee;
  padding: 4px;
}
/* line 354, sass/layout.sass */
.index .table .row:first-child {
  border-top: 1px solid #eeeeee;
}
/* line 356, sass/layout.sass */
.index .table .row > .field {
  display: inline-block;
  padding: 0 5px;
}
/* line 359, sass/layout.sass */
.index .table .row > .field:first-child {
  padding-left: 0;
}
/* line 361, sass/layout.sass */
.index .table .row > .field:last-child {
  padding-right: 0;
}

/* ****** Parcial de review ****** */
/* line 364, sass/layout.sass */
article.review {
  float: left;
  width: 100%;
  border-bottom: 1px dotted lightgray;
  padding: 15px 0;
  line-height: 170%;
}
/* line 369, sass/layout.sass */
article.review label {
  color: #666666;
}
/* line 371, sass/layout.sass */
article.review .author {
  padding-top: 10px;
  font-size: 10px;
  float: left;
  width: 20%;
}
/* line 375, sass/layout.sass */
article.review .author .avatar {
  float: left;
  width: 100%;
  border: 1px solid lightgray;
}
/* line 378, sass/layout.sass */
article.review .author .stats {
  margin-top: 15px;
}
/* line 298, sass/layout.sass */
article.review .author .stats .label, article.review .author .stats .stars {
  float: left;
}
/* line 300, sass/layout.sass */
article.review .author .stats .stars {
  padding-top: 2px;
}
/* line 302, sass/layout.sass */
article.review .author .stats .stars img {
  display: inline-block;
  height: 11px;
  width: 11px;
  margin-right: -2px;
}
/* line 381, sass/layout.sass */
article.review .author .stats label {
  font-size: 10px;
  display: inline-block;
  width: 72px;
  margin-right: -5px;
}
/* line 386, sass/layout.sass */
article.review .author .stats .minilegend {
  line-height: 100%;
}
/* line 388, sass/layout.sass */
article.review .author .stats .subindice {
  text-align: right;
  font-style: italic;
  color: lightgray;
  font-size: 10px;
  margin: -11px -4px 0 0;
}
/* line 390, sass/layout.sass */
article.review .author .stats p {
  text-indent: 8px;
  font-style: italic;
  font-size: 9px;
}
/* line 394, sass/layout.sass */
article.review .review_content {
  float: left;
  width: 80%;
  padding: 0 0 0 10px;
}
/* line 397, sass/layout.sass */
article.review .review_content > .date {
  text-align: right;
  font-style: italic;
  color: lightgray;
  font-size: 10px;
  margin: -11px -4px 0 0;
}
/* line 399, sass/layout.sass */
article.review .review_content > .date span {
  padding-right: 20px;
  font-style: normal;
}
/* line 402, sass/layout.sass */
article.review .review_content header .subtitle {
  padding-left: 7%;
}
/* line 404, sass/layout.sass */
article.review .review_content > .opinion, article.review .review_content > .extra_info {
  float: left;
  width: 100%;
  padding: 15px 0;
}
/* line 407, sass/layout.sass */
article.review .review_content > .opinion > div:nth-child(1), article.review .review_content > .extra_info > div:nth-child(1) {
  float: left;
  width: 42.5%;
}
/* line 409, sass/layout.sass */
article.review .review_content > .opinion > div:nth-child(2), article.review .review_content > .extra_info > div:nth-child(2) {
  float: left;
  width: 1%;
}
/* line 411, sass/layout.sass */
article.review .review_content > .opinion > div:nth-child(3), article.review .review_content > .extra_info > div:nth-child(3) {
  float: left;
  width: 56.5%;
  padding-left: 20px;
}
/* line 414, sass/layout.sass */
article.review .review_content > .opinion .separator, article.review .review_content > .extra_info .separator {
  border: 1px dotted #eeeeee;
  height: 160px;
}
/* line 417, sass/layout.sass */
article.review .review_content > .opinion {
  line-height: 21px;
}
/* line 420, sass/layout.sass */
article.review .review_content > .opinion .valorations img {
  display: inline;
}
/* line 422, sass/layout.sass */
article.review .review_content > .opinion .valorations .name {
  padding: 2px 0 2px 15px;
  float: left;
  width: 46%;
}
/* line 425, sass/layout.sass */
article.review .review_content > .opinion .valorations .value {
  float: left;
  width: 54%;
}
/* line 427, sass/layout.sass */
article.review .review_content > .extra_info {
  font-size: 10px;
  background-color: #f5f5f5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 431, sass/layout.sass */
article.review .review_content > .extra_info .section_title {
  text-align: center;
}
/* line 433, sass/layout.sass */
article.review .review_content > .extra_info .photos {
  padding-left: 4px;
}
/* line 435, sass/layout.sass */
article.review .review_content > .extra_info .menu .ticketline, article.review .review_content > .extra_info .menu .total {
  margin-left: -10px;
  float: left;
  width: 103.5%;
}
/* line 438, sass/layout.sass */
article.review .review_content > .extra_info .menu .ticketline .name, article.review .review_content > .extra_info .menu .total .name {
  float: left;
  width: 205px;
}
/* line 440, sass/layout.sass */
article.review .review_content > .extra_info .menu .ticketline .quantity, article.review .review_content > .extra_info .menu .total .quantity {
  float: left;
  width: 17px;
}
/* line 442, sass/layout.sass */
article.review .review_content > .extra_info .menu .ticketline .price, article.review .review_content > .extra_info .menu .total .price {
  float: right;
  width: 40px;
}
/* line 444, sass/layout.sass */
article.review .review_content > .extra_info .total .name {
  text-align: right;
}

/* line 448, sass/layout.sass */
#ppy1 .ppy-active {
  width: 150px;
  float: right;
  margin: 0 0px 10px 0;
}
/* line 452, sass/layout.sass */
#ppy1 .ppy-outer {
  padding: 2px;
  border: 1px solid lightgray;
  background: white;
}
/* line 456, sass/layout.sass */
#ppy1 .ppy-outer:hover, #ppy1 .ppy-outer .ppy-expanded .ppy-outer {
  -moz-box-shadow: 0 0 7px #cccccc;
  -webkit-box-shadow: 0 0 7px #cccccc;
  -o-box-shadow: 0 0 7px #cccccc;
  box-shadow: 0 0 7px #cccccc;
}
/* line 458, sass/layout.sass */
#ppy1 .ppy-stage {
  width: 170px;
  height: 150px;
}
/* line 461, sass/layout.sass */
#ppy1 .ppy-caption {
  margin: 2px 0 0 5px;
  padding: 5px;
  float: left;
  line-height: 1.3em;
  background: rgba(90, 90, 90, 0.4);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 7px #cccccc;
  -webkit-box-shadow: 0 0 7px #cccccc;
  -o-box-shadow: 0 0 7px #cccccc;
  box-shadow: 0 0 7px #cccccc;
  visibility: hidden;
}
/* line 470, sass/layout.sass */
#ppy1 .ppy-caption a {
  color: #66bde9;
}
/* line 472, sass/layout.sass */
#ppy1 .ppy-caption a:hover {
  text-decoration: underline;
}
/* line 474, sass/layout.sass */
#ppy1 .ppy-counter {
  color: whitesmoke;
  padding: 0 0 2px 0;
  margin: 0 0 5px 0;
  font-size: 0.9em;
}
/* line 479, sass/layout.sass */
#ppy1 .ppy-stagewrap {
  background: #0c3b3d;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 482, sass/layout.sass */
#ppy1 .ppy-loading {
  background: rgba(0, 0, 0, 0.5) url(/images/popeye/loading3.gif) no-repeat center !important;
}
/* line 484, sass/layout.sass */
#ppy1 .ppy-nav {
  background: rgba(0, 0, 0, 0.5);
  width: 88px;
  height: 32px;
  padding: 5px;
  position: absolute;
  top: 2px;
  left: 2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 493, sass/layout.sass */
#ppy1 .ppy-nav a {
  display: block;
  overflow: hidden;
  text-indent: -900em;
  height: 26px;
  float: left;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 501, sass/layout.sass */
#ppy1 .ppy-nav a:hover {
  cursor: pointer;
}
/* line 503, sass/layout.sass */
#ppy1 .ppy-prev {
  width: 22px;
  background: url(/images/popeye/prev3.png) no-repeat center;
}
/* line 506, sass/layout.sass */
#ppy1 .ppy-next {
  width: 22px;
  background: url(/images/popeye/next3.png) no-repeat center;
}
/* line 509, sass/layout.sass */
#ppy1 .ppy-switch-enlarge {
  width: 33px;
  background: url(/images/popeye/enlarge4.png) no-repeat center;
}
/* line 512, sass/layout.sass */
#ppy1 .ppy-switch-compact {
  width: 33px;
  background: url(/images/popeye/compact4.png) no-repeat center;
}
/* line 515, sass/layout.sass */
#ppy1 .ppy-prev, #ppy1 .ppy-next, #ppy1 .ppy-switch-enlarge, #ppy1 .ppy-switch-compact {
  opacity: 0.6;
}
/* line 517, sass/layout.sass */
#ppy1 .ppy-prev:hover, #ppy1 .ppy-next:hover, #ppy1 .ppy-switch-enlarge:hover, #ppy1 .ppy-switch-compact:hover {
  opacity: 1;
}

/* ****** Estilos de botones para edit_map ****** */
/* line 520, sass/layout.sass */
#capture_sv, #put_marker {
  text-align: center;
  position: absolute;
  z-index: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  margin-top: 265px;
  margin-left: 250px;
  float: left;
  width: 50px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 533, sass/layout.sass */
#capture_sv img, #put_marker img {
  padding: 5px 12px;
}
/* line 535, sass/layout.sass */
#capture_sv:hover, #put_marker:hover {
  background: rgba(30, 30, 30, 0.7);
}
/* line 537, sass/layout.sass */
#capture_sv.visible, #put_marker.visible {
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -moz-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
  z-index: 100;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

/* line 541, sass/layout.sass */
#put_marker {
  margin-left: 310px;
}
/* line 543, sass/layout.sass */
#put_marker img {
  padding: 5px 18px;
}

/* line 545, sass/layout.sass */
#photo_effect {
  width: 620px;
  height: 300px;
  position: absolute;
  background: white;
  z-index: -1;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -moz-transition-property: opacity,z-index;
  -webkit-transition-property: opacity,z-index;
  -o-transition-property: opacity,z-index;
  transition-property: opacity,z-index;
  -moz-transition-duration: 0.4s, 0s;
  -webkit-transition-duration: 0.4s, 0s;
  -o-transition-duration: 0.4s, 0s;
  transition-duration: 0.4s, 0s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -moz-transition-delay: 0s, 0.4s;
  -webkit-transition-delay: 0s, 0.4s;
  -o-transition-delay: 0s, 0.4s;
  transition-delay: 0s, 0.4s;
}
/* line 553, sass/layout.sass */
#photo_effect.visible {
  -moz-transition-property: opacity,z-index;
  -webkit-transition-property: opacity,z-index;
  -o-transition-property: opacity,z-index;
  transition-property: opacity,z-index;
  -moz-transition-duration: 0s, 0s;
  -webkit-transition-duration: 0s, 0s;
  -o-transition-duration: 0s, 0s;
  transition-duration: 0s, 0s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -moz-transition-delay: 0s, 0s;
  -webkit-transition-delay: 0s, 0s;
  -o-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  z-index: 100;
}

/* line 557, sass/layout.sass */
#geolocate {
  float: left;
  width: 75px;
  margin: 0 280px;
}
/* line 560, sass/layout.sass */
#geolocate img, #geolocate .text {
  display: inline;
}
/* line 562, sass/layout.sass */
#geolocate img {
  margin: -3px 2px -5px 0;
}

/* ****** Home#main ****** */
/* line 567, sass/layout.sass */
#main #map_container {
  margin-top: 10px;
}
/* line 570, sass/layout.sass */
#main #map_container #expandible_menu {
  position: absolute;
  float: left;
  width: auto;
  height: 546px;
  margin: 2px 0 0 2px;
  z-index: 100;
}
/* line 576, sass/layout.sass */
#main #map_container #expandible_menu #filter_form {
  float: left;
  height: 546px;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 581, sass/layout.sass */
#main #map_container #expandible_menu #filter_form form fieldset {
  height: 35px;
  padding: 5px 0px 0px 10px;
}
/* line 584, sass/layout.sass */
#main #map_container #expandible_menu #filter_form form fieldset input {
  height: 25px;
  background: transparent;
}
/* line 587, sass/layout.sass */
#main #map_container #expandible_menu #filter_form form fieldset input:hover {
  background: rgba(85, 85, 85, 0.5);
}
/* line 589, sass/layout.sass */
#main #map_container #expandible_menu #filter_form form fieldset input[type=text] {
  width: 140px;
}
/* line 591, sass/layout.sass */
#main #map_container #expandible_menu #filter_form form fieldset input[type=submit] {
  color: whitesmoke;
}
/* line 593, sass/layout.sass */
#main #map_container #expandible_menu #filter_form form fieldset label {
  font-weight: bold;
}
/* line 595, sass/layout.sass */
#main #map_container #expandible_menu #filter_form #more_up, #main #map_container #expandible_menu #filter_form #more_down {
  float: left;
  width: 25px;
  border: 1px solid whitesmoke;
  margin-left: 88px;
  padding-left: 7px;
  background-color: rgba(42, 42, 42, 0.5);
}
/* line 601, sass/layout.sass */
#main #map_container #expandible_menu #filter_form #more_up_container {
  height: 12px;
  padding-top: 12px;
  margin-bottom: -1px;
  overflow-y: hidden;
}
/* line 606, sass/layout.sass */
#main #map_container #expandible_menu #filter_form #more_up {
  position: relative;
  height: 12px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #292929;
}
/* line 611, sass/layout.sass */
#main #map_container #expandible_menu #filter_form #more_down {
  border: 1px solid lightgray;
  border-top: 1px solid #292929;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: -1px;
}
/* line 616, sass/layout.sass */
#main #map_container #expandible_menu #filter_form #results {
  clear: both;
  float: left;
  width: 178px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #cccccc;
  margin: 0 0 0 10px;
  height: 343px;
  background-color: rgba(42, 42, 42, 0.5);
  overflow-x: hidden;
  overflow-y: hidden;
}
/* line 626, sass/layout.sass */
#main #map_container #expandible_menu #filter_form #results .result {
  border-bottom: 1px solid #cccccc;
  height: 38px;
}
/* line 108, sass/layout.sass */
#main #map_container #expandible_menu #filter_form #results .result .puntuation {
  float: left;
  width: 24px;
  padding: 2px;
  font-size: 10px;
}
/* line 112, sass/layout.sass */
#main #map_container #expandible_menu #filter_form #results .result .puntuation img {
  margin-left: 1px;
}
/* line 114, sass/layout.sass */
#main #map_container #expandible_menu #filter_form #results .result .restaurant_data {
  float: left;
  width: 140px;
  padding: 0 3px;
  font-size: 8.5px;
  line-height: 12px;
}
/* line 119, sass/layout.sass */
#main #map_container #expandible_menu #filter_form #results .result .restaurant_data .title {
  font-size: 10px;
}
/* line 121, sass/layout.sass */
#main #map_container #expandible_menu #filter_form #results .result .restaurant_data .address {
  text-indent: 5px;
  color: #c6c6c6;
  font-style: italic;
}
/* line 125, sass/layout.sass */
#main #map_container #expandible_menu #filter_form #results .result .restaurant_data .opinions {
  text-align: right;
}
/* line 127, sass/layout.sass */
#main #map_container #expandible_menu #filter_form #results .result .more_info {
  float: left;
  width: 12px;
  border-left: 1px solid #cccccc;
  height: 38px;
}
/* line 131, sass/layout.sass */
#main #map_container #expandible_menu #filter_form #results .result .more_info img {
  margin-top: 11px;
  margin-left: 1px;
}
/* line 628, sass/layout.sass */
#main #map_container #expandible_menu #expand {
  float: left;
}
/* line 630, sass/layout.sass */
#main #map_container #expandible_menu #expand #tab {
  height: 30px;
  width: 10px;
  margin-top: 258px;
  background-color: rgba(0, 0, 0, 0.8);
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 9px;
}
/* line 637, sass/layout.sass */
#main #columns {
  text-align: justify;
  font-size: 12px;
}
/* line 640, sass/layout.sass */
#main #columns > div {
  float: left;
  width: 341.333px;
  padding: 7px;
}
/* line 643, sass/layout.sass */
#main #columns > div .content {
  height: 110px;
}

/* ******** Transiciones CSS3 ******** */
/* line 648, sass/layout.sass */
#expandible_menu input {
  color: whitesmoke;
}
/* line 650, sass/layout.sass */
#expandible_menu #filter_form .content {
  -moz-transition-property: width,opacity;
  -webkit-transition-property: width,opacity;
  -o-transition-property: width,opacity;
  transition-property: width,opacity;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transition-delay: 0.5s, 0s;
  -webkit-transition-delay: 0.5s, 0s;
  -o-transition-delay: 0.5s, 0s;
  transition-delay: 0.5s, 0s;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  width: 1px;
  overflow: hidden;
  color: whitesmoke;
}
/* line 656, sass/layout.sass */
#expandible_menu #filter_form .content #more_up {
  -moz-transition-property: margin-top;
  -webkit-transition-property: margin-top;
  -o-transition-property: margin-top;
  transition-property: margin-top;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 658, sass/layout.sass */
#expandible_menu #filter_form .content #more_up.expanded {
  margin-top: -12px;
}
/* line 660, sass/layout.sass */
#expandible_menu #filter_form .content #more_down {
  height: 0px;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -moz-transition-property: height,opacity;
  -webkit-transition-property: height,opacity;
  -o-transition-property: height,opacity;
  transition-property: height,opacity;
  -moz-transition-duration: 0.2s, 0s;
  -webkit-transition-duration: 0.2s, 0s;
  -o-transition-duration: 0.2s, 0s;
  transition-duration: 0.2s, 0s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -moz-transition-delay: 0s, 0.2s;
  -webkit-transition-delay: 0s, 0.2s;
  -o-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}
/* line 664, sass/layout.sass */
#expandible_menu #filter_form .content #more_down.expanded {
  -moz-transition-property: height,opacity;
  -webkit-transition-property: height,opacity;
  -o-transition-property: height,opacity;
  transition-property: height,opacity;
  -moz-transition-duration: 0.2s, 0s;
  -webkit-transition-duration: 0.2s, 0s;
  -o-transition-duration: 0.2s, 0s;
  transition-duration: 0.2s, 0s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -moz-transition-delay: 0s, 0s;
  -webkit-transition-delay: 0s, 0s;
  -o-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
  height: 12px;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
/* line 668, sass/layout.sass */
#expandible_menu #tab img {
  -moz-transition-property: transform;
  -webkit-transition-property: transform;
  -o-transition-property: transform;
  transition-property: transform;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
/* line 671, sass/layout.sass */
#expandible_menu.expanded #filter_form .content {
  -moz-transition-property: width,opacity;
  -webkit-transition-property: width,opacity;
  -o-transition-property: width,opacity;
  transition-property: width,opacity;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transition-delay: 0s, 0.5s;
  -webkit-transition-delay: 0s, 0.5s;
  -o-transition-delay: 0s, 0.5s;
  transition-delay: 0s, 0.5s;
  width: 200px;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
/* line 675, sass/layout.sass */
#expandible_menu.expanded #tab img {
  -moz-transition-property: transform;
  -webkit-transition-property: transform;
  -o-transition-property: transform;
  transition-property: transform;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* *********** INFOBOX ************ */
/* line 681, sass/layout.sass */
.infobox {
  -moz-border-image: url("/images/burbujablancanegra1.png") 27% 18% 70% 78% stretch stretch;
  -webkit-border-image: url("/images/burbujablancanegra1.png") 27% 18% 70% 78% stretch stretch;
  -o-border-image: url("/images/burbujablancanegra1.png") 27% 18% 70% 78% stretch stretch;
  -ms-border-image: url("/images/burbujablancanegra1.png") 27% 18% 70% 78% stretch stretch;
  -khtml-border-image: url("/images/burbujablancanegra1.png") 27% 18% 70% 78% stretch stretch;
  border-image: url("/images/burbujablancanegra1.png") 27% 18% 70% 78% stretch stretch;
  border-width: 9px 9px 25px 41px;
  cursor: default;
  -moz-transition-property: height,width,margin-top;
  -webkit-transition-property: height,width,margin-top;
  -o-transition-property: height,width,margin-top;
  transition-property: height,width,margin-top;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/* line 686, sass/layout.sass */
.infobox .infoBoxContent {
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 688, sass/layout.sass */
.infobox .leftSide {
  -moz-transition-property: height,width;
  -webkit-transition-property: height,width;
  -o-transition-property: height,width;
  transition-property: height,width;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/* line 691, sass/layout.sass */
.infobox.small {
  width: 110px !important;
  height: 80px;
}
/* line 694, sass/layout.sass */
.infobox.small .leftSide {
  float: left;
  width: 65px;
}
/* line 696, sass/layout.sass */
.infobox.medium {
  width: 250px !important;
  height: 80px;
}
/* line 699, sass/layout.sass */
.infobox.medium .leftSide {
  float: left;
  width: 190px;
}
/* line 701, sass/layout.sass */
.infobox.big {
  width: 390px !important;
  height: 265px;
  margin-top: -185px;
}
/* line 705, sass/layout.sass */
.infobox.big .leftSide {
  float: left;
  width: 333px;
}
/* line 707, sass/layout.sass */
.infobox.big .leftSide #streetview_pane {
  width: 343px;
  height: 230px;
  border: 2px solid white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 712, sass/layout.sass */
.infobox.big .leftSide #streetview_pane .sv_legend {
  border: 2px solid white !important;
  height: 23px !important;
  overflow: hidden !important;
  opacity: 0.2;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 718, sass/layout.sass */
.infobox.big .leftSide #streetview_pane .sv_legend:hover {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
/* line 720, sass/layout.sass */
.infobox .infoBoxContent {
  color: #dddddd;
  margin-left: -30px;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 724, sass/layout.sass */
.infobox .infoBoxContent .rightSide {
  float: right;
  width: auto;
}
/* line 727, sass/layout.sass */
.infobox .infoBoxContent .rightSide .control_buttons {
  float: left;
  width: 100%;
}
/* line 729, sass/layout.sass */
.infobox .infoBoxContent .rightSide .control_buttons .button {
  display: inline-block;
}
/* line 731, sass/layout.sass */
.infobox .infoBoxContent .rightSide .control_buttons .button:hover {
  -moz-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

/* line 734, sass/layout.sass */
#results {
  overflow: hidden;
}
/* line 736, sass/layout.sass */
#results #results_inner {
  height: 1px;
  -moz-transition-property: height,margin-top;
  -webkit-transition-property: height,margin-top;
  -o-transition-property: height,margin-top;
  transition-property: height,margin-top;
  -moz-transition-duration: 0.6s, 1s;
  -webkit-transition-duration: 0.6s, 1s;
  -o-transition-duration: 0.6s, 1s;
  transition-duration: 0.6s, 1s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  overflow: hidden;
}

/* line 741, sass/layout.sass */
.select_form {
  width: 370px;
}

/* line 743, sass/layout.sass */
.selectbox {
  display: inline-block;
  position: relative;
}
/* line 746, sass/layout.sass */
.selectbox .display {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  cursor: default;
  display: block;
  height: 25px;
  line-height: 25px;
  padding: 0 0px 0 10px;
  position: relative;
  text-decoration: none;
}
/* line 756, sass/layout.sass */
.selectbox .display .value {
  display: none;
}
/* line 758, sass/layout.sass */
.selectbox .display.dark {
  background: url(/images/flechas_select.png) right center no-repeat;
  color: whitesmoke;
}
/* line 761, sass/layout.sass */
.selectbox .display.dark:hover {
  background: rgba(100, 100, 100, 0.3) url(/images/flechas_select.png) right center no-repeat;
}
/* line 763, sass/layout.sass */
.selectbox .display.white {
  background: #f5f5f5 url(/images/flechas_select.png) right center no-repeat;
  color: gray;
}
/* line 766, sass/layout.sass */
.selectbox .display.white:hover {
  background: #e6e6e6 url(/images/flechas_select.png) right center no-repeat;
}

/* line 768, sass/layout.sass */
.select_food_type {
  width: 181px;
}

/* line 770, sass/layout.sass */
.select_price {
  width: 56px;
}
/* line 772, sass/layout.sass */
.select_price.selectbox {
  margin: 0 8px;
}

/* line 774, sass/layout.sass */
.select_radius {
  width: 95px;
}
/* line 776, sass/layout.sass */
.select_radius.selectbox {
  margin-left: 11px;
}

/* line 778, sass/layout.sass */
.select_born_on {
  margin-right: 17px;
  width: 112px !important;
}

/* line 781, sass/layout.sass */
.items {
  border: 1px solid #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 99999;
}
/* line 788, sass/layout.sass */
.items a {
  display: block;
  line-height: 24px;
}
/* line 791, sass/layout.sass */
.items a .value {
  display: none;
}
/* line 793, sass/layout.sass */
.items.dark {
  background: rgba(20, 20, 20, 0.95);
}
/* line 795, sass/layout.sass */
.items.dark li:hover {
  background: rgba(45, 45, 45, 0.95);
}
/* line 797, sass/layout.sass */
.items.dark a {
  color: whitesmoke;
}
/* line 799, sass/layout.sass */
.items.white {
  background: #f5f5f5;
}
/* line 801, sass/layout.sass */
.items.white li:hover {
  background: #e6e6e6;
}
/* line 803, sass/layout.sass */
.items.white a {
  color: gray;
}
/* line 805, sass/layout.sass */
.items li {
  padding-left: 15px;
  line-height: 24px;
}

/* line 810, sass/layout.sass */
form fieldset .stars .star {
  float: left;
  width: 18px;
  margin-left: 3px;
}
/* line 813, sass/layout.sass */
form fieldset .stars .star .half {
  float: left;
  width: 50%;
  height: 18px;
}
/* line 816, sass/layout.sass */
form fieldset .stars .star .half.left {
  background: url(/images/iconos/star_half_left_mini_gray.png);
}
/* line 818, sass/layout.sass */
form fieldset .stars .star .half.left.filled {
  background: url(/images/iconos/star_half_left_mini.png);
}
/* line 820, sass/layout.sass */
form fieldset .stars .star .half.right {
  background: url(/images/iconos/star_half_right_mini_gray.png);
}
/* line 822, sass/layout.sass */
form fieldset .stars .star .half.right.filled {
  background: url(/images/iconos/star_half_right_mini.png);
}

/* line 825, sass/layout.sass */
.iPhoneCheckContainer, .iPhoneCheckContainer label {
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

/* line 827, sass/layout.sass */
.iPhoneCheckDisabled {
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}

/* line 829, sass/layout.sass */
.iPhoneCheckContainer {
  position: relative;
  height: 27px;
  width: 85px;
  cursor: pointer;
  overflow: hidden;
}
/* line 835, sass/layout.sass */
.iPhoneCheckContainer input {
  position: absolute;
  top: 5px;
  left: 30px;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
/* line 840, sass/layout.sass */
.iPhoneCheckContainer label {
  white-space: nowrap;
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  height: 27px;
  position: absolute;
  width: auto;
  top: 0;
  padding-top: 5px;
  overflow: hidden;
}
/* line 855, sass/layout.sass */
.iPhoneCheckContainer label.iPhoneCheckLabelOn {
  color: white;
  background: url(/images/iphone_checkbox/on.png) no-repeat;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  left: 0;
  padding-top: 5px;
}
/* line 861, sass/layout.sass */
.iPhoneCheckContainer label.iPhoneCheckLabelOn span {
  padding-left: 8px;
}
/* line 863, sass/layout.sass */
.iPhoneCheckContainer label.iPhoneCheckLabelOff {
  color: #8b8b8b;
  background: url(/images/iphone_checkbox/off.png) no-repeat right 0;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
  text-align: right;
  right: 0;
}
/* line 869, sass/layout.sass */
.iPhoneCheckContainer label.iPhoneCheckLabelOff span {
  padding-right: 8px;
}

/* line 871, sass/layout.sass */
.iPhoneCheckHandle {
  display: block;
  height: 27px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 32px !important;
  background: url(/images/iphone_checkbox/slider_left.png) no-repeat;
  padding-left: 3px;
}

/* line 881, sass/layout.sass */
.iPhoneCheckHandleRight {
  height: 100%;
  width: 100%;
  padding-right: 3px;
  background: url(/images/iphone_checkbox/slider_right.png) no-repeat right 0;
}

/* line 886, sass/layout.sass */
.iPhoneCheckHandleCenter {
  height: 100%;
  width: 100%;
  background: url(/images/iphone_checkbox/slider_center.png);
}

/* line 891, sass/layout.sass */
ul.menu-nav {
  margin-top: 5px;
}
/* line 893, sass/layout.sass */
ul.menu-nav .cat-link {
  display: inline;
  background: #afeeee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  padding: 2px 2px;
  margin-left: 3px;
}
/* line 900, sass/layout.sass */
ul.menu-nav .cat-link:first-of-type {
  margin-left: 0px;
}

/* line 902, sass/layout.sass */
.menu, #ticket {
  line-height: 17px;
  font-size: 11px;
}
/* line 905, sass/layout.sass */
.menu input[type=text], #ticket input[type=text] {
  width: 230px;
  height: 15px;
}
/* line 908, sass/layout.sass */
.menu .total, #ticket .total {
  margin-top: 5px;
}
/* line 910, sass/layout.sass */
.menu .course, .menu .ticketline, #ticket .course, #ticket .ticketline {
  border-bottom: 1px dotted lightgray;
  margin-top: 5px;
  padding-bottom: -5px;
  background-color: inherit;
  -moz-transition-property: background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 1.3s;
  -webkit-transition-duration: 1.3s;
  -o-transition-duration: 1.3s;
  transition-duration: 1.3s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 916, sass/layout.sass */
.menu .course.highlighted, .menu .ticketline.highlighted, #ticket .course.highlighted, #ticket .ticketline.highlighted {
  -moz-transition-property: background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  background-color: yellow;
}
/* line 919, sass/layout.sass */
.menu .course input[type=text], .menu .ticketline input[type=text], #ticket .course input[type=text], #ticket .ticketline input[type=text] {
  border: none;
  background: rgba(0, 0, 0, 0.06);
}
/* line 922, sass/layout.sass */
.menu .name, .menu .quantity, .menu .price, .menu .save, .menu .edit, .menu .title, .menu .sum, .menu .sum .value, #ticket .name, #ticket .quantity, #ticket .price, #ticket .save, #ticket .edit, #ticket .title, #ticket .sum, #ticket .sum .value {
  display: inline-block;
  -moz-transition-property: background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 1.3s;
  -webkit-transition-duration: 1.3s;
  -o-transition-duration: 1.3s;
  transition-duration: 1.3s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 925, sass/layout.sass */
.menu .name.highlighted, .menu .quantity.highlighted, .menu .price.highlighted, .menu .save.highlighted, .menu .edit.highlighted, .menu .title.highlighted, .menu .sum.highlighted, .menu .sum .value.highlighted, #ticket .name.highlighted, #ticket .quantity.highlighted, #ticket .price.highlighted, #ticket .save.highlighted, #ticket .edit.highlighted, #ticket .title.highlighted, #ticket .sum.highlighted, #ticket .sum .value.highlighted {
  -moz-transition-property: background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  background-color: yellow;
}
/* line 928, sass/layout.sass */
.menu .id, .menu .cat, .menu .destroy, .menu .link, #ticket .id, #ticket .cat, #ticket .destroy, #ticket .link {
  display: none;
}
/* line 930, sass/layout.sass */
.menu .price, .menu .save, .menu .edit, .menu .quantity, .menu .total, #ticket .price, #ticket .save, #ticket .edit, #ticket .quantity, #ticket .total {
  text-align: right;
}

/* line 932, sass/layout.sass */
.menu {
  margin-top: 5px;
  width: 620px;
  height: 320px;
  overflow: hidden;
  /* ******** ANIMACIONES PSEUDO 3D ********* */
}
/* line 937, sass/layout.sass */
.menu.menu.view_only {
  height: auto;
}
/* line 939, sass/layout.sass */
.menu .category_wrapper {
  width: 1000%;
  height: inherit;
  -moz-transition-property: margin-left;
  -webkit-transition-property: margin-left;
  -o-transition-property: margin-left;
  transition-property: margin-left;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 943, sass/layout.sass */
.menu .category_wrapper .category {
  float: left;
  width: 320px;
  padding: 4px;
  height: 280px;
  border: 1px solid #d3d3d3;
  background: #f4f4f4;
  margin: 6px;
  -moz-box-shadow: 0 0 10px 0px #bbbbbb;
  -webkit-box-shadow: 0 0 10px 0px #bbbbbb;
  -o-box-shadow: 0 0 10px 0px #bbbbbb;
  box-shadow: 0 0 10px 0px #bbbbbb;
}
/* line 953, sass/layout.sass */
.menu .category_wrapper .category .course {
  float: left;
  width: 311px;
}
/* line 955, sass/layout.sass */
.menu .category_wrapper .category .course[draggable], .menu .category_wrapper .category .course[draggable] label {
  cursor: move;
}
/* line 957, sass/layout.sass */
.menu .category_wrapper .category .course .name {
  width: 230px;
}
/* line 959, sass/layout.sass */
.menu .category_wrapper .category .course .price {
  width: 35px;
}
/* line 961, sass/layout.sass */
.menu .category_wrapper .category .course .price input[type=text] {
  width: 35px;
}
/* line 963, sass/layout.sass */
.menu .category_wrapper .category .course .save, .menu .category_wrapper .category .course .edit {
  width: 35px;
}
/* line 965, sass/layout.sass */
.menu.csstransforms3d {
  padding-left: 150px;
}
/* line 967, sass/layout.sass */
.menu.csstransforms3d .category {
  margin: 10px -122px;
  -moz-transition-property: transform,opacity;
  -webkit-transition-property: transform,opacity;
  -o-transition-property: transform,opacity;
  transition-property: transform,opacity;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 970, sass/layout.sass */
.menu.csstransforms3d .category.left, .menu.csstransforms3d .category.right {
  opacity: 0.2;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
}
/* line 972, sass/layout.sass */
.menu.csstransforms3d .category.left.first, .menu.csstransforms3d .category.right.first {
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
/* line 974, sass/layout.sass */
.menu.csstransforms3d .category.left:not(.first), .menu.csstransforms3d .category.right:not(.first) {
  opacity: 0.1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
}
/* line 976, sass/layout.sass */
.menu.csstransforms3d .category.left {
  -moz-transform: perspective(500) rotateY(65deg) scale(0.65);
  -webkit-transform: perspective(500) rotateY(65deg) scale(0.65);
  -o-transform: perspective(500) rotateY(65deg) scale(0.65);
  -ms-transform: perspective(500) rotateY(65deg) scale(0.65);
  -khtml-transform: perspective(500) rotateY(65deg) scale(0.65);
  transform: perspective(500) rotateY(65deg) scale(0.65);
}
/* line 978, sass/layout.sass */
.menu.csstransforms3d .category.center {
  margin: 10px 3px;
}
/* line 980, sass/layout.sass */
.menu.csstransforms3d .category.right {
  -moz-transform: perspective(500) rotateY(-65deg) scale(0.65);
  -webkit-transform: perspective(500) rotateY(-65deg) scale(0.65);
  -o-transform: perspective(500) rotateY(-65deg) scale(0.65);
  -ms-transform: perspective(500) rotateY(-65deg) scale(0.65);
  -khtml-transform: perspective(500) rotateY(-65deg) scale(0.65);
  transform: perspective(500) rotateY(-65deg) scale(0.65);
}
/* line 983, sass/layout.sass */
.menu:not(.csstransforms3d) {
  padding-left: 120px;
}
/* line 985, sass/layout.sass */
.menu:not(.csstransforms3d) .category {
  margin: 10px -100px;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 988, sass/layout.sass */
.menu:not(.csstransforms3d) .category.left, .menu:not(.csstransforms3d) .category.right {
  opacity: 0.2;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
}
/* line 990, sass/layout.sass */
.menu:not(.csstransforms3d) .category.left.first, .menu:not(.csstransforms3d) .category.right.first {
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
/* line 992, sass/layout.sass */
.menu:not(.csstransforms3d) .category.left {
  -moz-transform: skewy(-25deg) scalex(0.5) scaley(0.6) translatey(10px);
  -webkit-transform: skewy(-25deg) scalex(0.5) scaley(0.6) translatey(10px);
  -o-transform: skewy(-25deg) scalex(0.5) scaley(0.6) translatey(10px);
  -ms-transform: skewy(-25deg) scalex(0.5) scaley(0.6) translatey(10px);
  -khtml-transform: skewy(-25deg) scalex(0.5) scaley(0.6) translatey(10px);
  transform: skewy(-25deg) scalex(0.5) scaley(0.6) translatey(10px);
}
/* line 994, sass/layout.sass */
.menu:not(.csstransforms3d) .category.center {
  margin: 10px 30px;
}
/* line 996, sass/layout.sass */
.menu:not(.csstransforms3d) .category.right {
  -moz-transform: skewy(25deg) scalex(0.5) scaley(0.6) translatey(10px);
  -webkit-transform: skewy(25deg) scalex(0.5) scaley(0.6) translatey(10px);
  -o-transform: skewy(25deg) scalex(0.5) scaley(0.6) translatey(10px);
  -ms-transform: skewy(25deg) scalex(0.5) scaley(0.6) translatey(10px);
  -khtml-transform: skewy(25deg) scalex(0.5) scaley(0.6) translatey(10px);
  transform: skewy(25deg) scalex(0.5) scaley(0.6) translatey(10px);
}

/* ******** Ticket ******** */
/* line 999, sass/layout.sass */
#ticket {
  border: 1px solid lightgray;
  width: 320px;
  height: 320px;
  margin: 10px auto;
  padding: 2px;
}
/* line 1005, sass/layout.sass */
#ticket.dragover {
  background: #eee8aa;
}
/* line 1007, sass/layout.sass */
#ticket .ticketline {
  float: left;
  width: 100%;
}
/* line 1009, sass/layout.sass */
#ticket .ticketline .name {
  width: 233px;
}
/* line 1011, sass/layout.sass */
#ticket .ticketline .quantity {
  width: 36px;
}
/* line 1013, sass/layout.sass */
#ticket .ticketline .quantity input[type=text] {
  width: 25px;
}
/* line 1015, sass/layout.sass */
#ticket .ticketline .price {
  text-align: right;
  width: 35px;
}
/* line 1018, sass/layout.sass */
#ticket .total .title {
  width: 200px;
}
/* line 1020, sass/layout.sass */
#ticket .total .sum {
  width: 40px;
}
