/* ****** Mixins ****** */
/**** VARIABLES ***** */
/* ***** ESTILOS GENERALES DE LA PAGINA ***** */
/* line 27, sass/styles.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 30, sass/styles.sass */
body {
  font-family: "Trebuchet MS", Helvetica, Arial;
  font-size: 11px;
  color: gray;
}
/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.11.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body html, body body, body div, body span, body applet, body object, body iframe,
body h1, body h2, body h3, body h4, body h5, body h6, body p, body blockquote, body pre,
body a, body abbr, body acronym, body address, body big, body cite, body code,
body del, body dfn, body em, body font, body img, body ins, body kbd, body q, body s, body samp,
body small, body strike, body strong, body sub, body sup, body tt, body var,
body dl, body dt, body dd, body ol, body ul, body li,
body fieldset, body form, body label, body legend,
body table, body caption, body tbody, body tfoot, body thead, body tr, body th, body td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.11.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body body {
  line-height: 1;
  color: black;
  background: white;
}
/* line 19, ../../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.11.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body ol, body ul {
  list-style: none;
}
/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.11.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
/* line 23, ../../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.11.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body caption, body th, body td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
/* line 25, ../../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.11.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body q, body blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.11.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body q:before, body q:after, body blockquote:before, body blockquote:after {
  content: "";
}
/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-head@rails3/gems/compass-0.11.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body a img {
  border: none;
}
/* line 35, sass/styles.sass */
body h1 {
  text-align: center;
  font-size: 16px;
}
/* line 38, sass/styles.sass */
body h1, body h4, body h3 {
  font-weight: bold;
}
/* line 40, sass/styles.sass */
body h3 {
  font-size: 12px;
}
/* line 42, sass/styles.sass */
body h5 {
  font-size: 11px;
}
/* line 44, sass/styles.sass */
body a, body h4, body h3 {
  color: #4682b4;
  text-decoration: none;
}
/* line 47, sass/styles.sass */
body li {
  display: block;
  list-style: none;
}
/* line 51, sass/styles.sass */
body header .title {
  font-size: 17px;
  color: #555555;
}
/* line 54, sass/styles.sass */
body header .subtitle {
  font-size: 11px;
  font-style: italic;
  color: #999999;
}
/* line 58, sass/styles.sass */
body img {
  display: block;
}
/* line 60, sass/styles.sass */
body fieldset {
  border: none;
}
/* line 62, sass/styles.sass */
body fieldset input[type="text"], body fieldset input[type="password"], body fieldset input[type="email"], body fieldset textarea, body fieldset select {
  width: 370px;
  max-width: 400px;
  height: 24px;
}
/* line 66, sass/styles.sass */
body fieldset .button {
  text-align: center;
}

/* ****** Clases para estilar elementos ****** */
/* line 72, sass/styles.sass */
#map_canvas.big_map, #map_canvas.medium_map {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  height: 550px;
  border: 2px solid #444444;
  width: 1024px;
}
/* line 77, sass/styles.sass */
#map_canvas.medium_map {
  height: 300px;
  width: 100%;
  margin-top: 5px;
}

/* line 81, sass/styles.sass */
.pic.small {
  height: 53px;
  width: 53px;
  border: 1px solid lightgray;
}

/* line 85, sass/styles.sass */
.anotation {
  color: lightgray;
  font-style: italic;
  text-align: right;
}

/* line 89, sass/styles.sass */
.legend {
  padding: 5px 5px 2px;
  margin: 10px 0;
  border-bottom: 1px solid lightgray;
  font-size: 15px;
}

/* line 94, sass/styles.sass */
.minilegend {
  border-bottom: 1px dotted lightgray;
  padding: 0 0 2px 5px;
  margin-bottom: 3px;
}

/* line 98, sass/styles.sass */
.visible {
  display: block;
}

/* line 100, sass/styles.sass */
.invisible {
  display: none;
}

/* line 102, sass/styles.sass */
.center-text {
  text-align: center;
}

/* line 104, sass/styles.sass */
.justify {
  text-align: justify;
}

/* line 106, sass/styles.sass */
.bigger {
  font-size: 12px;
}

/* line 108, sass/styles.sass */
.bold {
  font-weight: bold;
}

/* line 110, sass/styles.sass */
.explanation {
  font-size: 10px;
  text-align: right;
  font-style: italic;
  color: #aaaaaa;
  margin-top: -10px;
  margin-bottom: 10px;
}

/* line 117, sass/styles.sass */
.fake_button {
  border: 1px solid lightgray;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  padding: 4px 5px;
  color: gray;
  background: #f4f4f4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
}

/* ****** Fieldsets ***** */
/* line 125, sass/styles.sass */
fieldset {
  max-width: 620px;
}
/* line 127, sass/styles.sass */
fieldset .field {
  float: left;
  width: 100%;
}
/* line 129, sass/styles.sass */
fieldset .field > .col {
  padding: 15px 10px;
}
/* line 131, sass/styles.sass */
fieldset .field > .col.label {
  float: left;
  width: 22%;
  text-align: right;
  padding-top: 17px;
  line-height: 21px;
  color: #666666;
}
/* line 137, sass/styles.sass */
fieldset .field > .col.input {
  float: left;
  width: 78%;
}

/* line 142, sass/styles.sass */
.fieldset_bicolumn > .col .field .col.label {
  width: 55%;
}
/* line 144, sass/styles.sass */
.fieldset_bicolumn > .col .field .col.input {
  width: 45%;
}
/* line 146, sass/styles.sass */
.fieldset_bicolumn > .col.left_col {
  float: left;
  width: 45%;
}
/* line 148, sass/styles.sass */
.fieldset_bicolumn > .col.right_col {
  float: left;
  width: 45%;
}

/* ****** Estilos generales de elementos ****** */
/* line 151, sass/styles.sass */
input[type=text], input[type=password], input[type=email], input[type=submit], input[type=button], textarea {
  border: 1px solid lightgray;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  height: 21px;
}
/* line 155, sass/styles.sass */
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=submit]:focus, input[type=button]:focus, textarea:focus {
  outline: none;
  -moz-box-shadow: 0 0 7px #dddddd;
  -webkit-box-shadow: 0 0 7px #dddddd;
  -o-box-shadow: 0 0 7px #dddddd;
  box-shadow: 0 0 7px #dddddd;
}

/* line 158, sass/styles.sass */
textarea {
  min-height: 175px;
}

/* line 160, sass/styles.sass */
input[type=text], input[type=password], input[type=email] {
  width: 150px;
  padding-left: 5px;
}

/* line 163, sass/styles.sass */
input[type=submit], input[type=button] {
  color: gray;
  background: #f4f4f4;
  padding: 0 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #dadada));
  background-image: -moz-linear-gradient(#fbfbfb, #dadada);
  background-image: linear-gradient(#fbfbfb, #dadada);
}
/* line 168, sass/styles.sass */
input[type=submit]:hover, input[type=button]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e4e4e4));
  background-image: -moz-linear-gradient(#ffffff, #e4e4e4);
  background-image: linear-gradient(#ffffff, #e4e4e4);
}
/* line 170, sass/styles.sass */
input[type=submit]:active, input[type=button]:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d0d0d0), color-stop(100%, #f0f0f0));
  background-image: -moz-linear-gradient(#d0d0d0, #f0f0f0);
  background-image: linear-gradient(#d0d0d0, #f0f0f0);
}

/* *********** PHOTOS ************ */
/* line 173, sass/styles.sass */
.photo {
  position: relative;
  border: 1px solid lightgray;
}
/* line 176, sass/styles.sass */
.photo > img {
  border: 1px solid white;
}
/* line 179, sass/styles.sass */
.photo.editable .delete_inner {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.85);
  position: absolute;
  width: 26px;
  height: 26px;
  top: 2px;
  left: 2px;
}
/* line 189, sass/styles.sass */
.photo.editable .delete_inner img {
  margin: 1px;
}
/* line 191, sass/styles.sass */
.photo.editable:hover .delete_inner {
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  z-index: 2;
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
}
/* line 195, sass/styles.sass */
.photo.editable:hover .delete_inner:hover {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
/* line 197, sass/styles.sass */
.photo.allwidth img, .photo .avatar img {
  width: 100%;
}

/* line 200, sass/styles.sass */
#photos_fieldset .photo {
  margin: 5px 0;
}
/* line 202, sass/styles.sass */
#photos_fieldset .photo > img {
  width: 170px;
}
/* line 205, sass/styles.sass */
#photos_fieldset .field .delete_photo {
  padding-top: 5px;
  float: left;
  width: 13px;
  height: 21px;
}
/* line 209, sass/styles.sass */
#photos_fieldset .field .photo_upload {
  margin-bottom: 10px;
  float: left;
  width: 30px;
  height: 21px;
  border: 1px solid lightgray;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #dadada));
  background-image: -moz-linear-gradient(#fafafa, #dadada);
  background-image: linear-gradient(#fafafa, #dadada);
}
/* line 217, sass/styles.sass */
#photos_fieldset .field .photo_upload:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e4e4e4));
  background-image: -moz-linear-gradient(#ffffff, #e4e4e4);
  background-image: linear-gradient(#ffffff, #e4e4e4);
}
/* line 219, sass/styles.sass */
#photos_fieldset .field .photo_upload:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d0d0d0), color-stop(100%, #f0f0f0));
  background-image: -moz-linear-gradient(#d0d0d0, #f0f0f0);
  background-image: linear-gradient(#d0d0d0, #f0f0f0);
}
/* line 221, sass/styles.sass */
#photos_fieldset .field .photo_upload img {
  position: absolute;
  margin: 2px 7px;
}
/* line 224, sass/styles.sass */
#photos_fieldset .field .photo_upload .input input {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
/* line 226, sass/styles.sass */
#photos_fieldset .field .selected_file {
  float: left;
  width: 125px;
  margin-left: 2px;
  padding-top: 4px;
  height: 21px;
  overflow: hidden;
}

/* line 232, sass/styles.sass */
.photo_list .photo {
  display: inline-block;
}
/* line 234, sass/styles.sass */
.photo_list .photo.mini img {
  width: 52px;
  height: 52px;
}
/* line 237, sass/styles.sass */
.photo_list .photo.small img {
  width: 96px;
  height: 96px;
}
/* line 240, sass/styles.sass */
.photo_list .photo.scalable {
  -moz-transition-property: transform;
  -webkit-transition-property: transform;
  -o-transition-property: transform;
  transition-property: transform;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 242, sass/styles.sass */
.photo_list .photo.scalable:hover {
  -moz-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -moz-transform: scale(1.7, 1.7);
  -webkit-transform: scale(1.7, 1.7);
  -o-transform: scale(1.7, 1.7);
  -ms-transform: scale(1.7, 1.7);
  transform: scale(1.7, 1.7);
  -moz-box-shadow: 0 0 10px #999999;
  -webkit-box-shadow: 0 0 10px #999999;
  -o-box-shadow: 0 0 10px #999999;
  box-shadow: 0 0 10px #999999;
  z-index: 10;
}
/* line 247, sass/styles.sass */
.photo_list .photo.scalable:hover.very {
  -moz-transform: scale(2.5, 2.5);
  -webkit-transform: scale(2.5, 2.5);
  -o-transform: scale(2.5, 2.5);
  -ms-transform: scale(2.5, 2.5);
  transform: scale(2.5, 2.5);
}
