alert("users/new.js.erb!!!");
var p, $fields_for,$fieldset;
p = { "num_photos": $.deparam.querystring($("#add_photo_link").attr("href"))["num_photos"] };
$fields_for = $("<%= escape_javascript( form_for(@user) { |f| render "shared/common/photos_fieldset",:form=>f,:legend=>"Photos" } )%>");
$fieldset = $("#photos_fieldset");
p["num_photos"] = parseInt( p["num_photos"] ) + 1;
$("#add_photo_link").attr("href",$.param.querystring( $("#add_photo_link").attr("href"), p ) );
var $field = $fields_for.find(".field:last").hide();
$fieldset.append($field);
$field.show(200);
