-title (@user==current_user ? 'Mi perfil' : "Perfil de #{@user.username}")
.tricolumn{:id=> controller_name+"_"+action_name}
  %nav.col
    %h3.legend.super Restaurantes Visitados
    .recomended
      %h3 Recomendados
      - @user.recommended_restaurants.each do |rest|
        .indent-text= link_to rest.name, rest
    .unrecomended
      %h3 No recomendados
      - @user.unrecommended_restaurants.each do |rest|
        .indent-text= link_to rest.name, rest
  %section.col
    = @user.reviews.exists? ? render(@user.reviews) : "Este usuario aun no ha dado su opinion sobre ningún restaurante"
  %section.col
    %h3.legend= t(:photos).humanize
    - if @user.photos.count>=1
      =render("shared/common/popeye",:photos=>@user.photos)
    - else
      .photo.allwidth= image_tag 'no-avatar.png'
    %h3.legend Información
    - [['Usuario:', @user.nick],['Le gusta:',COLLECTIONS[:loved_food][@user.loved_food]],['Odia', COLLECTIONS[:hated_food][@user.hated_food]],
    [t(:province),COLLECTIONS[:province][@user.province]],[t(:town),@user.town]].each do |pair|
      = label_value_tag pair[0],pair[1]
