= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  %fieldset
    .field
      .label.right-text= label_with_errors f,:email,f.object.errors
      .input= f.text_field :email
    .field
      .label.right-text= label_with_errors f,:password,f.object.errors
      .input= f.password_field :password
    .field
      .label.right-text= label_with_errors f,:password_confirmation,f.object.errors
      .input= f.password_field :password_confirmation
  .buttons.center-text
    .button= f.submit t(:sign_up)