.full{:style=>'height: 80px'}
#sign_up
  %h1 Registro
  - if session[:omniauth]
    %h3= "Ya hemos recopilado tu información de #{session[:omniauth]['provider']}. Solo necesitamos un dato más "
    = render :partial => "form"
  - else
    %p.center-text ¿Eres usuario de alguna de los siguientes sevicios? Si lo eres ya está todo hecho!! Tan solo pincha en su icono para registrarte.
    .auth_providers
      %a.auth_provider{:href => "/auth/twitter"}
        = image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter"
      %a.auth_provider{:href => "/auth/facebook"}
        = image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook"
      %a.auth_provider{:href => "/auth/google_apps"}
        = image_tag "google_64.png", :size => "64x64", :alt => "Google"
      %a.auth_provider{:href => "/auth/open_id"}
        = image_tag "openid_64.png", :size => "64x64", :alt => "OpenID"
    %p.center-text Si no lo eres, tienes que rellenar este registro.
    = render :partial => "form"
    = render :partial => "devise/shared/links"
