.course.full.dot-underlined{'data-id'=>@course.id, :draggable=> @draggable }
  .name= @course.name
  .price.right-text=  @course.price.to_s
  .coin-symbol.right-text= label_tag '€'
  .edit.center-text=link_to "Editar", edit_restaurant_course_path(@course.restaurant,@course, :review_id=>@review_id), :remote=>true
  .link= link_to '',new_ticketline_path(:course_id=>@course.id), :remote=>true, :class=>:add_ticketline_link, 'data-course'=>@course.id
