#ticket.ticket
  %h1 Ticket
  .lines
    - @review.ticketlines.each do |t|
      = render({:state=>:ticketline},t)
  .total.full
    .name.right-text Total
    .price.right-text 0
    .coin-symbol.right-text €