.restaurant_menu
  %ul.menu-nav
    - FOOD_CATEGORIES.drop(1).each do |index, name|
      %li.cat-link{ 'data-cat'=>index }= name
  .menu{'data-restaurant_id'=>@restaurant.id}
    .category_wrapper
      - FOOD_CATEGORIES.drop(1).each do |index, name|
        =render({:state=>:category_card},index, name)
