- random = Time.now.usec
.ticketline.dot-underlined.full{'data-course'=>@tline.course.id}
  = nested_hidden_field_for('review', @tline, random, :id, @tline.id) if @tline.id
  .name= @tline.course.name
  = nested_hidden_field_for('review', @tline, random,:course_id,@tline.course.id)
  .x.right-text x
  .quantity= nested_text_field_for('review', @tline, random,:quantity,1)
  .price.right-text= @tline.course.price.to_s
  .coin-symbol.right-text €