- x = case @model_class.columns_hash[field.to_s].type
- when :string  then field==:email ? email_field_tag(field) : text_field_tag(field)
- when :integer then COLLECTIONS.keys.include?(field) ? select_tag(field, options_for_select( (COLLECTIONS[field].collect {|c| [c.last , c.first] })).sort {|a,b| a[1] <=> b[1]} ) : text_field_tag(field)
- when :text then text_area_tag field
- when :date then date_select field, :order =>[:day,:month,:year]
- when :boolean then check_box_tag field
- when :float then text_field_tag field
- else @model_class.columns_hash[field.to_s].type
= x