- default = params[:search].try(:[],field) || params[:user].try(:[],field) || form.object.try(field)
- type = klass.columns_hash[field.to_s].type unless defined?(type)
- x = case type
- when :string  then form.text_field(field, :value => default)
- when :password  then form.password_field field
- when :integer then COLLECTIONS.keys.include?(field) ? form.collection_select(field, COLLECTIONS[field].sort {|a,b| a[0] <=> b[0]},:first,:last, {:selected => default},{ :class=>'select_form white'}) : form.text_field(field, :value => default)
- when :date then form.date_select field, {:order =>[:day,:month,:year], :start_year=>1940, :end_year=>Time.now.year ,:value => default},{:class=>'select_form white select_'+field.to_s}
- when :text then form.text_area field, :value => default
- when :boolean then form.check_box field, :value=>default
- when :float then form.text_field field, :value=>default
- else klass.columns_hash[field.to_s].type
= x