%fieldset.standard_fieldset{:id=>"courses_fieldset"}
  %h3.legend= t(:courses).humanize
  %h6.superindex.right-text Cuanta más información del menú, mejor. El precio no puede estar en blanco.
  -if action_name=='edit'
    = render 'courses/menu',:restaurant=>@restaurant
  -else
    .restaurant_menu
      %ul.menu-nav
        - FOOD_CATEGORIES.each do |index, cat|
          %li.cat-link{'data-cat'=>index}=cat
      .menu
        .category_wrapper
          - FOOD_CATEGORIES.each_with_index do |obj,cat_index|
            .category{'data-cat'=>cat_index, :class=>((cat_index==0 ? 'center' : 'right')+(cat_index==1 ? ' first' : ''))}
              %h1= obj[1].to_s
              - @restaurant.courses.each_with_index do |c, course_index|
                =render(c) if c.category==cat_index
              .add_course_link= link_to " + Añadir plato", new_courses_path(:category=>cat_index), :remote=>true