%fieldset.standard_fieldset{:id=>"courses_fieldset"}
  .legend= t(:courses).humanize
  %ul.menu-nav
    - FOOD_CATEGORIES.each do |index, cat|
      %li.cat-link{'data-cat'=>index}=cat
  .menu
    - FOOD_CATEGORIES.each_with_index do |obj,index|
      .category{'data-cat'=>index, :class=>('visible' if index==0)}
        %h1= obj[1].to_s

        = form.fields_for :courses do |builder|
          - if builder.object.category!=nil && builder.object.category==index
            %li.course{:class=> ('removable' if builder.object.user_id==current_user.id) + (' newest' if @restaurant.courses[@restaurant.courses.length-1]==builder.object ).to_s }
              .name=builder.text_field :name, :placeholder=>'Nombre del plato'
              //.category=builder.collection_select(:category, FOOD_CATEGORIES,:first,:last,{ :class=>'select_form white'})
              .cat= builder.hidden_field :category
              .price
                =builder.text_field :price, :placeholder=>'Precio'
                €
              .destroy= builder.hidden_field :_destroy
        .add_course_link=link_to " + Añadir plato", {:action=>:new,
                                                    #:num_courses => @num_courses+1,
                                                    #:num_photos => @num_photos,
                                                    #:category=>index ,
                                                    :sender => :add_course_link},
                                                          :id=>:add_course_link,
                                                          :rel=>:courses,
                                                          :remote=>true
