%nav.paginate
  - current_page, total_pages = models.current_page, models.total_pages
  - start_page, end_page = [current_page - 2,1].max, [current_page + 2, total_pages ].min
  .pagination
    .pages
      - if models.current_page > 1
        = link_to "<<", { :page => 1, :search=>params[:search] }, :rel => :first, :remote=>true
        = link_to "<", { :page => current_page - 1, :search=>params[:search] }, :rel => :previous, :remote=>true
      - else
        %em <<
        %em <
      - if show_range
        - for i in start_page..current_page-1 do
          = link_to i.to_s, { :page => i , :search=>params[:search]}, :remote => true
        %em= current_page
        - for i in current_page + 1..end_page do
          = link_to i.to_s,{ :page => i, :search=>params[:search] }, :remote => true
      - if models.current_page < models.total_pages
        = link_to ">", { :page => current_page + 1, :search=>params[:search] }, :rel => :next, :remote=>true
        = link_to ">>", { :page => total_pages , :search=>params[:search] }, :rel => :last, :remote=>true
      - else
        %em >
        %em >>
    .x_of_x
      %span= "#{current_page} de #{total_pages}"