- if model.errors.any?
  = debug model.errors.on(:name)
  = debug model.errors.on(:email).class.name
  = debug model.errors.on(:ciudad).class.name
  -##errorExplanation
  -#  %h2= "#{pluralize(model.errors.count, 'error')} prohibited this #{model.class.to_s} from being saved:"
  -#  %ul
  -#  - model.errors.full_messages.each do |msg|
  -#    %li= msg