%fieldset.bicolumn{:id=>"#{legend}_fieldset"}
  %h3.legend=label_tag t(legend).humanize
  %h6.right-text.superindex= explanation if defined?(explanation)
  .half.left
    -puts "WOOOOO = "+fields.select {|f| fields.index(f) % 2 == 0 }.inspect
    - fields.select {|f| fields.index(f) % 2 == 0 }.each do |field|
      = render 'shared/common/field',:form=>form,:field=>field
  .half.right
    -puts "WEEEE = "+fields.select {|f| fields.index(f) % 2 != 0 }.inspect
    - fields.select {|f| fields.index(f) % 2 != 0 }.each do |field|
      = render 'shared/common/field',:form=>form,:field=>field