- map = defined?(has_map) ? has_map : false; locate = defined?(geolocate) ? geolocate : false
%fieldset{:id=>"#{legend}_fieldset", :class=> ('map_fieldset' if map) }
  - if legend
    %h3.legend= label_tag t(legend).humanize
    %h6.right-text.superindex= explanation if defined?(explanation)
  -if map
    .edit_map_buttons.float-left{:style=>'width: auto;'}
      #capture_sv.center-text.round-corners=image_tag "camera_white_mini.png",:alt=>"Guardar coordenadas de StreetView"
      #put_marker.center-text.round-corners=image_tag "google-marker-white-mini.png",:alt=>"Colorcar marcador"
    #photo_effect.medium_map
    #map_canvas.medium_map.edit_map
  - fields.each do |field|
    = render 'shared/common/field',:form=>form,:field=>field
  - if locate
    #geolocate.fake_button
      =image_tag "iconos/google-marker-gray-min.png"
      .text Localizar