- error = form.object.errors[field[0]]
.field{:class=> (error.size>0 ? ' has_errors' : '') }
  .label.right-text
    = form.label field, t(field[0]).humanize
    - error.each do |e|
      .explanation.error_explanation= e.humanize
  .input{:class=>('date' if field[1]==:date)}
    = render "shared/common/appropiate_input",:form=>form, :field=>field[0], :type=>field[1]