%fieldset.standard_fieldset{:id=>"#{legend}_fieldset"}
  - if legend
    .legend=label_tag t(legend).humanize
    .explanation= explanation if defined?(explanation)
  -if defined?(has_map)
    #capture_sv=image_tag "camera_white_mini.png",:alt=>"Guardar coordenadas de StreetView"
    #put_marker=image_tag "google-marker-white-mini.png",:alt=>"Colorcar marcador"
    #photo_effect.medium_map
    #map_canvas.medium_map.edit_map
  -fields.each_with_index do |field,index|
    - error = form.object.errors[field]
    .field{:class=> (defined?(has_map)? "invisible" : '') + (error.size>0 ? ' has_errors' :'') }
      .col.label
        = form.label field, t(field).humanize
        - error.each do |e|
          .explanation.error_explanation= e.humanize
      .col.input{:class=>('date' if form.object[field].class==Date)}
        - if defined?(types)
          = render "shared/common/appropiate_input",:form=>form,:field=>field, :type=>types[index]
        - else
          = render "shared/common/appropiate_input",:form=>form,:field=>field, :klass=>klass
  -if defined?(geolocate)
    #geolocate.fake_button
      =image_tag "iconos/google-marker-gray-min.png"
      .text Localizar