.percentage_bar
  - if !name.nil?
    .name= name
  .value
    .indicator
      .bar{:style=>"width: #{val*width}px"}
      -if percent
        .percent.center-text= percent == true ? (val.round(2)*100).to_i.to_s + '%' : percent