%fieldset#photos_fieldset
  %h3.legend= t(:photos).humanize
  - form.object.photos.each do |photo|
    = render photo,:editable=>true
  .add_photo_link=link_to "+ Añadir foto", new_photo_path(:attachable_id=>form.object.id, :attachable_type=>form.object.class.name), :remote=>true