.ppy#ppy1
  %ul.ppy-imglist
    - photos.each do |p|
      %li=link_to (image_tag p.image.url(:small),:alt=>"alternative"), p.image.url(:big)
  .ppy-outer
    .ppy-stage
      .ppy-nav
        %a.ppy-prev{:title=>"Previous image"} Previous image
        %a.ppy-switch-enlarge{:title=>"Enlarge"} Enlarge
        %a.ppy-switch-compact{:title=>"Close"} Close
        %a.ppy-next{:title=>"Next image"} Next image
  .ppy-caption{:style=>('display:none' if photos.count<2)}
    .ppy-counter
      Imagen
      %strong.ppy-current
      de
      %strong.ppy-total
