- label = defined?(valoration) ? valoration : nil
.stars.show{:class=>(defined?(mini) && mini ? 'mini' : '' ) + (label ? '' : ' no-label' ) }
  - if label
    .label= label_tag t(label)
  .stars_list
    -  rating = puntuation
    - impar = rating%2
    - (rating/2).times do
      = image_tag 'iconos/star_mini.png'
    = image_tag 'iconos/star_mini_yellow_gray.png' if impar==1
    - (5 - (rating/2+impar)).times do
      =image_tag "iconos/star_mini_gray.png"