%fieldset{:id=>"#{legend}_fieldset"}
  %h3.legend ¿Qué has comido?
  %h6.right-text.superindex Haz doble click(beta) o arrastra platos hasta el ticket. Si no encuentras lo que pediste, añadelo.
  =render "courses/menu", :restaurant=>@review.restaurant, :review=>@review
  #ticket.ticket
    %h1 Ticket
    .lines
      - @review.ticketlines.each do |t|
        =render 'ticketlines/form',:ticketline=>t
    .total.full
      .name.right-text Total
      .price.right-text 0
      .coin-symbol.right-text €