.field{'data-hidden'=>false}
  .upload_field
    - if f.object.image.exists?
      .photos
        .photo
          = image_tag( f.object.image.url(:medium))
          .delete_inner.remove_photo_link
    - else
      .delete_photo= image_tag "deleteIcon_12.png",:class=>:remove_photo_link
      .photo_upload
        .input=f.file_field(:image)
        = f.hidden_field :_destroy
      .selected_file
