- random = Time.now.usec + 100
.photo.editable{ 'data-id'=>@photo.id }
  = image_tag( @photo.image.url(:medium))
  = hidden_field_tag "#{@photo.attachable_type.downcase}_photos_attributes_#{random}_id",@photo.id
  .delete_inner.remove_photo_link= link_to image_tag('iconos/trash_white.png'),@photo, :method => :delete, :confirm => t(:are_you_sure),:remote=>true
