%fieldset{:id=>"#{@section}_fieldset"}
  = render :state => :header
  - @fields.each_with_index do |field, index|
    = render({:state => :field},field,index)
  = render :state => :ending                      # geolocate button