= form_for :filter_form, :url=>find_restaurants_path, :html=>{"data-controller" => controller_name,'data-last-search'=>"",:class=>'full'} do |f|
  %fieldset
    .float-left= f.label :name,t(:name).humanize
    .float-right= text_field_tag :name
  %fieldset
    .food_type_container.float-right=select_tag(:food_type, options_for_select((FOOD_TYPES.collect {|c| [c.last , c.first] }).sort {|a,b| a[1] <=> b[1]}),:class=>"select_food_type dark" )
  %fieldset
    .float-left=f.label 'Entre'
    .price_container{:style=>'margin-left: 6px'}=select_tag(:min_price, options_for_select(PRICES.collect {|c| [c.last , c.first] }),:class=>"select_price dark" )
    .float-left=f.label 'y',:style=>'padding-left: 10px'
    .price_container{:style=>'float: right'}=select_tag(:max_price, options_for_select(PRICES.collect {|c| [c.last , c.first] }),:class=>"select_price dark" )
  %fieldset
    .float-left{:style=>'line-height: 25px'}=f.label :rad,'En un radio de'
    .radius_container=select_tag(:rad, options_for_select((RADIOS.collect {|c| [c.last , c.first] }).sort {|a,b| a[1] <=> b[1]}),:class=>"select_radius dark" )
  %fieldset.buttons.center-text
    .button= f.submit 'Filtrar'