- title "Vamos De Cena"
- javascript 'canvas'
#map_container
  #expandible_menu
    #filter_form
      .content
        =render "filter_form"
        .results_container
          #more_up_container
            #more_up= image_tag '/images/flecha_up.png'
          #results.full 
          #more_down=image_tag '/images/flecha_down.png'
    #expand
      #tab=image_tag '/images/flecha_right.png'
  #map_canvas.big_map.show_map
.slide-left= image_tag 'iconos/doble_flecha_left.png'
#columns
  .slider
    .column
      .content
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed egestas mi.
        Proin luctus turpis a diam porta ac dignissim risus semper. Suspendisse et felis diam.
        Fusce vitae quam eget massa cursus suscipit a eget justo. Mauris nec tortor neque, in tempus orci.
      = image_tag 'twitter_64.png', :size=> "300x300", :alt=> "imagen de prueba"
    .column
      .content
        Fusce sed sem mollis velit ultrices ullamcorper. Vivamus nec tincidunt risus. Vestibulum auctor est quis leo suscipit
        tincidunt sed sit amet felis. Ut rhoncus, lorem vel facilisis ultrices, tellus turpis tincidunt lectus, a sollicitudin augue
        augue non sapien.
      = image_tag 'facebook_64.png', :size=> "300x300", :alt=> "imagen de prueba"
    .column
      .content
        Curabitur mi mi, semper a pulvinar quis, condimentum at nibh. Aliquam porta congue orci euismod mollis. Praesent faucibus
        eleifend ultricies. Sed vestibulum nulla id nunc tempor tempus. Nam si amet semper sem. Nuam interdum, urna a commodo placerat,
        odio.
      = image_tag 'google_64.png', :size=> "300x300", :alt=> "imagen de prueba"
    .column
      .content
        Curabitur mi mi, semper a pulvinar quis, condimentum at nibh. Aliquam porta congue orci euismod mollis. Praesent faucibus
        eleifend ultricies. Sed vestibulum nulla id nunc tempor tempus. Nam sit amet semper sem. Nullam interdum, urna a commodo.
      = image_tag 'openid_64.png', :size=> "300x300", :alt=> "imagen de prueba"
    .column
      .content
        Curabitur mi mi, semper a pulvinar quis, condimentum at nibh. Aliquam porta congue orci euismod mollis. Praesent faucibus
        eleifend ultricies. Sed vestibulum nulla id nunc tempor tempus. Nam sit amet semper sem. Nullam interdum, urna a commodo placerat,
        odio magna.
      = image_tag 'linkedin_64.png', :size=> "300x300", :alt=> "imagen de prueba"
.slide-right= image_tag 'iconos/doble_flecha_right.png'


