%nav.filter
  = form_tag @model_class, { :method=>:get, :remote=>true } do
    = fields_for :search do |search|
      - @model_class.filterable_fields.each do |field|
        .field
          .label= search.label field
          .input= render "shared/common/appropiate_input",:form=>search,:field=>field,:type=>@model_class.columns_hash[field.to_s].type
    .buttons
      .button= submit_tag("Filter", :name=>nil, :disable_with=>:loading ) if @model_class.filterable_fields.count > 0
