= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %fieldset
    .field
      .label.right-text= f.label :email, t(:email).humanize
      .input= f.email_field :email, :required=>true
    .field
      .label.right-text= f.label :password
      .input= f.password_field :password, :required=>true
    - if devise_mapping.rememberable?
      .field
        .label.right-text= f.label :remenber_me, 'Recordarme'
        .input= f.check_box :remember_me
  .full.buttons.center-text
    .button= f.submit "Identificarme"