= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %fieldset
    .col
      %p= f.text_field :email, :required => true, :type => :email
      %p= f.password_field :password, :required => true
      - if devise_mapping.rememberable?
        %p
          = f.check_box :remember_me
          = f.label :remenber_me, 'Recordarme'
  %fieldset.buttons.center-text
    .button= f.submit ' Entrar '