-ratio = @restaurant[pos+'_cat_ratio']
.cat
  .name=FOOD_TYPES[@restaurant[pos+'_cat']]
  .value
    .indicator
      .bar{:style=>"width: #{ratio*112}px"}
      .percent.center-text= (ratio.round(2)*100).to_i.to_s + '%'