.recomended_restaurant.full.gray-with-gray-round-borders
  .title.full= link_to r.name, r
  %h6.address.full.ellipsis-text= r.address
  - if r.reviews.count > 0
    .full
      .half.center-text{:style=>'width: 45%'}= show_stars(r.avg_rating,nil, :mini) if r.avg_rating
      .half.center-text{:style=>'width: 55%'}= FOOD_TYPES[r.first_cat] + (r.second_cat ? "/#{FOOD_TYPES[r.second_cat]}" : '')
    .full
      .half.center-text{:style=>'width: 45%'}= pluralize r.reviews.count, 'opinión','opiniones'
      - recomendaciones = r.avg_recomendations.reject!{|e| e[1]< 0.34 }.sort {|x,y| y[1]<=>x[1] }.slice(0,3)
      - text = recomendaciones.map {|e| t('resumed.'+e[0].to_s) }.join('/')
      .half.center-text.ellipsis-text{:class=>('long' if text.length>18),:style=>'width: 55%'}= text
  - else
    -2.times do
      .full
        .half.center-text='-'
        .half.center-text='-'