.resume.full.gray-with-gray-round-borders
  -if restaurant.reviews.count > 0
    .half
      %h4.center-text Puntuaciones:
      - Review.new.ratings.each do |r|
        = render "shared/common/pieces/percentage_bar",:name=>t(r),:val=>restaurant.avg_rating(r)/10.0,:percent=>restaurant.avg_rating(r).round(1),:width=>176
    .half
      %h4.center-text Recomendado para:
      - restaurant.avg_recomendations.each do |r|
        = render "shared/common/pieces/inclination_bar",:name=>t(r[0]),:r=>r,:width=>176
    .full
      .actions.half.center-text
        %h4.show_menu Ver menu
      .social.half.center-text
        %h4 Facebook Twitter
    .full.hidden= render_cell :coursesfieldset, :only_menu, :restaurant => restaurant
  -else
    %h3.center-text{:style=>'line-height: 30px'} No hay opiniones todavía.