#results_inner
  - restaurants.each do |r|
    .result.full{'data-restaurant'=> r.to_json(:only=>[:id,:name,:lat,:lng])}
      .puntuation
        =image_tag 'star_mini.png'
        -rating = r.avg_rating
        .numero.center-text= rating ? rating.round(1).to_s : "  -"
      .restaurant_data
        .title.full=link_to r.name, r
        %h6.address.full.ellipsis-text.italic=[r.street_name,r.street_number].compact.join(',')
        %h6.opinions.full.right-text=link_to "#{r.reviews.count} opiniones", restaurant_path(r)
      .more_info=image_tag "google-marker-white-mini-fina2.png",:width=>'9px'
