- javascript 'maps'
= form_for @restaurant, :html=>{:multipart=>true} do |f|
  .tricolumn.tricolumn_form
    %nav.col.gray_column.animated_menu= render "shared/common/nav_column", :sections => [:general,:geolocation,:services,:contact,:menu]
    %section.col.middle
      %header#restaurant_header
        .restaurant_name= @restaurant.name
        .full
          .actions.half= link_to('Volver al restaurante',@restaurant) unless @restaurant.new_record?
          .restaurant_town.half= "#{@restaurant.town}(#{PROVINCES[@restaurant.province]})" unless @restaurant.town.blank?
      = render "shared/common/fieldset",:form=>f, :legend=>:general,:fields=>[[:name,:string],[:province,:integer],[:town,:string], [:street_name,:string],[:street_number,:string]],:geolocate=>true,:explanation=>'Si conoces la dirección exacta, ponla y dale a localizar. ¿Acertamos? Puedes afinar la posición a mano'
      = render "shared/common/fieldset",:form=>f, :legend=>:geolocation,:fields=>[:lat,:lng,:sv_lat,:sv_lng,:sv_heading,:sv_pitch].map{|e| [e,:float]},:has_map=>true, :explanation=>'Haz click derecho para colocar un marcador o entra en StreetView para hacerlo interactivo'
      = render "shared/common/fieldset_bicolumn",:form=>f, :legend=>:services,:fields=>[:celiac,:adapted,:take_away,:delivery,:credit_card,:menu].map{|e| [e,:boolean]}
      = render "shared/common/fieldset",:form=>f, :legend=>:contact,:fields=>[[:tlf,:integer],[:email,:string],[:web,:string]]
      = render "shared/common/courses_fieldset",:form=>f
      .buttons.center-text
        .button= f.submit "Guardar",:class=>:default_button
    %section.col
      = render "shared/common/photos_fieldset",:form=>f


