//= render "shared/index_partials/index"
.bicolumn
  %nav.gray_column= render 'shared/common/nav_column',:sections=>%w(user restaurant review course ticketline), :index=>true
  %h3.legend= controller_name.capitalize

