.infoBoxContent.full{:id=>"infobox_#{@restaurant.id}",'data-id'=>@restaurant.id}
  - if params[:infobox]=='medium'
    .leftSide.float-left
      .name.full=link_to @restaurant.name, @restaurant
      %h6.address.italic.full= @restaurant.address
      .full
        .average.half.center-text= show_stars(@restaurant.avg_rating,nil, :mini) if @restaurant.avg_rating
        .style.half.right-text= FOOD_TYPES[@restaurant.first_cat]+(@restaurant.second_cat ? '/'+FOOD_TYPES[@restaurant.second_cat] : '' ) if @restaurant.reviews.count>0
      .full
        .reviews.half #{pluralize @restaurant.reviews.count, 'opinión','opiniones'} #{link_to 'nueva',new_restaurant_review_path(@restaurant)}
        .tlf.half.right-text= @restaurant.tlf
    .rightSide.float-right
      .control_buttons
        .button.max_button
          %img.to_big_infobox.transparent{:src=>'/images/flecha_up.png'}
        .button.close_button
          %img.close_infobox.transparent{:src=>'/images/cruz_blanca.png'}
  - else
    .leftSide.float-left
      #streetview_pane{'data-lat'=>@restaurant.sv_lat,'data-lng'=>@restaurant.sv_lng,'data-heading'=>@restaurant.sv_heading,'data-pitch'=>@restaurant.sv_pitch}
    .rightSide.float-right
      .control_buttons
        .button.min_button
          %img.to_medium_infobox.transparent{:src=>'/images/flecha_down.png'}
        .button.close_button
          %img.close_infobox.transparent{:src=>'/images/cruz_blanca.png'}