alert("restaurant#new");
var $fieldset = $("<%= escape_javascript( form_for(@restaurant) { |f|  f.fields_for( :photos) { |builder| render('shared/common/upload_photo_field',:f=>builder)  } }) %>");
var $last_field = $fieldset.find( ".field:last" );
$(".add_photo_link").before($last_field);
//alert($last_field.html());