var $photo = $("<%= escape_javascript( image_tag_sized @main_photo,:medium ) %>");
        var actual_width = $("#main_photo img").width();
        var new_width = $photo.data("width");
        var new_height = (actual_width/new_width)*$photo.data("height"); //calcula la nueva altura por regla de tres

        $("#main_photo").animate({opacity:0},300,function(){
            $(this).find("img").replaceWith($photo);
            $(this).animate({height : new_height+4+'px'},300, function(){
                $(this).animate({opacity:1},300);
            });
        });
