- title "Restaurant Show"
.tricolumn
  %nav.col.gray_column= render "shared/restaurant_partials/left_col_show", :restaurant => @restaurant
  %section.col.middle
    %header#restaurant_header
      .restaurant_name= @restaurant.name
      .full
        .actions.half #{link_to("Nueva opinion",new_restaurant_review_path(@restaurant))} | #{(link_to "Editar restaurante",edit_restaurant_path(@restaurant)) if @restaurant.user_id == current_user.try(:id) }
        .restaurant_town.half= @restaurant.loc_province
      = render 'resume', :restaurant => @restaurant
    = render @restaurant.reviews.order("created_at desc")
  %section.col
    %h3.legend= t(:photos).humanize
    = @restaurant.all_photos.size>=1 ? render("shared/common/popeye",:photos => @restaurant.all_photos) : 'No hay fotos de este restaurante'
    %h3.legend Alternativas cercanas
    %h6.right-text.superindex Restaurantes del estilo por la zona
    #alternatives
      - alt = @restaurant.near_alternatives
      - alt.each do |r|
        =render "recomended_restaurant",:r=>r
      -if alt.size==0
        .recomended_restaurant.gray-with-gray-round-borders.center-text
          %h3 No hay resultados
    %h3.legend Recomendaciones
    %h6.right-text.superindex ¿Te gusta? También puede gustate:
    #recomendations
      - rec = @restaurant.may_like_you_too
      - rec.each do |rest|
        .recomendation=render "recomended_restaurant",:r=>rest
      - if rec.size==0
        .alternative.empty.center-text
          %h3 No hay resultados
