.course.full.dot-underlined{'data-id'=>course.id, :draggable=>(defined?(draggable) ? draggable.to_s : 'true')}
  .name= course.name
  .price.right-text= course.price.to_s
  .coin-symbol.right-text €
  .edit.center-text=link_to "Editar", edit_restaurant_course_path(course.restaurant,course, :review_id=>(review.id if (defined?(review) && review )) ), :remote=>true
  .link= link_to '',new_ticketline_path(:course_id=>course.id), :remote=>true, :class=>:add_ticketline_link, 'data-course'=>course.id
