-random = Time.now.usec
%li.course.full.dot-underlined{:class=>'removable'}
  .name= nested_text_field_for('restaurant',course,random,:name,'Nombre')
  .cat.hidden= nested_hidden_field_for('restaurant',course,random,:category)
  .price.right-text= nested_text_field_for('restaurant',course,random,:price,'Precio')
  .coin-symbol.right-text  €
  .edit.editing
    = image_tag 'iconos/diskette_save_black_mini.png',:class=>'save_course'
    = image_tag 'iconos/trash_black_mini.png', :class=>:delete_nested_course
