-random= Time.now.usec
%li.course.full.dot-underlined{'data-random'=>random}
  = form_for([restaurant,course], :remote=>true) do |f|
    .name= f.text_field :name, :placeholder=>'Nombre'
    .cat.hidden= f.hidden_field :category
    .price.right-text= f.text_field :price,:placeholder=>'Precio'
    .coin-symbol.right-text  €
    .edit.editing
      = hidden_field_tag :random,random
      = (hidden_field_tag :review_id, review.id) if defined?(review) && review
      = image_tag 'iconos/diskette_save_black_mini.png',:class=>'save_course'
      = link_to (image_tag('iconos/trash_black_mini.png')),[restaurant,course],:class=>:delete_course, :method=>:delete, :remote=>true


