$("nav.col a").attr("data-active",false).filter("[resource=courses]").attr("data-active",true);
displaceHighlight();
$("section.col .index").fadeOut(200,function(){
    $(this).html( $("<%= escape_javascript( render "shared/index_partials/index" ) %>") ).fadeIn(200);
});