var $form = $("<%= escape_javascript( render 'form',:restaurant=>@course.restaurant,:course=>@course, :review=>(@review if defined?(@review)) ) %>");
$form.hide();
$(".category[data-cat=<%= @course.category.to_s %>] .add_course_link").before($form);
$form.slideDown();
