$nested_course = $("<%= escape_javascript( render "course_nested",:course=>@course )%>");
$nested_course.hide();
$(".category[data-cat=<%= @course.category.to_s %>] .add_course_link").before($nested_course);
$nested_course.slideDown(400);
