%h1= t '.title'
%p
  = link_to t('back'), courses_path
  = link_to t('edit'), edit_course_path(@course)

%dl
  %dt= Course.human_attribute_name :restaurant_id
  %dd= @course.restaurant_id
  %dt= Course.human_attribute_name :name
  %dd= @course.name
  %dt= Course.human_attribute_name :price
  %dd= @course.price
  %dt= Course.human_attribute_name :category
  %dd= @course.category
