var $course = $("<%= escape_javascript( render @course, :review=>(@review if defined?(@review)) ) %>");
$(".course[data-random=<%= params[:random] %>]").replaceWith( $course );
var $tk = $(".ticketline[data-course=" + $course.data('id') + "]");
$tk.find(".name").html("<%= escape_javascript( @course.name.humanize ) %>");
$tk.find(".price").html("<%= escape_javascript( @course.price.to_s ) %> €");
sumTicket();