- random = Time.now.usec
.field{'data-random'=>random}
  =form_for @photo, :format=>:js ,:html=>{:multipart=>true, :target=>"iframe#{random}"} do |f|
    =f.hidden_field :attachable_id
    =f.hidden_field :attachable_type
    = hidden_field_tag :random,random
    .delete= image_tag 'trash_black_small.png',:class=>'delete_file_field'
    .select=f.file_field(:image)
    .file_name.ellipsis
    %iframe{:id=>"iframe#{random}",:name=>"iframe#{random}",:style=>'height:1px;width:1px;opacity:0;'}