- title "Index de Fotos"
%h1 Index de fotos
%p= link_to 'new photo', new_restaurant_photo_path
.photos
  %table
    %thead
      %tr
        %th= Photo.human_attribute_name :title
        %th= Photo.human_attribute_name :attachable_id
        %th= Photo.human_attribute_name :attachable_type
        %th{:colspan => 3}= t 'actions'

    %tbody
      - for photo in @photos
        %tr{ :class => cycle(:odd, :even) }
          %td= photo.title
          %td= photo.attachable_id
          %td= photo.attachable_type
          -#%td.action= link_to 'show', photo
          -#%td.action= link_to 'edit', edit_photo_path(photo)
          -#%td.action= link_to 'destroy', photo, :confirm => 'are_you_sure', :method => :delete
.new_foto_form{:style=>"border: 1px solid red; padding: 15px; margin: 15px;"}
  %h2 New Comment
  = form_for [@attachable, Photo.new] do |form|
    %ol.formList
      %li
        = form.label :title
        = form.text_field :title
      %li= submit_tag "Add comment"