%h1 Show phoyo
%p
  = link_to 'back', photos_path
  = link_to 'edit', edit_photo_path(@photo)

%dl
  %dt= Photo.human_attribute_name :title
  %dd= @photo.title
  %dt= Photo.human_attribute_name :attachable_id
  %dd= @photo.attachable_id
  %dt= Photo.human_attribute_name :attachable_type
  %dd= @photo.attachable_type
