#results_inner
  - restaurants.each do |r|
    .result.full{'data-restaurant'=> r.to_json(:only=>[:id,:name,:lat,:lng])}
      .puntuation
        = image_tag 'star_mini.png'
        .numero.center-text= "#{r.avg_rating.try(:round,1) || '  -'}"
      .restaurant_data
        .title.full= link_to r.name, r
        %h6.address.full.ellipsis-text.italic=r.address
        %h6.opinions.full.right-text= link_to pluralize(r.reviews.count, 'opinión', 'opiniones'), r
      .more_info= image_tag 'google-marker-white-mini-fina2.png', :width => '9px'
