drawRingOnMap(myGM.map,'<%= @lat %>','<%= @lng %>','<%= @rad %>');
addMarkers($.map(<%= @restaurants.to_json.html_safe %>, function(place,i) { return markerFromPlace(place) } ) ,true );
$("#results_inner").css("height","1px");
$("#more_up,#more_down").removeClass("expanded");
setTimeout(function(){
    var results = "<%= escape_javascript( render 'results',:restaurants=>@restaurants ) %>";
    $("#results").html(results).attr({"data-pages":0,"data-page":0});
    var num_results =  $("#results_inner .result").length;
    $("#results").attr("data-pages",Math.floor(num_results/9)+1).attr("data-page",0);
    $("#results_inner").css("height", num_results*39 +"px");
    setTimeout(function(){ if ( parseInt($("#results").attr("data-pages"))>1) {$("#more_down").addClass("expanded")}  },600);
},600);
