%article.review
  .col.author
    .avatar= image_tag(review.user.photos[0] ? review.user.photos[0].image.url(:thumbnail) : "no-avatar.png",:size => "113x113")
    %h4.username= review.user.username ? link_to(review.user.username, user_path(review.user) ) : "Anonymous"
    .stats
      .minilegend
        Stats
        .subindice= pluralize(review.user.reviews.count,"review")
      .stat Media: #{review.user.avg_rating}
      .stat Reputación: #{ review.user.reputacion }
      - best_rated = review.user.best_rated
      - if best_rated.count>0
        .stat
          Restaurantes Preferidos:
          - best_rated.each do |review|
            %p= link_to review.restaurant.name, review.restaurant
  .col.review_content
    .date
      - if review.user == current_user
        %span #{link_to("Editar Review", edit_restaurant_review_path(review.restaurant,review))} |#{link_to("Delete", restaurant_review_path(review.restaurant,review), :confirm => "Are you sure?", :method=>:delete)}
      = review.created_at.strftime("%d-%m-%y")
    %header
      .title= "\"#{review.title.capitalize}\""
      .subtitle= review.restaurant.name
    .text= review.opinion
    .opinion
      .recomendations
        .section_title Lo recomienda para ir:
        - review.recomended_for.each do |rec|
          %p=t(rec)
        .section_title No lo recomienda para ir:
        - review.unrecomended_for.each do |rec|
          %p=t(rec)
      .separator
      .valorations
        .section_title Valoraciones
        - review.ratings.each do |val|
          .valoration= render "/shared/common/show_stars",:review=>review,:valoration=>val
        .section_title Acudió
        %p= CUSTOMER_TYPES[review.customer_type]
    .extra_info
      .photos.photo_list
        .section_title Fotos
        - review.photos.each_with_index do |photo,i|
          %li.photo.small.very.scalable{ :class =>"photo#{i%3}"  }= image_tag_sized photo,:medium_cropped
      %div
      .menu
        .section_title Menu
        -#- review.courses.each do |course|
        -#  .course
        -#    .name= course.name.humanize
        -#    .price==#{course.price}€
        -#.total
        -#  .name Total
        -#  .price== #{(review.courses.map {|c| c.price}).sum}€