%article.review.full.dot-underlined
  .reviewer_info
    .photo= user_avatar(review.user,:thumbnail,'122x122')
    %h4.username= link_to review.user.nick, review.user
    %p.dot-underlined Estadísticas
    %h6.right-text.italic.superindex= pluralize(review.user.reviews.count, 'opinión', 'opiniones')
    = show_stars review.user.avg_rating, :average, :mini
    .full
      .half Reputación:
      .half.right-text= review.user.reputacion
    .full Rest preferidos
    .full
      - review.user.best_rated_restaurants.each do |rest|
        .ellipsis-text= link_to rest.name, rest
  .review_info
    %header.full
      .date.right-text
        - if current_user && ( review.user == current_user || current_user.admin? )
          #{link_to("Editar Opinión", edit_restaurant_review_path(review.restaurant,review))} | #{link_to("Borrar", [review.restaurant,review], :confirm => t(:are_you_sure), :method=>:delete)}
        = review.created_at.strftime("%d-%m-%y")
      .title "#{review.title.titleize}"
      .restaurant_name= review.restaurant.name.titleize
    .text.full= review.opinion.titleize
    .opinion.full
      .recomendations.half
        %h4 Lo recomienda para ir:
        - review.recommended_for.each do |rec|
          %p= label_tag(t(rec))
        %h4 No lo recomienda para ir:
        - review.unrecommended_for.each do |rec|
          %p= label_tag(t(rec))
      .stars_and_customer_type.half
        %h4 Valoraciones
        - review.ratings.each do |val|
          .full= show_stars review[val], val
        %h4 Acudió
        %p= label_tag(CUSTOMER_TYPES[review.customer_type])
    .extra_info.full.gray-with-gray-round-borders
      .half.photo_list
        %h3.center-text Fotos
        = render review.photos, :classes => 'small very scalable', :size => :medium_cropped
      .half.ticket
        %h3.center-text Menu
        .lines= render review.ticketlines
        .total.full
          .name.right-text Total
          .price.right-text #{(review.ticketlines.map {|t| t.course.price * t.quantity}).sum}
          .coin-symbol.right-text.float-right €