= form_for [@review.restaurant, @review],:html=>{:multipart=>true} do |f|
  .tricolumn
    %nav.col.gray_column.animated_menu= render "shared/common/nav_column",:sections=>[t(:opinion), t(:ratings), t(:recomendations), t(:about_your_visit), t(:courses) ]
    %section.col.middle
      %header#restaurant_header
        .restaurant_name= @review.restaurant.name
        .full
          .actions.half= link_to 'Volver al restaurante',@review.restaurant
          .restaurant_town.half= "#{@review.restaurant.town}(#{PROVINCES[@review.restaurant.province]})" unless @review.restaurant.town.blank?
      = render "shared/common/fieldset",:form=>f, :legend=>:opinion,:fields=>[[:title,:string],[:opinion,:text]]
      = render "shared/common/fieldset_bicolumn",:form=>f, :legend=>:ratings,:fields=>@review.ratings.map{|e| [e,:integer]}
      = render "shared/common/fieldset_bicolumn",:form=>f, :legend=>:recomendations,:fields=>@review.recomendations.map{|e| [e,:boolean]}
      = render "shared/common/fieldset",:form=>f, :legend=>:about_your_visit,:fields=>[:customer_type,:price,:main_food,:second_food].map{|e| [e,:integer]}
      = render "shared/common/ticketlines_fieldset",:form=>f,:legend=>:ticketlines
      .buttons.center-text
        .button=f.submit 'Crear '+t(f.object.class.name.downcase), :class=>:default_button
    %section.col
      = render "shared/common/photos_fieldset",:legend=>:photos,:form=>f,:attachable=>@review