var p = {}, $fields_for, $fieldset, $added, $sender = $("#<%= params[:sender] %>"), key = "num_"+$sender.attr('rel');
p[key] = $.deparam.querystring($sender.attr("href"))[key];
if ( $sender.attr("id")=="add_photo_link" ){
    alert("photo_link");
    $fields_for = $("<%= escape_javascript( form_for(@review) { |f| render "shared/common/photos_fieldset",:form=>f,:legend=>:photos } )%>");
    $("#add_course_link").attr("href",$.param.querystring( $("#add_course_link").attr("href"), p ) );
    $added = $fields_for.find(".field:last").hide();
    $sender.parent().before($added);
    p[key] = parseInt( p[key] ) + 1;
    $sender.attr("href",$.param.querystring( $sender.attr("href"), p ) );
    $added.show(200);
} else if ( $sender.attr("id")=="add_course_link" ){
    var $new_course_field = $("<%= escape_javascript( render "courses/course_direct_form",:course=>Course.new(:category=>params[:category].to_i),:editable=>true ) %>");
    $(".category.visible .add_course_link").before( $new_course_field );
} else { alert("unknown sender"); }