- title "Show review"
.tricolumn
  %nav.col.gray_column= render "shared/restaurant_partials/left_col_show",:restaurant => @review.restaurant
  %section.col
    %header#restaurant_header
      .restaurant_name= @review.restaurant_name
      .full
        .actions.half= link_to("Editar opinión", edit_restaurant_review_path(@review.restaurant,@review)) if @review.user_id == current_user.try(:id)
        .restaurant_town.half= "#{@review.restaurant_town}(#{PROVINCES[@review.restaurant_province]})" if @review.restaurant_town.present?
    = render(@review)
  %section.col
    .legend= t(:photos).humanize
    = @review.restaurant.all_photos.size>=1 ? render("shared/common/popeye",:photos=>@review.restaurant.all_photos) : 'No hay fotos de este restaurante'