%fieldset{:id=>"#{@section}_fieldset" }
  = render(:state => :header)
  .bicolumn
    .half.left
      - @fields.slice(0, @fields.size/2).each_with_index do |lf,index|
        = render({:state => :field},lf,index)
    .half.right
      - @fields.slice(@fields.size/2, @fields.size/2).each_with_index do |rf,index|
        = render({:state => :field},rf,index)