-if flash.count>0
  #flash{:class=>('permanent' if session[:permanent]) }
    - session[:permanent] = false
    .wrapper
      .text
        - flash.each do |name, msg|
          - if msg=='username'
            = content_tag :div, :id => "flash_#{name}" do
              = "Ya estás registrado. Tu nombre de usuario es #{current_user.username}. Ve a tu "
              = link_to('perfil',edit_profile_path)
              = ' para cambiarlo.'
          - else
            = content_tag :div, msg, :id => "flash_#{name}"
      #close_flash= image_tag 'iconos/close_red.png'