%footer#main_footer
  .wrapper
    Copyright © 2010 #{mail_to 'miguel.camba@gmail.com', 'Miguel Camba Gamazo'}
    | #{link_to 'Twitter','http://twitter.com/#!/MiguelCamba'} | #{link_to 'LinkedIn','http://es.linkedin.com/in/miguelcamba'}
    | #{link_to 'Blog','http://masquerailes.wordpress.com/'}
