%head
  %title= yield(:title) || 'Untitled'
  = stylesheet_link_tag 'compiled/layout','jquery.popeye'
  = javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false'
  = javascript_include_tag 'modernizr-1.6.min.js','jquery-1.5','jquery.plugins/jquery.equalheights','jquery.plugins/jquery.popeye-2.0.4','jquery.plugins/jquery.filestyle.mini' ,'jquery.plugins/iphone-style-checkboxes','rails','application','effects','jquery.plugins/jquery.ba-bbq.min','jquery.plugins/jquery.sb.min'
  = javascript_include_tag 'markermanager_packed','infobox_packed','maps'
  = yield :head
  = csrf_meta_tag