%header#main_header
  .wrapper
    .header_title
      =link_to 'Vamos De Cena', root_path
      %span.com=link_to '.COM', root_path
    %nav#main_nav
      .item
        .item_title.center-text= t(:restaurant).pluralize
        .item_content
          %li= link_to 'Nuevo Restaurante', new_restaurant_path
          %li Enlace Vacío 1
          %li Enlace Vacío 2
      - if current_user && current_user.admin?
        .item
          .item_title.center-text= link_to t(:administration), admin_index_path(:users)
      - if current_user
        .item.logged.right.right-text
          .item_title
            Conectado como #{link_to (current_user.username || current_user.email),current_user}
            | #{link_to 'Perfil', edit_user_path(current_user)} | #{link_to 'Salir', destroy_user_session_path}
      - else
        .item.right
          .item_title.center-text= link_to 'Registro', new_user_registration_path
        .item.login.right
          .item_title.center-text= link_to 'Login', new_user_session_path
          .item_content
            .center-text Accede con tu cuenta de
            .providers
              -%w(twitter facebook google_apps open_id).each do |p|
                =link_to image_tag("iconos/#{p}_icon_white.png", :size => '27x27', :alt => p), '/auth/'+p
            .center-text O con tu email
            #sign_in_reduced= render 'devise/sessions/sign_in_form_reduced'
  #flash{:class=>('permanent' if session[:permanent]) }
    - session[:permanent] = false
    .wrapper
      .text
        - flash.each do |name, msg|
          - if msg == 'username'
            %p Ya estas registrado. Tu nombre de usuario es #{current_user.username}. Ve a tu #{link_to 'perfil', edit_user_path(current_user)} para cambiarlo.
          - else
            %p{:id=>'flash'+name.to_s}=msg
      = flash.count > 0 ? image_tag('iconos/close_red.png',:id=>'close_flash') : ''