%nav#main_nav
  .links
    .wrapper
      .dropDownMenu
        .title.center-text Restaurantes
        .content
          %li= link_to 'Nuevo Restaurante', new_restaurant_path
          %li Enlace Vacío 1
          %li Enlace Vacío 2
      - if current_user && current_user.admin?
        .dropDownMenu
          .title.center-text Administración
          .content
            %li= link_to 'Restaurantes', restaurants_path
            %li= link_to 'Opiniones', reviews_path
            %li= link_to 'Usuarios', users_path
      - if current_user
        .item.logged.right
          Conectado como
          =link_to (current_user.username || current_user.email),my_profile_path
          |
          =link_to 'Perfil', edit_profile_path
          |
          =link_to 'Salir',destroy_user_session_path
      - else
        .item.right
          .title.center-text=link_to 'Registro',new_user_registration_path
        .dropDownMenu.right
          .title.center-text= link_to 'Login', new_user_session_path
          .content
            %p.center-text Accede con tu cuenta de
            .providers
              -%w(twitter facebook google_apps open_id).each do |p|
                %li=link_to image_tag("iconos/#{p}_icon_white.png", :size => '27x27', :alt => p), '/auth/'+p
            %p.center-text O con tu email
            #sign_in_reduced= render 'devise/sessions/sign_in_form_reduced'