.highlight 
%li= link_to "Users", users_path, { :resource => :users, :remote=>true, 'data-active'=> (controller_name=="users")}
%li= link_to "Restaurants", restaurants_path, { :resource => :restaurants, :remote=>true, 'data-active'=> (controller_name=="restaurants") }
%li= link_to "Reviews", reviews_path, { :resource => :reviews, :remote=>true,'data-active'=> (controller_name=="reviews") }
%li
  %a Cuatro
%li
  %a Cinco