!!!
%html
  = render "layouts/head"
  %body
    = render "layouts/header"
    #main.wrapper
      .bicolumn
        %nav.col.gray_column= render_cell :tricolumn_form, :only_nav_column, :sections => [:user, :restaurant, :review, :course, :ticketline], :controller => controller_name
        %section.index= yield
    = render "layouts/footer"