!!!
%html
  = render "layouts/head"
  %body
    = render "layouts/header"
    #main.wrapper
      .bicolumn
        %nav.col.gray_column= render 'shared/common/nav_column',:sections=>%w(user restaurant review course ticketline), :index=>true
        %section.index= yield
    = render "layouts/footer"